<?php
$params  = Globals::returnParams($this->params);
$section = $params['id'];
$limit   = $params['limit'];
$title   = $params['title'];
$bottom_link   = $this->html;

$products_obj = new four_products_sections_widget($section  , $limit);
$data = $products_obj->data;
?>

<div class="row gradient-top">
	<div class="inner-shadow-top">&nbsp;</div>
	<div class="w10 ">
		<div class="latest-products">
			<h3 class="heading"><span><?php echo Globals::trl($title);?></span></h3>
			
			<!-- start loop -->
			<?php
     		foreach ($data as $key => $prd) {
     			$price = Globals::getPrice($prd['start_price'] , $prd['end_price']);
     		?>

			<div class="w25 latest-product">
			
			<?php if($price['price'] > 0 && !empty($price['offer_price'])){ 
						$sales_percent = (($price['price'] - $price['offer_price']) / $price['price']) * 100;		
			?>
			<span class="badge-discount discount-20">
				<div class="price_box"><div class="price">-<?php echo round($sales_percent)?></div></div>
			</span>
			<?}?>

				<div class="p10">
					<a href="/product/<?php echo $prd['product_id']?>/<?php echo $prd['friendly_url']?>"><img src="<?php echo $prd['main_photo']?>" class=""></a>
					<h3><a href="/product/<?php echo $prd['product_id']?>/<?php echo $prd['friendly_url']?>"><?php echo $prd['name']?></a></h3>
					
					<span class="price"><?php echo $price['offer_price'].$price['curr']?></span>

					<div class="clr"></div>
				</div>
			</div>	
			<?php }?>					
			<!-- end loop -->
		</div>
	</div>
</div>