<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>DPG eshop</title>
    <meta name="application-name" content="DPG wcms platform" />

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Le styles -->
    <!-- Use new way for google web fonts 
    http://www.smashingmagazine.com/2012/07/11/avoiding-faux-weights-styles-google-web-fonts -->
    <!-- Headings -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css' />  -->
    <!-- Text -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css' /> --> 
    <!--[if lt IE 9]>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:700" rel="stylesheet" type="text/css" />
    <![endif]-->

    <!-- Core stylesheets do not remove -->
    <link href="<?=assetsdir;?>css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="<?=assetsdir;?>css/bootstrap/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <link href="<?=assetsdir;?>css/supr-theme/jquery.ui.supr.css" rel="stylesheet" type="text/css"/>
    <link href="<?=assetsdir;?>css/icons.css" rel="stylesheet" type="text/css" />
    <link href="<?=assetsdir;?>plugins/forms/select/select2.css" rel="stylesheet" type="text/css" />
    

    <!-- Plugins stylesheets -->
    <link href="<?=assetsdir;?>plugins/misc/qtip/jquery.qtip.css" rel="stylesheet" type="text/css" />
    <link href="<?=assetsdir;?>plugins/misc/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" />
    <link href="<?=assetsdir;?>plugins/misc/search/tipuesearch.css" type="text/css" rel="stylesheet" />
    <link href="<?=assetsdir;?>plugins/forms/smartWizzard/smart_wizard.css" type="text/css" rel="stylesheet" />
    <link href="<?=assetsdir;?>plugins/forms/uniform/uniform.default.css" type="text/css" rel="stylesheet" />
    <link href="<?=assetsdir;?>plugins/misc/pnotify/jquery.pnotify.default.css" type="text/css" rel="stylesheet" />
    <link href="<?=assetsdir;?>plugins/forms/validate/validate.css" type="text/css" rel="stylesheet" />

    

    <!-- Main stylesheets -->
    <link href="<?=assetsdir;?>css/main.css" rel="stylesheet" type="text/css" /> 

    <?= $this->headLink() ?>


    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript">
        //adding load class to body and hide page
        document.documentElement.className += 'loadstate';
    </script>
    </head>
      
    <body>
    <!-- loading animation -->
    <div id="qLoverlay"></div>
    <div id="qLbar"></div>
        
    <?php echo $this->partial('header.phtml');?> 

    <div id="wrapper">
        
        <!--Left Sidebar collapse button-->  
        <div class="collapseBtn leftbar">
             <a href="#" class="tipR" title="Hide Left Sidebar"><span class="icon12 minia-icon-layout"></span></a>
        </div> 

        <!--Sidebar background-->
        <div id="sidebarbg"></div>          
        <?php echo $this->partial('sidebar.phtml');?> 
        
        <!--Body content-->
        <div id="content" class="clearfix">
            <div class="contentwrapper"><!--Content wrapper-->
                <?php echo $this->partial('path.phtml');?> 
                <?php echo $this->layout()->content;?>
            </div><!-- End contentwrapper -->
        </div><!-- End #content -->

    </div><!-- End #wrapper -->
    
    <!-- Important plugins put in all pages -->
    <script type="text/javascript" src="<?=assetsdir;?>js/bootstrap/bootstrap.js"></script>  
    <script type="text/javascript" src="<?=assetsdir;?>js/jquery.cookie.js"></script>
    <script type="text/javascript" src="<?=assetsdir;?>js/jquery.mousewheel.js"></script>

    <!-- Charts plugins -->
    <script type="text/javascript" src="<?=assetsdir;?>plugins/charts/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="<?=assetsdir;?>plugins/charts/flot/jquery.flot.grow.js"></script>
    <script type="text/javascript" src="<?=assetsdir;?>plugins/charts/flot/jquery.flot.pie.js"></script>
    <script type="text/javascript" src="<?=assetsdir;?>plugins/charts/flot/jquery.flot.resize.js"></script>
    <script type="text/javascript" src="<?=assetsdir;?>plugins/charts/flot/jquery.flot.tooltip_0.4.4.js"></script>
    <script type="text/javascript" src="<?=assetsdir;?>plugins/charts/flot/jquery.flot.orderBars.js"></script>
    <script type="text/javascript" src="<?=assetsdir;?>plugins/charts/sparkline/jquery.sparkline.min.js"></script><!-- Sparkline plugin -->
    <script type="text/javascript" src="<?=assetsdir;?>plugins/charts/knob/jquery.knob.js"></script><!-- Circular sliders and stats -->

    <!-- Misc plugins -->
    <script type="text/javascript" src="<?=assetsdir;?>plugins/misc/fullcalendar/fullcalendar.min.js"></script><!-- Calendar plugin -->
    <script type="text/javascript" src="<?=assetsdir;?>plugins/misc/qtip/jquery.qtip.js"></script><!-- Custom tooltip plugin -->
    <script type="text/javascript" src="<?=assetsdir;?>plugins/misc/totop/jquery.ui.totop.min.js"></script> <!-- Back to top plugin -->
    <!-- Search plugin -->
    <script type="text/javascript" src="<?=assetsdir;?>plugins/misc/search/tipuesearch_set.js"></script>
    <script type="text/javascript" src="<?=assetsdir;?>plugins/misc/search/tipuesearch_data.js"></script><!-- JSON for searched results -->
    <script type="text/javascript" src="<?=assetsdir;?>plugins/misc/search/tipuesearch.js"></script>

    <!-- Form plugins -->
    <script type="text/javascript" src="<?=assetsdir;?>plugins/forms/watermark/jquery.watermark.min.js"></script>
    <script type="text/javascript" src="<?=assetsdir;?>plugins/forms/uniform/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="<?=assetsdir;?>plugins/misc/pnotify/jquery.pnotify.min.js"></script>
    <script type="text/javascript" src="<?=assetsdir;?>plugins/forms/validate/jquery.validate.min.js"></script>
    <script type="text/javascript" src="<?=assetsdir;?>plugins/forms/tiny_mce/jquery.tinymce.js"></script>
    <script type="text/javascript" src="<?=assetsdir;?>plugins/forms/select/select2.min.js"></script>

    
    <!-- Fix plugins -->
    <script type="text/javascript" src="<?=assetsdir;?>plugins/fix/ios-fix/ios-orientationchange-fix.js"></script>

    <!-- Important Place before main.js  -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
    <script type="text/javascript" src="<?=assetsdir;?>plugins/fix/touch-punch/jquery.ui.touch-punch.min.js"></script><!-- Unable touch for JQueryUI -->

    <!-- Init plugins -->
    <script type="text/javascript" src="<?=assetsdir;?>js/main.js"></script><!-- Core js functions -->
    <script type="text/javascript" src="<?=assetsdir;?>js/dashboard.js"></script><!-- Init plugins only for page -->

    <?= $this->headScript() ?>
    <div id="ajax_loader" style="display:none;"><img src="<?=assetsdir;?>images/loader.gif" border="0" /></div>

    <script type="text/javascript">
        $(document).ready(function () {
            $(window).resize(function() {
              $("#ajax_loader").width($(window).width());
              $("#ajax_loader").height($(window).height());

            });

            $("#ajax_loader").width($(window).width());
            $("#ajax_loader").height($(window).height());
       
            $(function () {
                $("#ajax_loader").bind("ajaxSend", function () {
                    $(this).show();
                }).bind("ajaxComplete", function () {
                    $(this).hide();
                });
            });

            //Tag cloudes
            $("select.tags").select2();

        });
    </script>
    </body>
</html>
