<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>DPG eshop</title>
    <meta name="application-name" content="DPG wcms platform" />

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- styles -->
    <link href="<?=assetsdir;?>css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="<?=assetsdir;?>css/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
    <link href="<?=assetsdir;?>css/supr-theme/jquery.ui.supr.css" rel="stylesheet" type="text/css"/>
    <link href="<?=assetsdir;?>css/icons.css" rel="stylesheet" type="text/css" />
    <link href="<?=assetsdir;?>plugins/forms/uniform/uniform.default.css" type="text/css" rel="stylesheet" />

    <!-- Main stylesheets -->
    <link href="<?=assetsdir;?>css/main.css" rel="stylesheet" type="text/css" /> 

	<!-- Jquery -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    </head>
      
    <body class="loginPage">

    <?php echo $this->layout()->content;?>

    
    <script type="text/javascript" src="<?=assetsdir;?>js/bootstrap/bootstrap.js"></script>  
    <script type="text/javascript" src="<?=assetsdir;?>plugins/forms/validate/jquery.validate.min.js"></script>
    <script type="text/javascript" src="<?=assetsdir;?>plugins/forms/uniform/jquery.uniform.min.js"></script>

    </body>
</html>
