  <?php
  if(!empty($this->notices)){
  	if($this->notices['type'] == "login_widget"){
  		$error_msg = $this->notices['message'];
  	}
  }

  $login_obj = new login_widget();
   if($login_obj->login_status == "offline"){
  ?>
<!--   Case Offline -->
  <div id="loginform"class="panel">
    <span class="information left-item p10 module-mask"></span>
	<div class="right-box"> 
		<h3 class="green-color">ΕπαγγελματίεςΥγείας</h3>
	</div>
     <div class="clr"></div>
	 <form name="login" method="post" action="/login">
	   
	   <label>Όνομα χρήστη</label>
	   <input type="text" name="email">
	   
	   <label>Κωδικός Πρόσβασης</label>
	   <input type="password" name="password">
	   <?php
	   	if(!empty($error_msg)){
	   		echo "<p>".$error_msg."</p>";
	   	}
	   ?>
	   <input type="submit" value="Είσοδος" class="button">

	</form>
 </div>
 
 <?php }else{?>
<!-- Case Online -->

  <div id="loginform"class="panel">
    <span class="information left-item p10 module-mask"></span>
	<div class="right-box"> 
		<h3 class="green-color">ΕπαγγελματίεςΥγείας</h3>
	</div>
     <div class="clr"></div>
	 
	 <input type="button" value="Έξοδος" class="button" onclick="javascript: window.location = '/logout';">

 </div>


 <?php }?>