
<?php if ($this->pageCount > 1): ?>
<ul class="pagination">
<!-- Previous page link -->
<?php if (isset($this->previous)): ?>
  <li><a href="<?php echo $this->url(array('curr_page' => $this->previous), 'search') ?>">
    <?php echo Globals::trl('previous');?>
  </a></li>
<?php else: ?>
  <li><a href="#"><?php echo Globals::trl('previous');?></a></li>
<?php endif; ?>
 
<!-- Numbered page links -->
<?php foreach ($this->pagesInRange as $page): ?>
  <?php if ($page != $this->current): ?>
    <li><a href="<?php echo $this->url(array('curr_page' => $page), 'search') ?>">
        <?php echo $page; ?>
    </a></li>
  <?php else: ?>
    <li class="active"><a href="<?php echo $this->url(array('curr_page' => $page), 'search') ?>">
        <?php echo $page; ?>
    </a></li>
  <?php endif; ?>
<?php endforeach; ?>
 
<!-- Next page link -->
<?php if (isset($this->next)): ?>
  <li><a href="<?php echo $this->url(array('curr_page' => $this->next), 'search') ?>">
    <?php echo Globals::trl('next');?>
  </a></li>
<?php else: ?>
  <li><a href="#"><?php echo Globals::trl('next');?></a></li>
<?php endif; ?>
</ul>
<?php endif; ?>