
<div class="content">
	<div class="main">
		<div class="p20">

			<div class="row">
				<div class="w10">
					<h3 class="heading"><span><?php echo Globals::trl('Contact Form');?></span></h3>		
				</div>
			</div>

			<!-- Error Section -->
			<div class="p10" id="error-section-form" style="display:none">
				<p class="info"></p>		
			</div>

			
			<div class="row">
				<div class="w10">
					<div class="register">
						<form id="contact-form">
						
							<fieldset class="block-labels">
								<label><?php echo Globals::trl('Firstname');?></label>
								<div class="w7">
									<input class="inputbox" autofocus="autofocus" required="required" type="text" placeholder="" name="firstname" value="" />
								</div>
								<div class="w3">&nbsp;</div>
							</fieldset>
							
							<fieldset class="block-labels">
								<label><?php echo Globals::trl('Lastname');?></label>
								<div class="w7">
									<input class="inputbox" type="text" required="required" placeholder="" name="lastname" value="" />
								</div>
								<div class="w3">&nbsp;</div>
							</fieldset>
							
							<fieldset class="block-labels">
								<label>Email</label>
								<div class="w7">
									<input class="inputbox" type="email" required="required" placeholder="your@email.com" name="email" value="" />
								</div>
							</fieldset>

							<fieldset class="block-labels">
								<label><?php echo Globals::trl('Phone');?></label>
								<div class="w7">
									<input class="inputbox" type="text" required="required" placeholder="+30 210 XXXXXXX" name="phone" value="" />
								</div>
							</fieldset>

							<fieldset class="block-labels">
								<label><?php echo Globals::trl('Comment');?></label>
								<div class="w7">
									<textarea class="inputbox" name="comment" id="comment" rows="5" cols="20"></textarea>
								</div>
							</fieldset>
							

							
							<div class="border-btm"></div>
							
							<fieldset>
								<button class="button button-green" id="contact_form_btn"><?php echo Globals::trl('SEND');?></button>
							</fieldset>
							
						</form>
					</div>	
				</div>
			</div>
			
		</div>
	</div>
</div>