<div class="content">
<?php 
$content = $this->content[0];
?>

<div class="main">
		<div class="p20">
		
			<div class="row">
				<div class="w10">
				
					<div class="p10">
						<h1><?php echo $content['title'];?></h1>
					</div>
					
					
					
					<div class="p10">
							<p>
								<?php echo $content['f_desc'];?>
							</p>
					</div>			

										
				</div>
			</div>
			
		</div>
	</div>
</div>