<?php
$data = array('product' => $this->product, 
			  'product_id' => $this->product[0]['product_id'], 
			  'gallery' => array('gallery_data' => $this->gallery), 
			  'attributes' => $this->attributes, 
			  'acc_products' => $this->acc_products);

//new dBug($data);
//set default product view
if($this->product[0]['product_view_template'] == "0"){
	$product_view = "default.phtml";
}else{
	$product_view = $this->product[0]['product_view_template'];
}

?>

<div class="content">
	<div class="main">
		<div class="p20">
			
			<div class="p10" id="error-section-form" style="display:none">
				<p class="info"></p>		
			</div>

			<?php echo $this->partial('partial_products/'.$product_view, $data);?>

		</div>
	</div>
</div>