<?php
$data = $this->data;
?>
<div class="content">
  <div class="main">
    <div class="p20">


      <!-- category listing actions -->
      <div class="row">
        <div class="row list-actions">
          <div class="w6">
            <div class="p0-10">
              <div class="list-short">

                <fieldset>
                  <label><?php echo Globals::trl('Sorting');?></label>
                  <select id="orderby" name="orderby" class="pseudo" data-action="change-values">
                    <option value="product_id desc"><?php echo Globals::trl('Latest Products');?></option>
                    <option value="end_price asc" selected="selected"> <?php echo Globals::trl('Price ascending');?></option>
                    <option value="end_price desc"><?php echo Globals::trl('Price descending');?></option>
                  </select>
                </fieldset>

              </div>
            </div>
          </div>
          <div class="w4">
            <div class="p0-10">
              <div class="list-limit text-right">

                <fieldset>
                  <label><?php echo Globals::trl('Products per page');?></label>
                  <select id="limit" name="limit" class="pseudo" data-action="change-values">
                    <option value="9" selected="selected">9</option>
                    <option value="18">18</option>
                    <option value="27">27</option>
                  </select>
                </fieldset>

              </div>
            </div>
              
          </div>
        </div>
      </div>
      
      <div class="p10" id="error-section-form" style="display:none">
        <p class="info"></p>    
      </div>

      <!-- products list -->
      <div class="row">
        <div class="w4">
          <div class="p10">
          
            <h2 class="category-title">
              <a href="?page=product"><?php echo Globals::trl('Search Results')?> (<?php echo $_SESSION['search']['search_string']?>)</a>
            </h2>
          </div>
        </div>
        <!-- Pagination -->
        <div class="w6">
          <div class="p10 text-right">
            <?php echo $this->partial('partials_pagination/pagination_search.phtml', $this->pagination_data);?>
          </div>
        </div>
      </div>
      
      <!-- Partial Product Loop -->
      <?php $count = 3 ?>
      <div class="row product-list">  
      <?php
      if(!empty($data)) {
        foreach ($data as $key => $grid_data_row) {
        $prd_num = $key+1;
      ?>    
          
      <?php echo $this->partial('partial_grid/product_default.phtml' , $grid_data_row); ?>
      <?php
        if (($prd_num % $count )==0) {
      ?>
      <div class="clr"></div>
      <?php }?>
      

      <?php  
        }
      }
      ?>
      </div>


      <!-- products list -->
      <div class="row">
        <div class="w4">
          <div class="p10">
          
          </div>
        </div>
        <!-- Pagination -->
        <div class="w6">
          <div class="p10 text-right">
            <?php echo $this->partial('partials_pagination/pagination_search.phtml', $this->pagination_data);?>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function () { 
    
    var sorting      = "<?php echo $_SESSION['products_cat_properties']['prd_sorting']; ?>";
    var prd_per_page = "<?php echo $_SESSION['products_cat_properties']['prd_per_pages']; ?>";
    
    //select default options
    $("#orderby").find('option[value="'+sorting+'"]').attr("selected",true);
    $("#limit").find('option[value="'+prd_per_page+'"]').attr("selected",true);

    $("#orderby , #limit").change(function() {
        var value = $("#"+this.id).val();
        eshop.change_cat_properties(this.id , value, function(res) { 
          if(res == true){
            document.location.reload(true);
          }
        });  
    }); 

}); 
</script>