<mywebstore>
   <created_at><?php echo date("Y-m-d H:i")?></created_at>
   <products>
      <?php foreach ($this->products as $key => $product) { ?>
      <product>
          <id><?php echo $product['product_id']?></id>
          <name><![CDATA[<?php echo $product['name']?>]]></name>
          <link><![CDATA[http://www.paoshop.gr/product/<?php echo $product['product_id']?>/<?php echo $product['friendly_url']?>]]></link>
          <image><![CDATA[http://www.paoshop.gr<?php echo $product['main_photo']?>]]></image>
          <category id="<?php echo $product['tag_id']?>"><![CDATA[<?php echo $product['tag']?>]]></category>
          
          <price_with_vat><?php echo $product['end_price']?></price_with_vat>
          <manufacturer><![CDATA[paoshop.gr]]></manufacturer>
          
          <description><![CDATA[<?php echo $product['prd_description']?>]]></description>
          <weight><?php echo $product['weight'] * 1000?></weight>
          <mpn><?php echo $product['product_code']?></mpn>
          <instock>Y</instock>
          <availability>Άμεσα</availability>
      </product>
      <?php }?>
   </products>
</mywebstore>


