		<?php
			$params = Globals::returnParams($this->params);
			$tag = $params['tag'];

			$menu_obj = new menu($tag);

			$action = $_SESSION['request']->action;

		?>

		<?php
		if($params['type'] == "side"){
			if($action == "tags"){
				$active_item_id = $_SESSION['request']->getParam('pageId');
				//new dBug($active_item_id);
			}

			$title = "<dt>".Globals::trl($menu_obj->menu_data[0]['menu_name'])."</dt>";
			$menu = $menu_obj->generatePageTree($menu_obj->menu_data , 'dl' , 'dd' , 0 , 0 , $title , $active_item_id);
		?>

			 <?php echo $menu;?>


		<?php
		}else{
			$menu = $menu_obj->generatePageTree($menu_obj->menu_data);
		?>
			<div class="w2">

				<div class="p10">
					<h4 class="definition"><?php echo Globals::trl($menu_obj->menu_data[0]['menu_name']);?></h4>
		       	<?php echo $menu;?>
				</div>
			</div>
	
		<?php
		}
		?>
