	<?php
	$gall_data = (array) $this->gallery_data;
	?>
	<div class="product-thumb" id="unit-6547">
		<div class="p10">
			<!-- for each loop and visible the fisrt one-->
			<?php 
			foreach ($gall_data as $key => $photo) { 
				if($key == 0){
					$active = "active ";
				}else{
					$active = "";
				}
			?>
				
				<a class="<?php echo $active?>fancybox" rel="gallery-unit-6547" href="<?php echo $photo['photo_path']?>">
					<img class="gall_image" src="<?php echo $photo['photo_path']?>" />
				</a>
			<?php }?>
			<!-- endforeach -->
		</div>
	</div>
	