<script type="text/javascript" src="/public/assets/js/jquery.elevateZoom-2.5.5.min.js"></script>  
	
        <?php
	$gall_data = (array) $this->gallery_data;
	?>
	<div class="product-thumb" id="unit-6547">
		<div class="p10">
			<!-- for each loop and visible the fisrt one-->
			<?php 
			foreach ($gall_data as $key => $photo) { 
				if($key == 0){
					$active = "active ";
				}else{
					$active = "";
				}
			?>
				
				<a class="<?php echo $active?>"  href="<?php echo $photo['photo_path']?>">
					<img src="<?php echo $photo['photo_path']?>" data-zoom-image="<?php echo $photo['photo_path']?>" class="zoom_image"/>
				</a>
			<?php }?>
			<!-- endforeach -->
		</div>
	</div>
	
	<!-- if product has more than one image -->
	<div class="product-thumbs">
		<ul>
			<?php 
			foreach ($gall_data as $key => $photo) { ?>
			<li>
				<a href="<?php echo $photo['photo_path']?>">
					<img src="<?php echo $photo['photo_path']?>"  />
				</a>
			</li>
			<?php }?>
		</ul>
	</div>
	<!-- endif -->
 <!-- http://www.elevateweb.co.uk/ -->
        <script type="text/javascript">
            $(".zoom_image").elevateZoom({
              zoomType: "inner",
              cursor: "crosshair"
            });            
        </script>   