        <div class="span3">
            <div class="todo">
                <h4><?echo Globals::trl('Web site menus');?><a class="icon tip" href="#" oldtitle="<?echo Globals::trl('Add');?>" title="" id="addmenu"><span class="icon16 icomoon-icon-plus-2"></span></a></h4>
                <ul id="menu_list">
                    <?foreach ($this->menus as $key => $value) {?>
                        <li class="clearfix" id="<?=$value['menu_id'];?>">
                            <div class="txt">
                               <span class="getMenuData" style="cursor:pointer;" rel="<?=$value['menu_id'];?>"> <?=$value['menu_name'];?> </span>
                            </div>
                            <div class="controls">
                                <a class="tip edit" href="#" oldtitle="<?echo Globals::trl('Edit');?>" title="" id="<?=$value['menu_id'];?>"><span class="icon12 icomoon-icon-pencil"></span></a>
                                <a class="tip delete" href="#" oldtitle="<?echo Globals::trl('Remove');?>" title="" id="<?=$value['menu_id'];?>"><span class="icon12 icomoon-icon-remove"></span></a>
                            </div>
                        </li>
                    <?}?>
                </ul>
            </div>
        </div>

        <div id="menu_container_box">

        </div>

        <div class="span6" id="wizzard_div">
            <div class="box gradient">

                <div class="title">

                    <h4>
                        <span>Οδηγός δημιουργίας περιεχομένου</span>
                    </h4>

                </div>
                <div class="content noPad clearfix">
                   <!-- Smart Wizard -->
                    <div class="swMain" id="wizard">
                        <ul class="anchor">
                            <li>
                                <a href="#step-1" class="done" isdone="1" rel="1">
                                    <label class="stepNumber">1</label>
                                    <span class="stepDesc">
                                       Επιλογή θέσης
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-2" class="selected" isdone="1" rel="2">
                                    <label class="stepNumber">2</label>
                                    <span class="stepDesc">
                                       Φόρμα Plugin
                                    </span>
                                </a>
                            </li>
                         </ul>
                               
                        
                    <div class="stepContainer" style="height: 232px;"><div id="step-1" class="content" style="display: none;">   
                            <h3>Επιλέξτε πατρική κατηγορία</h3>
                            
                            <p style="width:523px;">Επιλέξτε σε πιο επίπεδο του μενού θα εμφανίζεται το περιεχόμενο
                            <div id="basic_section"></div>
                            <div id="multilanguage_div"></div>

                            </p>
                           
                        </div><div id="step-2" class="content" style="display: block;">
                           <h3>Συμπληρώστε την παρακάτω φόρμα</h3>
                            
                            <p style="width:523px;">Συμπληρώστε όλα τα απαραίτητα πεδία για την καταχώρηση του περιεχομένου.</p>
                            <div id="basic_section2"></div>
                            <p id="plugin_form"></p>

                        </div>
                    </div>
                </div><!-- End SmartWizard Content --> 
                       
                </div>

            </div><!-- End .box -->

        </div>        
        

        <div id="modal" title="<?echo Globals::trl('Add menu');?>" class="dialog">
            <p><?echo Globals::trl('Complete the form above');?></p>
            <div class="box">
                <div class="title">
                    <h4> 
                        <span><?echo Globals::trl('Add menu form');?></span>
                    </h4>
                </div>
                <div class="content">
                    <form id="addmenuform" class="form-horizontal">  
                        <div class="form-row row-fluid">
                            <div class="span12">
                                <div class="row-fluid">
                                    <label for="normal" class="form-label span4"><?echo Globals::trl('Title');?></label>
                                    <input type="text" name="menu_name" id="normalInput" class="span8 text">
                                </div>
                            </div>
                        </div>

                        <div class="form-row row-fluid">
                            <div class="span12">
                                <div class="row-fluid">
                                    <label for="tooltip" class="form-label span4"><?echo Globals::trl('Key name');?></label>
                                    <input type="text" name="possition_name" id="tooltipInput" class="span8 tip text" oldtitle="Template key" title="">
                                </div>
                            </div> 
                        </div>

                        
                        <div class="form-actions">
                           <button id="savemenu" class="btn btn-info" type="button"><?echo Globals::trl('Save');?></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="modal-edit" title="<?echo Globals::trl('Edit menu');?>" class="dialog">
            <p><?echo Globals::trl('Complete the form above');?></p>
            <div class="box">
                <div class="title">
                    <h4> 
                        <span><?echo Globals::trl('Edit menu form');?></span>
                    </h4>
                </div>
                <div class="content">
                    <form id="edit-menu-form" class="form-horizontal">  
                        <div class="form-row row-fluid">
                            <div class="span12">
                                <div class="row-fluid">
                                    <label for="normal" class="form-label span4"><?echo Globals::trl('Title');?></label>
                                    <input type="text" id="normalInput" name="menu_name" class="span8 text menu_name">
                                </div>
                            </div>
                        </div>

                        <div class="form-row row-fluid">
                            <div class="span12">
                                <div class="row-fluid">
                                    <label for="tooltip" class="form-label span4"><?echo Globals::trl('Key name');?></label>
                                    <input type="text" id="tooltipInput" name="possition_name" class="span8 tip text possition_name" oldtitle="Template key" title="">
                                </div>
                            </div> 
                        </div>

                        
                        <div class="form-actions">
                           <button class="btn btn-info" id="edit-save" type="button" onclick="javascript: menus.updatemenu();"><?echo Globals::trl('Save');?></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>        
        

        <div id="dialog-delete-confirm" title="<?echo Globals::trl('Alert');?>">
            <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span><? echo Globals::trl('These items will be permanently deleted and cannot be recovered. Are you sure?');?></p><br/>
             <button id="delete-menu" class="btn btn-info" type="button"><?echo Globals::trl('delete');?></button>
        </div>

        <div id="dialog-delete-confirm-item" title="<?echo Globals::trl('Alert');?>">
            <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span><? echo Globals::trl('This item will be permanently deleted and cannot be recovered. Are you sure?');?></p><br/>
             <button id="delete-item" class="btn btn-info" type="button"><?echo Globals::trl('delete');?></button>
        </div>        

        <!-- Required for multilanguage tabs-->
        <div id="multitabs">
            <div style="margin-bottom: 20px;" class="multitabs">
                <ul class="nav nav-tabs pattern" id="myTab">
                    <li class="dropdown active">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Languages <b class="caret"></b></a>
                        <ul class="dropdown-menu">

                         </ul>
                    </li>
                </ul>

                <div class="tab-content">

                </div>
            </div> 
        </div>
        

        <script type="text/javascript">
            $(document).ready(function () {
                menus.init({
                    open_firstmenu: false,
                    button_next: "επόμενο",
                    button_prev: "προηγούμενο",
                    button_complete: "ολοκλήρωση",
                    complete_wizard_msg: "Ο οδηγός καταχώρησης περιεχομένου ολοκληρώθηκε"
                });

                multiclone.init({
                    available_languages: [<?php echo Globals::avail_langs();?>]
                });

                dynaforms.init({
                    available_languages: [<?php echo Globals::avail_langs();?>]
                });
                                       
            });
        </script>
