<?php
	$voucher_obj = new voucher_widget();
	$voucher = $voucher_obj->voucher['v_code'];
?>


<div id="voucher-section" style="height:45px; background-color: #fff; padding: 6px;margin-bottom: 10px;">
 <fieldset style="width:auto; float:left;margin-top: 4px;">
  <label><?php echo Globals::trl('VOUCHER');?></label>
  <input class="inputbox" type="text" name="voucher_code" id="voucher_code" value="<?php echo $voucher;?>" style="width: auto;"> 
 </fieldset>
 <button class="button button-green check-voucher" style="margin-top:9px;"><?php echo Globals::trl('CHECK');?></button>
</div>
<div id="voucher-notice" style="width:670px; height:26px; padding:0px; float:left; background-color: #fff; padding:4px; display:none;"></div>

<div class="border-btm m-20-0"></div>