<?php
$params  = Globals::returnParams($this->params);
$section = $params['id'];
$limit   = $params['limit'];
$title   = $params['title'];


$products_obj = new top_product_sections_widget($section  , $limit);
$data = $products_obj->data;
?>
			<!-- start loop -->
			<?php
     		foreach ($data as $key => $prd) {
     			$price = Globals::getPrice($prd['start_price'] , $prd['end_price']);
     		?>

			<div class="row promo gradient-bottom">
				<div class="w10">
					<div class="p10">
					
						<a href="/product/<?php echo $prd['product_id']?>/<?php echo $prd['friendly_url']?>"><img src="<?php echo $prd['main_photo']?>" class="img-promo a-right" /></a>
						<h2>
							<a href="/product/<?php echo $prd['product_id']?>/<?php echo $prd['friendly_url']?>"><?php echo $prd['name']?></a>
						</h2>
						<p><?php echo $prd['prd_description']?></p>
						<a class="button-link" href="/product/<?php echo $prd['product_id']?>/<?php echo $prd['friendly_url']?>"><span class="button-side"><?php echo Globals::trl('BUY IT');?></span></a>
					</div>
				</div>
				<div class="inner-shadow-bottom">&nbsp;</div>
			</div>
			<?php }?>
