Dear <?php echo $this->customerName?>,
<br />  <br />  We would like to inform you that your order&nbsp;&nbsp;<?php echo $this->orderID?> was cancelled according to your request or due to dispatch problem. For further info, please contact us.&nbsp;&nbsp; 
<br />  <br />  Thank you for shopping with us,
<br />  <br />  <br />  PAO SHOP