Αγαπητέ/ή <?php echo $this->customerName?>,
<br />  <br />  We are sorry to inform you that your order <?php echo $this->orderID?> will be delayed. 
To learn more about this, please contact us at + 30 210 61 49 937.&nbsp;&nbsp; 
<br />  <br />  Thank you for your understanding,&nbsp;&nbsp; 
<br />  <br />  PAO SHOP