Dear customer <?php echo $this->customerName?>,
<br />  <br />  
<?php echo $this->orderComments?>
<br />  <br />  For more information, please contact us at + 30 210 350 31 21.
<br />  <br />  Thank you for your understanding,
<br />  <br />  PAO SHOP