Dear <?php echo $this->customerName?>,

<br />  <br />  We would like to inform you that your order was dispatched to the courier service and soon will be delivered to you.&nbsp;&nbsp; 
<br />  <br />  Order ID:<?php echo $this->orderID?>

<br />  <br />  Thank you for shopping with us!&nbsp;&nbsp;
<br />  <br />  PAO SHOP