

.left {float: left;}
.right {float: right;}

.clear,.clearer {clear: both;}
.clearer {
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
}


/*
	Example specifics
------------------------------------------------------------------- */

/* Layout */

#center-wrapper {
	margin: 0 auto;
	width: 90%;
}

#container{
	height: 800px;
	width: 70%;
	float: left;
}

/* Columns */

.column {
	margin-left: 2%;
	width: 20%;
	background-color: #F93;
	margin-bottom:15px;
	float:left;
	min-height: 100px;
}
.column.first {margin-left: 0; width:100%;	background-color: grey; float:left;}


/* Sortable items */

.sortable-list {
	float:left;
	list-style: none;
	margin: 0;
	min-height: 90px;
	min-width: 150px;
	padding: 10px;
}


.sortable-item {
	float:left;
	background-color: #FFF;
	border: 1px solid #000;
	cursor: move;
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 5px;
	margin-left:5px;
	text-align: center;
	width:150px;
}

/* Containment area */

#containment {
	background-color: #FFA;
	height: 230px;
}


/* Item placeholder (visual helper) */

.placeholder {
	background-color: #BFB;
	border: 1px dashed #666;
	height: 58px;
	margin-bottom: 5px;
}