<?php
$gravatar = $this->gravatar()
                 ->setEmail($_SESSION['adminpanel']['username'])
                 ->setImgSize(90)
                 ->setDefaultImg(Zend_View_Helper_Gravatar::DEFAULT_MONSTERID)
                 ->setSecure(true)
                 ->setAttribs(array('class' => 'image', 'title' => $_SESSION['adminpanel']['firstname'].' '.$_SESSION['adminpanel']['lastname']));

$controller = Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
$action = Zend_Controller_Front::getInstance()->getRequest()->getActionName();

if($controller == "index" && $action == "index"){
    $dashboard_active_class = "class='active'";
}else{
    $dashboard_active_class = "";
} 
?>
    <div id="header">

        <div class="navbar">
            <div class="navbar-inner">
              <div class="container-fluid">
                <a class="brand" href="/admin">DPG.<span class="slogan">eshop</span></a>
                <div class="nav-no-collapse">
                    <ul class="nav">
                        <li <?=$dashboard_active_class;?>><a href="/admin"><span class="icon16 icomoon-icon-screen-2"></span> <?echo Globals::trl('dashboard');?></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="icon16 icomoon-icon-cog"></span> <?echo Globals::trl('settings');?>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="menu">
                                    <ul>
                                        <li>                                                    
                                            <a href="/admin/datatables/table/languages"><span class="icon16 icomoon-icon-anchor"></span>
                                            <?echo Globals::trl('Languages');?></a>
                                        </li>
                                        <li>                                                    
                                            <a href="/admin/datatables/table/currencies"><span class="icon16 icomoon-icon-coins"></span>
                                            <?echo Globals::trl('Currencies');?></a>
                                        </li>                                         
                                        <li>
                                            <a href="/admin/datatables/table/gallery_types"><span class="icon16 icomoon-icon-picture-2"></span>
                                            <?echo Globals::trl('Photogalleries');?></a>
                                        </li>
                                        <li>                                                    
                                        <a href="/admin/datatables/table/home_sections"><span class="icon16 icomoon-icon-contract"></span><?echo Globals::trl('Template Sections');?></a>
                                        </li>
                                         <li><a href="/admin/datatables/table/attributes_groups"><span class="icon16 minia-icon-list-3"></span>
                                                <?echo Globals::trl('Attributes Groups');?></a>
                                        </li>
                                        <li><a href="/admin/datatables/table/attributes"><span class="icon16 minia-icon-list-4"></span>
                                            <?echo Globals::trl('eshop attributes');?></a>
                                        </li> 
                                        <li><a href="/admin/datatables/table/tags"><span class="icon16 icomoon-icon-tag"></span>
                                            <?echo Globals::trl('eshop tags');?></a>
                                        </li>
                                        <li><a href="/admin/datatables/table/pay_methods"><span class="icon16 icomoon-icon-coin"></span>
                                            <?echo Globals::trl('Payment Methods');?></a>
                                        </li>
                                        <li><a href="/admin/datatables/table/order_status"><span class="icon16 icomoon-icon-newspaper"></span>
                                            <?echo Globals::trl('Order status');?></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                      
                    </ul>
                  


                    <ul class="nav pull-right usernav">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown">
                                <?echo $gravatar;?>
                                <span class="txt"><?echo $_SESSION['adminpanel']['username'];?></span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="menu">
                                    <ul>
                                        <li>
                                            <a href="#"><span class="icon16 icomoon-icon-user-3"></span><?echo Globals::trl('change password');?></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="/admin/logout"><span class="icon16 icomoon-icon-exit"></span> <?echo Globals::trl('disconnect');?></a></li>
                    </ul>
                </div><!-- /.nav-collapse -->
              </div>
            </div><!-- /navbar-inner -->
          </div><!-- /navbar --> 

    </div><!-- End #header -->