                <?
                    $controller = Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
                    $action = Zend_Controller_Front::getInstance()->getRequest()->getActionName();
                    $pathstr = $controller.$action;
                ?>
                <div class="heading">

                    <h3><?echo Globals::trl($pathstr);?></h3>                    

                    <div class="resBtnSearch">
                        <a href="#"><span class="icon16 icomoon-icon-search-3"></span></a>
                    </div>

                    <div class="search">

                        <form id="searchform" action="search.html">
                            <input type="text" id="tipue_search_input" class="top-search" placeholder="<?echo Globals::trl('search');?> ..." />
                            
                        </form>
                
                    </div><!-- End search -->
                    
                    <ul class="breadcrumb">
                        <li><?echo Globals::trl('you are here');?>:</li>
                        <li>
                            <a href="/admin" class="tip" title="<?echo Globals::trl('back to dashboard');?>">
                                <span class="icon16 icomoon-icon-screen-2"></span>
                            </a> 
                            <span class="divider">
                                <span class="icon16 icomoon-icon-arrow-right-2"></span>
                            </span>
                        </li>
                        <li class="active"><?echo Globals::trl($pathstr);?></li>
                    </ul>

                </div><!-- End .heading-->