        <!--Sidebar content-->
        <div id="sidebar">        

            <div class="sidenav">

                <div class="sidebar-widget" style="margin: -1px 0 0 0;">
                    <h5 class="title" style="margin-bottom:0"><?echo Globals::trl('Navigation');?></h5>
                </div><!-- End .sidenav-widget -->

                <div class="mainnav">
                    <ul>

                         <li>
                            <a href="#"><span class="icon16 icomoon-icon-basket"></span><?echo Globals::trl('eshop');?></a>
                            <ul class="sub">
                                <li><a href="/admin/orders"><span class="icon16 icomoon-icon-chart"></span>
                                    <?echo Globals::trl('Orders');?></a>
                                </li>
                                <li><a href="/admin/datatables/table/internet_users"><span class="icon16 icomoon-icon-users"></span>
                                    <?echo Globals::trl('Customers');?></a>
                                </li>
                                <li><a href="/admin/datatables/table/vouchers"><span class="icon16 icomoon-icon-gift "></span>
                                    <?echo Globals::trl('Vouchers');?></a>
                                </li>
                            </ul>
                        </li> 
                        

                        <li>
                            <a href="#"><span class="icon16  icomoon-icon-paper-plane"></span><?echo Globals::trl('Shipping');?></a>
                            <ul class="sub">
                                <li><a href="/admin/datatables/table/shipping_providers"><span class="icon16 icomoon-icon-arrow-right-2"></span>
                                    <?echo Globals::trl('Shipping Providers');?></a>
                                </li>
                                <li><a href="/admin/datatables/table/shipping_packs"><span class="icon16 icomoon-icon-arrow-right-2"></span>
                                    <?echo Globals::trl('Shipping packs');?></a>
                                </li>
                                <li><a href="/admin/datatables/table/shipping_pack_kg"><span class="icon16 icomoon-icon-arrow-right-2"></span>
                                    <?echo Globals::trl('Shipping KG');?></a>
                                </li>
                                <li><a href="/admin/datatables/table/shipping_areas"><span class="icon16 icomoon-icon-arrow-right-2"></span>
                                    <?echo Globals::trl('Shipping areas');?></a>
                                </li>     
                                <li><a href="/admin/datatables/table/shipping_payment_rel"><span class="icon16 icomoon-icon-arrow-right-2"></span>
                                    <?echo Globals::trl('Shipping Payments');?></a>
                                </li>                            
                            </ul>
                        </li> 



                        <li><a href="/admin/menus"><span class="icon16 icomoon-icon-tree-view"></span><?echo Globals::trl('Menus');?></a></li>
                        <li><a href="/admin/product"><span class="icon16 icomoon-icon-pencil-3 "></span><?echo Globals::trl('Products');?></a></li> 
                        <li><a href="/admin/accompaying_products"><span class="icon16  icomoon-icon-google-plus-2"></span><?echo Globals::trl('Accompanying Products');?></a></li>
                        
                        <!-- <li>
                            <a href="/admin/datatables/table/simple_content"><span class="icon16 icomoon-icon-cube"></span><?echo Globals::trl('Contents');?></a>
                        </li>
                         -->
                        <li><a href="/admin/filemanager"><span class="icon16 icomoon-icon-upload"></span><?echo Globals::trl('File Manager');?></a></li>
                        <li>
                            <a href="#"><span class="icon16 icomoon-icon-html5-2"></span><?echo Globals::trl('Templates');?></a>
                            <ul class="sub">
                                <li><a href="/admin/datatables/table/templates"><span class="icon16 icomoon-icon-newspaper"></span>
                                    <?echo Globals::trl('Templates');?></a>
                                </li>
                                <li><a href="/admin/datatables/table/template_sections"><span class="icon16 icomoon-icon-list-view "></span>
                                    <?echo Globals::trl('Sections');?></a>
                                </li>
                                <li><a href="/admin/datatables/table/template_view"><span class="icon16 icomoon-icon-license"></span>
                                    <?echo Globals::trl('Views');?></a>
                                </li>
                                <li><a href="/admin/datatables/table/widgets"><span class="icon16 icomoon-icon-puzzle"></span>
                                    <?echo Globals::trl('Widgets');?></a>
                                </li>
                                <li><a href="/admin/datatables/table/multilanguage_html_content"><span class="icon16 icomoon-icon-pencil-5"></span>
                                    <?echo Globals::trl('Multilanguage html');?></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div><!-- End sidenav -->

        </div><!-- End #sidebar -->