							<div id="merchant_<?php echo $this->pay_method_id?>">
							<fieldset>
							
								<h4 class="definition"><?php echo $this->pay_name?></h4>
								<div class="w7">
									<input type="radio" name="payment" id="payment" checked value="<?php echo $this->pay_method_id?>" class="merchant_<?php echo $this->pay_method_id?>"/>
									
									<label for="creditcard"><?php echo $this->pay_notification?></label>
								</div>
							</fieldset>
							
							<div class="p0-20">
							
								<fieldset class="block-labels">
									<label for="cardtype"><?php echo Globals::trl('Credit card type');?></label>
									<div class="w7">
										<select name="cardtype" id="cardtype">
											<option value="VI">Visa</option>
											<option value="CA">MasterCard</option>
											<option value="DC">Diners Club</option>
											<option value="DM">EuroLine</option>
									
										</select>
									</div>
									<div class="w3">&nbsp;</div>
								</fieldset>
								
								<fieldset class="block-labels">
									<label for="ccnumber"><?php echo Globals::trl('Credit card number');?></label>
									<div class="w5">
										<input class="inputbox medium-inputbox" autofocus="autofocus" type="text" placeholder="" id="ccnumber" name="ccnumber" value="" /><span class="required">*</span>
									</div>
									<div class="w3">&nbsp;</div>
								</fieldset>
								
								<fieldset class="block-labels">
									<label for="cccvv">CVV</label>
									<div class="w5">
										<input class="inputbox small-inputbox" autofocus="autofocus" type="text" placeholder=""  id="cccvv" name ="cccvv" value="" /><span class="required">*</span>
									</div>
									<div class="w3">&nbsp;</div>
								</fieldset>
								
								<fieldset class="block-labels">
									<label for="ccholder"><?php echo Globals::trl('Credit card holder');?></label>
									<div class="w7">
										<input class="inputbox" autofocus="autofocus" type="text" placeholder="" id="ccholder" name="ccholder" value="" /><span class="required">*</span>
									</div>
									<div class="w3">&nbsp;</div>
								</fieldset>
								
								
								<fieldset class="block-labels">
									<label><?php echo Globals::trl('Expiration');?></label>
									<select id="ccexpiresmonth" name="ccexpiresmonth" class="normal">
										<option value="01">01</option>
										<option value="02">02</option>
										<option value="03">03</option>
										<option value="04">04</option>
										<option value="05">05</option>
										<option value="06">06</option>
										<option value="07">07</option>
										<option value="08">08</option>
										<option value="09">09</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
									</select>
					
									<select id="ccexpiresyear" name="ccexpiresyear" class="normal">
										<option value="2013">2013</option>
										<option value="2014">2014</option>
										<option value="2015">2015</option>
										<option value="2016">2016</option>
										<option value="2017">2017</option>
										<option value="2018">2018</option>
										<option value="2019">2019</option>
										<option value="2020">2020</option>
										<option value="2021">2021</option>
										<option value="2022">2022</option>
										<option value="2023">2023</option>
										<option value="2024">2024</option>
										<option value="2025">2025</option>
										<option value="2026">2026</option>
										<option value="2027">2027</option>
										<option value="2028">2028</option>
										<option value="2029">2029</option>
										<option value="2030">2030</option>
										<option value="2031">2031</option>
										<option value="2032">2032</option>
										<option value="2033">2033</option>
									</select>
								</fieldset>
								
								<?php if($_SESSION['cart']['totalcost'] > 150){?>
								<fieldset class="block-labels">
									<label><?php echo Globals::trl('Period');?></label>
									<select id="ccperiod" name="ccperiod" class="normal">
										<option value="0">----</option>
										<option value="3">3</option>
										<option value="6">6</option>
									</select>
								</fieldset>
								<?php }?>
								<div class="m-20-0"></div>
								
								<div class="notice">
									<span class="input-help"><?php echo Globals::trl('pao bc credit cards have 10% discount');?></span>
								</div>
								
							</div>
							
							<div class="border-btm m-20-0"></div>
							</div>