<?php
$cart = $this->cart;
$site_domain     = Globals::getConfig()->sitedomain;
$post_submit_url = Globals::getConfig()->paypal->submit;
$paypal_account  = Globals::getConfig()->paypal->account;


$fpa = $this->final['cart_cost'] * (23/123);
$f_cost = $this->final['cart_cost'] - $fpa;

$final_cost = number_format($f_cost, 2, '.', '');


if($this->payment['cod_extracost_active'] == 1){
    $cod_cost = $this->shipp['shipping_pack_cod_val_no_currency'];
}else{
    $cod_cost = 0;
}

if($this->info['gift'] == 1){
    $gift_cost = Globals::getConfig()->gift_price;
}else{
    $gift_cost = 0;
}
if($this->final['free_shipping'] != "free"){
    $shipping = $this->shipp['shipping_price_no_currency'] + $cod_cost;
}else{
    $shipping = 0;
}
?>

<!-- PayPal Configuration -->

<form method="post" id="paypal_form" name="paypal_form" action="https://www.paypal.com/cgi-bin/webscr">

<input type="hidden" name="business" value="<?php echo $paypal_account?>">
<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="upload" value="1">
<input type="hidden" name="image_url" value="<?php echo $site_domain?>">

<input type="hidden" name="return" value="<?php echo $site_domain?>/thankyou">
<input type="hidden" name="cancel_return" value="<?php echo $site_domain?>/cancelorder">
<input type="hidden" name="notify_url" value="<?php echo $site_domain?>/ipn">
<input type="hidden" name="rm" value="2">
<input type="hidden" name="charset" value="utf-8">
<input type="hidden" name="currency_code" value="EUR">
<input type="hidden" name="cbt" value="<?php echo Globals::trl('Click here to SAVE your order')?>">
<input type="hidden" name="no_note" value="1">
<input type="hidden" name="cn" value="<?php echo Globals::trl('Its very important to SAVE your order. If you dont click below to save your order it may be difficult to proceed with your order')?>">

<!-- Order Number -->
<input type="hidden" name="custom" value="<?php echo $_SESSION['order_number']?>">
<input type="hidden" name="invoice" value="<?php echo $_SESSION['order_number']?>">
<input type="hidden" name="merchant" value="<?php echo $this->payment['merchant_plugin']?>">

    <!-- each -->
    <?php 
    foreach ($cart as $key => $cart_row) {
        $product_desc = $cart_row['product']['product_code']." ".$cart_row['product']['name']." ";
        foreach ($cart_row['attributes'] as $attr_row) {
            $product_desc .= $attr_row." ";
        } 
        $count = $key+1;   
    ?>
        <input type="hidden" name="item_name_<?php echo $count?>" value="<?php echo $cart_row['product']['name']?>&nbsp;">
        <input type="hidden" name="amount_<?php echo $count?>" value="<?php echo number_format($cart_row['prices']['totalprice'] / $cart_row['product']['quantity'], 2, '.', '');?>">
        <input type="hidden" name="quantity_<?php echo $count?>" value="<?php echo $cart_row['product']['quantity']?>">
        <input type="hidden" name="item_number_<?php echo $count?>" value="<?php echo $product_desc?>">
    <?}?>    
    <!-- end each -->

<input type="hidden" name="discount_amount_cart" value="<?php echo $this->final['free_shipping']?>">

<!-- Shipping -->
<input type="hidden" name="item_name_<?php echo $count = $count + 1?>" value="Shipping service">
<input type="hidden" name="amount_<?php echo $count?>" value="<?php echo $shipping?>">

<!-- Packaging -->
<?php if($gift_cost > 0){?>
<input type="hidden" name="item_name_<?php echo $count = $count+1?>" value="Wrap Packaging">
<input type="hidden" name="amount_<?php echo $count?>" value="<?php echo $gift_cost?>">
<?php }?>
</form>
<!-- END OF PayPal Configuration -->


<script type="text/javascript">
$(document).ready(function () { 
    $('body').delegate('.finish-order', 'click', function(event) {   
        event.preventDefault();

        var order_num = $('#order_num').val();
        var comment = $('#comment').val();
        var session_id = $('#session_id').val();
        var order_html = $("#order_html").html();
        var final_cost = "<?php echo $final_cost?>";

        eshop.save_order(order_num , comment, order_html , final_cost , function(res){
            //console.log(res);
            if(res.success == "success"){
                $('#paypal_form').submit();
            }else{
                window.location = "/";
            }    	
        });
    }); 
});	
</script>