<div class="content">
	<div class="main">
		<div class="p20">

			<div class="steps">
				<ul>
					<li class="step-01 step active"><a href="#"><span><i>1</i><?php echo Globals::trl('Shipping');?></span></a></li>
					<li class="step-02 step active"><a href="#"><span><i>2</i><?php echo Globals::trl('Invoice');?></span></a></li>
					<li class="step-03 step active"><a href="#"><span><i>3</i><?php echo Globals::trl('Payment');?></span></a></li>
					<li class="step-04 step active"><a href="#"><span><i>4</i><?php echo Globals::trl('Confirmation');?></span></a></li>
					<li class="step-05 step active current step-last"><a href="#"><span><i>5</i><?php echo Globals::trl('Finish Order');?></span></a></li>
				</ul>
			</div>
		
			<div class="row">
				<div class="w10">
					
					<div class="preview-area">	
						<h2 class="form-title"><?php echo Globals::trl('Your order is canceled');?></h2>
						<p><?php echo Globals::trl('Please contact support if something went wrong');?></p>
						<div class="main-section">	
							<a class="button-link f-right" href="/"><span class="button-side"><?php echo Globals::trl('BACK TO HOME');?></span></a>
						</div>
					</div>
				</div>	
			</div>

		</div>	
	</div>
</div>
<script type="text/javascript">
$(document).ready(function () { 
	var order_num = eshop.get_last_order_number();
	eshop.remove_order(order_num , function(res){
		//do something after remove
	});
});	
</script>