<?php
$product_counter = count($this->cart_contents);
?>
<div class="content">
	<div class="main">
		<div class="p20">
		
			<div class="row">
				<div class="w10">
					<div class="cart">
						<h3 class="heading"><span><?php echo Globals::trl('My Cart')?></span></h3>
						
						<div class="top-section quick-summary">
							<span class="bold-text"><?php echo $product_counter?> <?php echo Globals::trl('Products')?></span>
						</div>
						
						
							<div class="main-section">
								
								<!-- foreach start -->
								<?php foreach ($this->cart_contents as $key => $cart_row) {
									$price = Globals::getthePrice($cart_row['product']['end_price']);
								?>
								<div class="cart-row">
									<div class="cart-thumb">
										<img src="<?php echo $cart_row['product']['main_photo']?>" alt="product-hat" />
									</div>
									
									<div class="cart-details">
										<div class="inner-top">
											<div class="cart-name"><?php echo $cart_row['product']['name']?></div>
											<div class="cart-unit-price"><?php echo Globals::getthePrice($cart_row['product']['end_price'])?></div>
											<div class="cart-quantity">
												<input class="inputbox" type="text" name="item-quantity" value="<?php echo $cart_row['product']['quantity']?>" size="1" />
												<span class="cart-action-update" id="<?php echo $cart_row['product']['cart_id']?>"><a href="#" class="cart-update">Update Quanity</a></span></div>
											<div class="cart-price-sum"><?php echo Globals::getthePrice($cart_row['prices']['totalprice'])?></div>
										</div>
										<div class="inner-bottom">
											<div class="cart-sku">
												Κωδικός: <?php echo $cart_row['product']['product_code']?>
											</div>
											<div class="cart-remove" id="<?php echo $cart_row['product']['cart_id']?>"><a href="#remove-from-cart"><?php echo Globals::trl('remove')?></a></div>
										</div>
										
										<!-- Attributes && Acc Products-->
										<div class="cart-additional-details">
											<ul>
												<li><span class="additional-detail">
												<?php 
												if(!empty($cart_row['attributes'])){
													foreach ($cart_row['attributes'] as $key => $attr) {
														echo $attr." ";
													}
												}?>
												<?php 
												if(!empty($cart_row['product']['extra_cost'])){
													echo "+".Globals::getthePrice($cart_row['product']['extra_cost']);
												}	
												?>
												</span></li>

												<?php 
												if(!empty($cart_row['acc_products'])){
												foreach ($cart_row['acc_products'] as $key => $accprd) {?>
													<li><span class="additional-detail"><?php echo $accprd['prd_description']?> +<?php echo Globals::getthePrice($accprd['end_price'])?></span></li>
												<?php 
													}
												}?>

											</ul>
										</div>


									</div>
									<div class="clr"></div>
								<div id="stock_notice_<?php echo $cart_row['product']['cart_id']?>" style="border:1px solid #dfdfdf; padding:4px; margin-top:3px; color:red; display: none;"></div>
								</div>
								<?php 
								}
								?>
								<!-- foreach end -->
	
								
								<div class="cart-row last-row cart-total">
									<?php 
										$total_cost = Globals::getthePrice($this->total_cost);
										echo Globals::trl('sum')?>:<span class="total-price"><?php echo Globals::getthePrice($this->total_cost)?></span>
								</div>
								
							</div>
							
							<div class="bottom-section">
								<?php echo $this->partial('partials/cart_form_bottom.phtml' , array('section' => 'cart_form_bottom' , 'template_view_id' => $this->template_view_id, 'notices' => $this->messages)) ?>
								
								<button class="button button-green pay-cart checkout-btn"><span class="button-side"><?php echo Globals::trl('Order')?></span></button>
								<div class="clr"></div>
							</div>

					</div>				
				</div>
			</div>
			
		</div>
	</div>
</div>