<?php
$lang_region = $_SESSION['language']['lang_region'];
$countries = Globals::getCountries();
$default_shipping_country_code = Globals::getConfig()->shipping_country_code;
?>
<div class="content">
	<div class="main">
		<div class="p20">


			<div class="steps">
				<ul>
					<li class="step-01 step active current"><a href="#"><span><i>1</i><?php echo Globals::trl('Shipping');?></span></a></li>
					<li class="step-02 step"><a href="#"><span><i>2</i><?php echo Globals::trl('Invoice');?></span></a></li>
					<li class="step-03 step"><a href="#"><span><i>3</i><?php echo Globals::trl('Payment');?></span></a></li>
					<li class="step-04 step"><a href="#"><span><i>4</i><?php echo Globals::trl('Confirmation');?></span></a></li>
					<li class="step-05 step step-last"><a href="#"><span><i>5</i><?php echo Globals::trl('Finish Order');?></span></a></li>
				</ul>
			</div>


		<!-- Error Section -->
		<div class="p10" id="error-section-form" style="display:none">
			<p><?php echo Globals::trl('Found Errors')?></p>
			<p class="info"></p>		
		</div>

		<div class="row">
			<div class="w10">
				<h3 class="heading"><span><?php echo Globals::trl('SHIPPING ADDRESS');?></span></h3>		
			</div>
		</div>


		<div class="row">
			<div class="w10">
				<div class="checkout">
					<form id="checkout-form">
						
					
						<h2 class="form-title"><?php echo Globals::trl('Shipping Address');?></h2>
						
						<fieldset class="block-labels">
							<label><?php echo Globals::trl('Firstname');?></label>
							<div class="w7">
								<input class="inputbox" autofocus="autofocus" type="text" placeholder="" name="firstname" id="firstname" value="" /><span class="required">*</span>
							</div>
							<div class="w3">&nbsp;</div>
						</fieldset>
						
						<fieldset class="block-labels">
							<label><?php echo Globals::trl('Lastname');?></label>
							<div class="w7">
								<input class="inputbox" type="text" placeholder="" name="lastname" id="lastname" value="" /><span class="required">*</span>
							</div>
							<div class="w3">&nbsp;</div>
						</fieldset>

						<fieldset class="block-labels">
							<label><?php echo Globals::trl('email');?></label>
							<div class="w7">
								<input class="inputbox" type="text" placeholder="" name="email" id="email" value="" /><span class="required">*</span>
							</div>
							<div class="w3">&nbsp;</div>
						</fieldset>
						
						<fieldset class="block-labels">
							<label><?php echo Globals::trl('Company Name');?></label>
							<div class="w7">
								<input class="inputbox" type="text" placeholder="" name="companyname" id="companyname" value="" />
							</div>
							<div class="w3">&nbsp;</div>
						</fieldset>
						
						<fieldset class="block-labels">
							<label><?php echo Globals::trl('Address');?></label>
							<div class="w7">
								<input class="inputbox" type="text" placeholder="" name="address" id="address" value="" /><span class="required">*</span>
							</div>
							<div class="w3">&nbsp;</div>
						</fieldset>
						
						
						<fieldset class="block-labels">
							<label><?php echo Globals::trl('More address info');?></label>
							<div class="w7">
								<input class="inputbox" type="text" placeholder="" name="addressmore" id="addressmore" value="" />
							</div>
							<div class="w3">&nbsp;</div>
						</fieldset>
						
										
						<fieldset>
							<!-- Contry Select box -->
							<label><?php echo Globals::trl('Country');?></label>
							<select id="countries" name="countries" class="normal">
								<?php foreach ($countries as $key => $country) {
									if($key == $default_shipping_country_code){
										$sel = "selected";
									}else{
										$sel = "";
									}
								?>
									<option value="<?php echo $key?>" <?php echo $sel?>><?php echo $country?></option>
								<?php }?>
							</select>
							

							<!-- Region Select box -->
							<?php if($default_shipping_country_code == "GR"){ 
								$regions = Globals::trl('Shipping Regions');
							?>					

							<div id="region_select_box"></div>

							<?php }?>
						</fieldset>
						
						
						<fieldset class="block-labels">
							<label><?php echo Globals::trl('City');?></label>
							<div class="w7">
								<input class="inputbox" type="text" placeholder="" id="city" name="city" value="" />
								<span class="required">*</span>
							</div>
							<div class="w3">&nbsp;</div>
						</fieldset>
						
						<fieldset class="block-labels">
							<div class="w3">
								<label><?php echo Globals::trl('Postal Code');?></label>
								<input class="inputbox small-inputbox" type="text" placeholder="" name="postal" id="postal" value="" /> <span class="required">*</span>
							</div>
							<div class="w5">
								<label><?php echo Globals::trl('Phone Number');?></label>
								<input class="inputbox small-inputbox" type="text" placeholder="" name="tel" id="tel" value="" /><span class="required">*</span>
							</div>
						</fieldset>
						
						
						<div id="shipping">
							<div class="border-btm m-20-0"></div>
							<h2 class="form-title"><?php echo Globals::trl('Select shippment type');?></h2>
							
							<div id="shipp_packages"></div>

						</div>
							
						<div class="border-btm m-20-0"></div>
						<h2 class="form-title"><?php echo Globals::trl('Gift Package');?></h2>
							
						<fieldset>
							<div class="w7">
								<input type="checkbox" name="gift" id="gift" value="1" />
								<label for="gift"><?php echo Globals::trl('I want it for gift');?></label>
							</div>
							<div class="w3">
								<span class="input-help"><?php echo Globals::trl('extra cost');?> €1,00 <?php echo Globals::trl('per order');?></span>
							</div>
						</fieldset>

						
						
						<div class="border-btm m-20-0"></div>
						<?php echo $this->partial('partials/cart_form_bottom.phtml' , array('section' => 'cart_form_bottom' , 'template_view_id' => $this->template_view_id, 'notices' => $this->messages)) ?>							
						<fieldset>
							<button class="button button-white back-to-cart"><?php echo Globals::trl('BACK TO CART');?></button> <button class="button button-green invoice-step"><?php echo Globals::trl('NEXT');?></button>
						</fieldset>
						
						
						
						
							</form>
						</div>	
					</div>
				</div>
			
		</div>	
	</div>
</div>
<script type="text/javascript">
$(document).ready(function () { 
	eshop.loadFormValues("checkout-form");
	
	eshop.region_label = "<?php echo Globals::trl('Region');?>";
	eshop.set_region_dropdown("countries" , function(result){
		if(result){
			//look shipping by Region
			var area_id = $('#regions :selected').val();
			eshop.get_shipping_packages(area_id, 'region' ,function(res){

            });
		}else{
			//look shipping by country
			var area_id = $('#countries :selected').val();
            eshop.get_shipping_packages(area_id, 'country',function(res){

            });
		}

	});

});	
</script>