<?php
$cart    = $this->cart_contents;
$info    = $this->shipping_info;
$shipp   = $this->shipp_properties;
$payment = $this->payment_data;
$cart_cost = $this->total_cost;
$total_cost = $this->cost_including_all;
?>
<div class="content">
	<div class="main">
		<div class="p20">

			<div class="steps">
				<ul>
					<li class="step-01 step active"><a href="#"><span><i>1</i><?php echo Globals::trl('Shipping');?></span></a></li>
					<li class="step-02 step active"><a href="#"><span><i>2</i><?php echo Globals::trl('Invoice');?></span></a></li>
					<li class="step-03 step active"><a href="#"><span><i>3</i><?php echo Globals::trl('Payment');?></span></a></li>
					<li class="step-04 step active current"><a href="#"><span><i>4</i><?php echo Globals::trl('Confirmation');?></span></a></li>
					<li class="step-05 step step-last"><a href="#"><span><i>5</i><?php echo Globals::trl('Finish Order');?></span></a></li>
				</ul>
			</div>


			<div class="p10" id="error-section-form" style="display:none">
				<p><?php echo Globals::trl('Found Errors')?></p>
				<p class="info"></p>		
			</div>
		
			<div class="row">
				<div class="w10">
					<h3 class="heading"><span><?php echo Globals::trl('ORDER CONFIRMATION');?></span></h3>		
				</div>
			</div>
			
			
			<div class="row" >
				<div class="w10">
					
					<div class="preview-area">	
						<h2 class="form-title"><?php echo Globals::trl('Please double check order info and complete the order');?></h2>
					</div>
					
					<div id="order_html">
					<div class="cart-preview">
						<div class="main-section">
							<h2 class="category-title"><?php echo Globals::trl('Order preview');?></h2>
						</div>
					</div>
					
					<div class="preview-area main-section order-details">
						<div class="row">
							
							<?php if($info['invoice_type'] == 1){?>
							<div class="w5">
								<h3><?php echo Globals::trl('Invoice informations');?></h3>
								
								<div><?php echo $info['invoice_company_name']?></div>
								<div><?php echo $info['invoice_profession']?></div>
								<div><?php echo $info['invoice_address']?></div>
								<div><?php echo $info['vat']?></div>
								<div><?php echo $info['doy']?></div>
								
							</div>
							<?php }?>
							
							<div class="w5">
								<h3><?php echo Globals::trl('Shipping address');?></h3>
								<div><?php echo $info['firstname']?> <?php echo $info['lastname']?></div>
								<div><?php echo $info['address']?> / <?php echo $info['postal']?></div>
								<div><?php echo $info['address_more']?></div>
								<div><?php echo $info['city_name']?></div>
								<div><?php echo $info['phone']?></div>
							</div>
						</div>
						


					</div>
					
					<div class="cart-preview">
						<div class="main-section">
						
							
							<div class="cart-tr">
								<div class="cart-name-th"><?php echo Globals::trl('Product');?></div>
								<div class="cart-unit-price-th"><?php echo Globals::trl('Product price');?></div>
								<div class="cart-quantity-th"><?php echo Globals::trl('Quantity');?></div>
								<div class="cart-price-sum-th"><?php echo Globals::trl('Price');?></div>
							</div>
							
					
							<?php foreach ($cart as $key => $cart_row) {?>
							<div class="cart-row">
								<div class="cart-details">
									<div class="inner-top">
										<div class="cart-name"><?php echo $cart_row['product']['name']?></div>
										<div class="cart-unit-price"><?php echo Globals::getthePrice($cart_row['product']['end_price']) ?></div>
										<div class="cart-quantity-number"><?php echo $cart_row['product']['quantity']?></div>
										<div class="cart-price-sum"><?php echo Globals::getthePrice($cart_row['prices']['totalprice']) ?></div>
									</div>
									<div class="inner-bottom">
										<div class="cart-sku">
											Κωδικός: <?php echo $cart_row['product']['product_code']?>
										</div>



										<div class="cart-additional-details">
											<ul>
												<li><span class="additional-detail">
												<?php 
												if(!empty($cart_row['attributes'])){
													foreach ($cart_row['attributes'] as $key => $attr) {
														echo $attr." ";
													}
												}?>
												<?php 
												if(!empty($cart_row['product']['extra_cost'])){
													echo "+".Globals::getthePrice($cart_row['product']['extra_cost']);
												}	
												?>
												</span></li>

												<?php 
												if(!empty($cart_row['acc_products'])){
												foreach ($cart_row['acc_products'] as $key => $accprd) {?>
													<li><span class="additional-detail"><?php echo $accprd['prd_description']?> +<?php echo Globals::getthePrice($accprd['end_price'])?></span></li>
												<?php 
													}
												}?>

											</ul>
										</div>



									</div>
								</div>
								<div class="clr"></div>
							</div>
							<?php }?>
							
						</div>
						

						<div class="main-section additional-costs">
							
							<div class="cart-extra-cost-row">
								<div class="inner-top">
									<h3><?php echo Globals::trl('Payment method');?></h3>
									<div class="extra-cost-name"><?php echo $payment['pay_name']?></div>
									<?php if($payment['cod_extracost_active'] == 1){?>
										<div class="extra-cost-price"><?php echo Globals::getthePrice($shipp['shipping_pack_cod_val'])?></div>
									<?php }?>
								</div>
							</div>
							
							
							<div class="cart-extra-cost-row">
								
								<div class="inner-top">
									<h3><?php echo Globals::trl('Shipping price');?></h3>
									<div class="extra-cost-name"><?php echo $shipp['shipping_provider_name']?></div>
									<div class="extra-cost-price"><?php echo Globals::getthePrice($shipp['shipping_price'])?></div>
								</div>
							</div>


							<?php if(!empty($this->discount)){?>
							<div class="cart-extra-cost-row">
								
								<div class="inner-top">
									
									<div class="extra-cost-name"><h3><?php echo Globals::trl('Discount Amount');?></h3></div>
									<div class="extra-cost-price"><?php echo Globals::getthePrice($this->discount_amount)?></div>
								</div>
							</div>


							<div class="cart-extra-cost-row">
								
								<div class="inner-top">
									
									<div class="extra-cost-name"><h3><?php echo Globals::trl('Discount Total');?></h3></div>
									<div class="extra-cost-price"><?php echo $this->discount?></div>
								</div>
							</div>
							<?php }?>
							
							<?php if($info['gift']){?>
							<div class="cart-extra-cost-row last-row">	
								<div class="inner-top">
									<h3><?php echo Globals::trl('Gift wrapping cost');?></h3>
									<div class="extra-cost-name"><?php echo Globals::trl('Gift wrapping');?></div>
									<div class="extra-cost-price"><?php echo Globals::getthePrice(Globals::getConfig()->gift_price)?></div>
								</div>
							</div>
							<?php }?>

						</div>

						
						<div class="main-section">	
							<div class="cart-row last-row cart-total">
								<?php echo Globals::trl('Sum');?>:<span class="total-price"><?php echo Globals::getthePrice($total_cost)?></span>
							</div>
						
						</div>
					</div>
					
					
					<div class="border-btm m-20-0"></div>
					
					</div>


					<div class="checkout preview-area">
						<form id="reqs">
							<input type="hidden" name="order_num" id="order_num" value="<?php echo $this->order_num?>">
							<h3><?php echo Globals::trl('Comment');?></h3>
							<fieldset class="block-labels">
								
								<textarea class="inputbox" name="comment" id="comment" rows="5" cols="20"></textarea>
							</fieldset>
							<?php echo $this->partial('partials/cart_form_bottom.phtml' , array('section' => 'cart_form_bottom' , 'template_view_id' => $this->template_view_id, 'notices' => $this->messages)) ?>
							<fieldset>
								<button class="button button-white back-to-payment"><?php echo Globals::trl('BACK TO PAYMENT');?></button>
								<button class="button button-green finish-order"><?php echo Globals::trl('ORDER CONFIRMATION');?></button>
							</fieldset>
							
						</form>
					</div>
					
				</div>
			</div>
			
		</div>	
	</div>
</div>
<?php
	echo $this->partial('merchants/'.$this->merchant_vendor.'/'.$this->merchant_vendor.'.phtml', $this->merchant_vars);
?>