<div class="content">
	<div class="main">
		<div class="p20">
		
			<div class="row">
				<div class="w10">
					<h3 class="heading"><span><?php echo Globals::trl('Connect');?> / <?php echo Globals::trl('Registration');?></span></h3>		
				</div>
			</div>
			
			<div class="row">
			<div class="p10" id="error-section-form" style="display:none">
				<p><?php echo Globals::trl('Wrong email or password')?></p>
				<p class="info"></p>		
			</div>

				<div class="w5">
					<div class="sign-in">
						<form name="login" method="post" action="/login">
							
							<h2 class="form-title"><?php echo Globals::trl('Registered member');?></h2>
							<fieldset class="block-labels">
								<label>Email</label>
								<input class="inputbox" autofocus="autofocus" type="email" placeholder="your@email.com" name="email" value="">
							</fieldset>
							
							<fieldset class="block-labels">
								<label><?php echo Globals::trl('Password');?></label>
								<input class="inputbox" type="password" required="required" placeholder="******" autocomplete="off" name="password" value="">
							</fieldset>
							
							<fieldset>
								<input type="submit" value="<?php echo Globals::trl('Connect');?>" class="button button-green">
							</fieldset>
							
							<fieldset>
								<div class="p4"><a class="helper" href="/resetpass"><?php echo Globals::trl('I forgot my password');?> »</a></div>
							</fieldset>
						</form>
					</div>		
				</div>
				
				<div class="w5">
					<div class="register-go separate-left">
						<h2 class="form-title"><?php echo Globals::trl('New customer');?></h2>
						
						<fieldset>
							<p><?php echo Globals::trl('If this is your first order, you have to register');?>.</p>
						</fieldset>
						
						<fieldset>
							<a class="button-link" href="/register"><span class="button-side"><?php echo Globals::trl('Registration');?></span></a>
						</fieldset>
						<div class="security-provider">
							<h2 class="form-title"><?php echo Globals::trl('Buy Without Registration');?></h2>
							
							<fieldset>
								<p><?php echo Globals::trl('Continue without registration');?>.</p>
							</fieldset>
							
							<fieldset>
								<a class="button-link" href="https://www.paoshop.gr/cart-step-2"><span class="button-side"><?php echo Globals::trl('NEXT');?></span></a>
							</fieldset>
							
						</div>
					</div>			
				</div>
				
				<div class="w10">
					
				</div>
				
			</div>
			
		</div>
	</div>
</div>

