<?php

?>
<div class="content">
	<div class="main">
		<div class="p20">


			<div class="steps">
				<ul>
					<li class="step-01 step active"><a href="#"><span><i>1</i><?php echo Globals::trl('Shipping');?></span></a></li>
					<li class="step-02 step active current"><a href="#"><span><i>2</i><?php echo Globals::trl('Invoice');?></span></a></li>
					<li class="step-03 step"><a href="#"><span><i>3</i><?php echo Globals::trl('Payment');?></span></a></li>
					<li class="step-04 step"><a href="#"><span><i>4</i><?php echo Globals::trl('Confirmation');?></span></a></li>
					<li class="step-05 step step-last"><a href="#"><span><i>5</i><?php echo Globals::trl('Finish Order');?></span></a></li>
				</ul>
			</div>
		
			<!-- Error Section -->
			<div class="p10" id="error-section-form" style="display:none">
				<p><?php echo Globals::trl('Found Errors')?></p>
				<p class="info"></p>		
			</div>

			<div class="row">
				<div class="w10">
					<h3 class="heading"><span><?php echo Globals::trl('INVOICES');?></span></h3>		
				</div>
			</div>
			
			
			<div class="row">
				<div class="w10">
					<div class="checkout">
						<form id="invoice-form">
							
							<h2 class="form-title"><?php echo Globals::trl('Choose invoice type');?></h2>
							
							<fieldset>
								<h4 class="definition"><?php echo Globals::trl('Receipt');?></h4>
								<input type="radio" name="receipttype" id="receipttype" value="0" checked/><label for="receipt"><?php echo Globals::trl('Receipt');?></label>
							</fieldset>
														
							<div class="border-btm m-20-0"></div>
							
							
							<h4 class="definition"><?php echo Globals::trl('Invoice informations form');?></h4>
							
							<fieldset>
								<input type="radio" name="receipttype" id="receipttype" value="1" /><label for="invoice"><?php echo Globals::trl('Invoice informations');?></label>
							</fieldset>
							
							<div class="p0-20">
							
								<fieldset class="block-labels">
									<div class="w6">
										<label><?php echo Globals::trl('Company Name');?></label>
										<input class="inputbox" type="text" name="companyname" id="companyname" value="" />
									</div>
								</fieldset>
								
								<fieldset class="block-labels">
									<div class="w6">
										<label><?php echo Globals::trl('Profession');?></label>
										<input class="inputbox" type="text" name="profession" id="profession" value="" />
									</div>
								</fieldset>
								
								<fieldset class="block-labels">
									<div class="w8">
										<label><?php echo Globals::trl('Address');?></label>
										<input class="inputbox" type="text" name="address" id="address" value="" />
									</div>
								</fieldset>
								
								<fieldset class="block-labels">
									<div class="w4">
										<label><?php echo Globals::trl('VAT ID');?></label>
										<input class="inputbox" type="text" name="vat" id="vat" value="" />
									</div>
								</fieldset>
								
								<fieldset class="block-labels">
									<div class="w4">
										<label><?php echo Globals::trl('Tax office');?></label>
										<input class="inputbox" type="text" name="doy" id="doy" value="" />
									</div>
								</fieldset>
								
							</div>
							
							<div class="border-btm m-20-0"></div>
							<?php echo $this->partial('partials/cart_form_bottom.phtml' , array('section' => 'cart_form_bottom' , 'template_view_id' => $this->template_view_id, 'notices' => $this->messages)) ?>
							<fieldset>
								
							<button class="button button-white back-to-shipping"><?php echo Globals::trl('BACK TO SHIPPING FORM');?></button>
							<button class="button button-green payment-step"><?php echo Globals::trl('NEXT');?></button>
							</fieldset>
							
						</form>
					</div>	
				</div>
			</div>
			
		</div>	
	</div>
</div>
<script type="text/javascript">
$(document).ready(function () { 
	eshop.loadFormValues("invoice-form");
});	
</script>