<?php
	$payment_methods = $this->pay_methods;
?>
<div class="content">
	<div class="main">
		<div class="p20">

			<div class="steps">
				<ul>
					<li class="step-01 step active"><a href="#"><span><i>1</i><?php echo Globals::trl('Shipping');?></span></a></li>
					<li class="step-02 step active"><a href="#"><span><i>2</i><?php echo Globals::trl('Invoice');?></span></a></li>
					<li class="step-03 step active current"><a href="#"><span><i>3</i><?php echo Globals::trl('Payment');?></span></a></li>
					<li class="step-04 step"><a href="#"><span><i>4</i><?php echo Globals::trl('Confirmation');?></span></a></li>
					<li class="step-05 step step-last"><a href="#"><span><i>5</i><?php echo Globals::trl('Finish Order');?></span></a></li>
				</ul>
			</div>

			<!-- Error Section -->
			<div class="p10" id="error-section-form" style="display:none">
				<p><?php echo Globals::trl('Found Errors')?></p>
				<p class="info"></p>		
			</div>

			<div class="row">
				<div class="w10">
					<h3 class="heading"><span><?php echo Globals::trl('PAYMENT TYPE');?></span></h3>		
				</div>
			</div>


			<div class="row">
				<div class="w10">
					<div class="checkout">
						<form id="payment-form">
							
							
							<h2 class="form-title"><?php echo Globals::trl('Choose payment type');?></h2>
							
							<?php
							foreach ($payment_methods as $key => $payment) {
								echo $this->partial('merchants/'.$payment['merchant_plugin'].'/'.$payment['merchant_plugin'].'_paystep.phtml', $payment);
							}		
							?>
							<?php echo $this->partial('partials/cart_form_bottom.phtml' , array('section' => 'cart_form_bottom' , 'template_view_id' => $this->template_view_id, 'notices' => $this->messages)) ?>

							
							<fieldset>
								<button class="button button-white back-to-invoice"><?php echo Globals::trl('BACK TO INVOICE');?></button>
								<button class="button button-green confirmation-step"><?php echo Globals::trl('NEXT');?></button>
							</fieldset>
							
						</form>
					</div>	
				</div>
			</div>

		</div>	
	</div>
</div>
<script type="text/javascript">
$(document).ready(function () { 
	eshop.loadFormValues("payment-form");
});	
</script>			
