<div class="content">
	<div class="main">
		<div class="p20">

			<div class="steps">
				<ul>
					<li class="step-01 step active"><a href="#"><span><i>1</i><?php echo Globals::trl('Shipping');?></span></a></li>
					<li class="step-02 step active"><a href="#"><span><i>2</i><?php echo Globals::trl('Invoice');?></span></a></li>
					<li class="step-03 step active"><a href="#"><span><i>3</i><?php echo Globals::trl('Payment');?></span></a></li>
					<li class="step-04 step active"><a href="#"><span><i>4</i><?php echo Globals::trl('Confirmation');?></span></a></li>
					<li class="step-05 step active current step-last"><a href="#"><span><i>5</i><?php echo Globals::trl('Finish Order');?></span></a></li>
				</ul>
			</div>
		
			<div class="row">
				<div class="w10">
					
					<div class="preview-area">	
						<h2 class="form-title"><?php echo Globals::trl('Thank you for your order');?></h2>
						<p><?php echo Globals::trl('Please note the order number for better support');?></p>
						<div class="main-section">	
							<a class="button-link f-right" href="/"><span class="button-side"><?php echo Globals::trl('BACK TO HOME');?></span></a>
							<h2 class="category-title"><?php echo Globals::trl('Order number');?>: <span id="order_number"></span></h2>
						</div>
					</div>
				</div>	
			</div>

		</div>	
	</div>
</div>			

<!-- LinkWyse Script -->
<script type="text/javascript" src="https://go.linkwi.se/delivery/lwc/lwc.js"></script>
<noscript>
    <img id="linkwyse_img" src="" style="width:0px;height:0px;"/>
</noscript>

<script type="text/javascript">
$(document).ready(function () { 
	var order_num = eshop.get_last_order_number();
	$("span#order_number").html(order_num);

	//Linkwyse code
	Linkwise.load_action("250", order_num, "1::"+localStorage.final_cost , "", "pending");
	$('#linkwyse_img').attr('src', 'https://go.linkwi.se/delivery/acl.php?cam_id=250&trans_id='+order_num+'&sale_amount=1::'+localStorage.final_cost+'&adv_subid=&status=pending');

});	
</script>