<?php
$wishlist = $this->wishlist_data;
$prd_counter = count($wishlist);
?>
<div class="content">
	<div class="main">
		<div class="p20">
		
			<div class="row">
				<div class="w10">
					<div class="wishlist">
						<h3 class="heading"><span>WISH LIST</span></h3>
						
						<div class="top-section quick-summary">
							<span class="bold-text"><span class="bold-text"><?php echo $prd_counter;?> <?php echo Globals::trl('Products')?></span>
						</div>
						
						<form action="index.php?page=cart" method="post" class="mini-form">
						
							<div class="main-section">
								<?php foreach ($wishlist as $key => $prd) {?>

								<div class="wishlist-row">
									<div class="wishlist-thumb">
										<a href="/product/<?php echo $prd['product_id']?>/<?php echo $prd['friendly_url']?>">
											<img src="<?php echo $prd['main_photo']?>" alt="product-hat" />
										</a>
									</div>
									
									<div class="wishlist-details">
										<div class="inner-top">
											<div class="wishlist-name"><a href="/product/<?php echo $prd['product_id']?>/<?php echo $prd['friendly_url']?>"><?php echo $prd['name']?></a></div>
											<div class="wishlist-unit-price">
												<?php echo Globals::getthePrice($prd['end_price'])?>
											</div>
											<div class="wishlist-buy">
												<button class="button button-green add-to-cart-rel" rel="/product/<?php echo $prd['product_id']?>/<?php echo $prd['friendly_url']?>"><span class="button-side"><?php echo Globals::trl('BUY IT');?></span></button>
											</div>
										</div>
										<div class="inner-bottom">
											<div class="wishlist-sku">
												<?php echo Globals::trl('Product code');?>: <?php echo $prd['product_code']?>
											</div>
											<div class="wishlist-remove" id="<?php echo $prd['wl_id']?>"><a href="javascript: void();"><?php echo Globals::trl('remove');?></a></div>
										</div>
										<div class="wishlist-additional-details">
										</div>
									</div>
									<div class="clr"></div>
								</div>

								<?php }?>
								
							</div>
							
							<div class="bottom-section">
								
								<a class="button-link f-right" href="javascript: void(history.back());" ><span class="button-side"><?php echo Globals::trl('CONTINUE SHOPPING')?></span></a>
								<div class="clr"></div>
							</div>
							
							
							
							<input type="hidden" name="productID" value="52" />
						</form>
					</div>				
				</div>
			</div>
			
		</div>
	</div>
</div>