<?php
	$paoticket_obj = new paoticket_widget();
?>
<form id="ticket" name="ticket">
<div id="season-ticket-section" style="background-color: #fff; width:100%;overflow:hidden; height: 65px; margin-bottom: 10px;">
 <fieldset style="width: 14%;float:left;margin: 0 8px;">
  <label><?php echo Globals::trl('Firstname');?></label>
  <input class="inputbox" type="text" name="firstname" id="firstname" value=""> 
 </fieldset>
 <fieldset style="width: 14%;float:left;margin: 0 8px;">
  <label><?php echo Globals::trl('Lastname');?></label>
  <input class="inputbox" type="text" name="lastname" id="lastname" value=""> 
 </fieldset>
 <fieldset style="width: 14%;float:left;margin: 0 8px;">
  <label><?php echo Globals::trl('Section');?></label>
  <input class="inputbox" type="text" name="section" id="section" value=""> 
 </fieldset>
 <fieldset style="width: 14%;float:left;margin: 0 8px;">
  <label><?php echo Globals::trl('Row');?></label>
  <input class="inputbox" type="text" name="ticketrow" id="ticketrow" value=""> 
 </fieldset>
 <fieldset style="width: 14%;float:left;margin: 0 8px;">
  <label><?php echo Globals::trl('Seat');?></label>
  <input class="inputbox" type="text" name="ticketseat" id="ticketseat" value=""> 
 </fieldset>
 <button class="button button-green check-ticket" style="margin: 26px 8px 0 8px;"><?php echo Globals::trl('CHECK');?></button>
 
</div>
</form>
<div id="ticket-notice" style="width:670px; height:26px; padding:0px; float:left; background-color: #fff; padding:4px; display:none;"></div>

<div class="border-btm m-20-0"></div>

<script type="text/javascript">
$(document).ready(function() {
     $('body').delegate('.check-ticket', 'click', function(event) {   
        event.preventDefault();      

        var formfields = $('#season-ticket-section :input').serialize();

	    eshop.ajax_req(formfields , 'ajax/paoticketscheck' , function(res) {  
	         if(res.success == "false"){
                 eshop.display_errors(res.errors);
             }else{
	           	 $('#ticket-notice').html(res.msg).show();
             }
   
	    });
    });  
});			
</script>