/*
// "Keegot Template" for Joomla! 2.5.x - Version: 3.1
// Designed & Developed by Keegot.
// Copyright (c) 2010 - 2012 Keegot. All rights reserved.
// Released under the GNU/GPL license: http://www.gnu.org/copyleft/gpl.html
// More info at http://www.keegot.com
*/

body,div{ padding: 0; margin: 0;}
.g960 { width:960px; margin: 0 auto;}
.g970 { width:970px; margin: 0 auto;}
.g980 { width:980px; margin: 0 auto; width:100%; max-width: 1000px; width: 980px}
.g990 { width:990px; margin: 0 auto;}
.g1000 { width:1000px; margin: 0 auto;}

/* Row */
.row {/* overflow:hidden*/ }
.row:after{content: '.';display: block;height: 0;visibility: hidden;clear:both;}

/* experimental (clear all lists for floating elements) */
/* ul:after{content: '.';display: block;height: 0;visibility: hidden;clear:both;} */

/* Gutter */
.row .p1 { margin: 1px;}
.row .p2 { margin: 2px;}
.row .p4 { margin: 4px;}
.row .p5 { margin: 5px;}
.row .p6 { margin: 6px;}
.row .p8 { margin: 8px;}
.row .p10 { margin: 10px;}
.row .p10-0 { margin: 10px 0;}
.row .p12 { margin: 12px;}
.row .p15 { margin: 15px;}
.row .p20 { margin: 20px;}
.row .p30-0-0 { margin: 30px 0 0 }
.row .p0-10 { margin: 0 10px;}
.row .p5-10 { margin: 5px 10px;}
.row .p0-14 { margin: 0 14px;}
.row .p0-15 { margin: 0 15px;}
.row .p0-20 { margin: 0 20px;}
.row .p10-10-10-0 { padding: 10px 10px 10px 0}

/* Boxes */
.w1,.w2,.w25,.w3,.w33,.w34,.w4,.w5,.w6,.w7,.w75,.w8,.w9,.w10,.w11,.w12,.w100,.w110,.w120,.w130,.w140,.w150,.w160,.w170,.w180,.w190,.w200,.w210,.w220,.w230,.w240,.w250,.w260,.w270,.w280,.w290,.w300,.w310,.w320,.w330,.w340,.w350,.w360,.w370,.w380,.w390,.w400,.w410,.w420,.w430,.w440,.w450,.w460,.w470,.w480,.w490,.w500,.w510,.w520,.w530,.w540,.w550,.w560,.w570,.w580,.w590,.w600,.w610,.w620,.w630,.w640,.w650,.w660,.w670,.w680,.w690,.w700,.w710,.w720,.w730,.w740,.w750,.w760,.w770,.w780,.w790,.w800,.w810,.w820,.w830,.w840,.w850,.w860,.w870,.w880,.w890,.w900,.w910,.w920,.w930,.w940,.w950,.w960,.w970,.w980,.w990,.w1000{float:left;}

/* Fixed width */
.w100 { width:100px;}.w110 { width:110px;}.w120 { width:120px;}.w130 { width:130px;}.w140 { width:140px;}.w150 { width:150px;}.w160 { width:160px;}.w170 { width:170px;}.w180 { width:180px;}.w190 { width:190px;}
.w200 { width:200px;}.w210 { width:210px;}.w220 { width:220px;}.w230 { width:230px;}.w240 { width:240px;}.w250 { width:250px;}.w260 { width:260px;}.w270 { width:270px;}.w280 { width:280px;}.w290 { width:290px;}
.w300 { width:300px;}.w310 { width:310px;}.w320 { width:320px;}.w330 { width:330px;}.w340 { width:340px;}.w350 { width:350px;}.w360 { width:360px;}.w370 { width:370px;}.w380 { width:380px;}.w390 { width:390px;}
.w400 { width:400px;}.w410 { width:410px;}.w420 { width:420px;}.w430 { width:430px;}.w440 { width:440px;}.w450 { width:450px;}.w460 { width:460px;}.w470 { width:470px;}.w480 { width:480px;}.w490 { width:490px;}
.w500 { width:500px;}.w510 { width:510px;}.w520 { width:520px;}.w530 { width:530px;}.w540 { width:540px;}.w550 { width:550px;}.w560 { width:560px;}.w570 { width:570px;}.w580 { width:580px;}.w590 { width:590px;}
.w600 { width:600px;}.w610 { width:610px;}.w620 { width:620px;}.w630 { width:630px;}.w640 { width:640px;}.w650 { width:650px;}.w660 { width:660px;}.w670 { width:670px;}.w680 { width:680px;}.w690 { width:690px;}
.w700 { width:700px;}.w710 { width:710px;}.w720 { width:720px;}.w730 { width:730px;}.w740 { width:740px;}.w750 { width:750px;}.w760 { width:760px;}.w770 { width:770px;}.w780 { width:780px;}.w790 { width:790px;}
.w800 { width:800px;}.w810 { width:810px;}.w820 { width:820px;}.w830 { width:830px;}.w840 { width:840px;}.w850 { width:850px;}.w860 { width:860px;}.w870 { width:870px;}.w880 { width:880px;}.w890 { width:890px;}
.w900 { width:900px;}.w910 { width:910px;}.w920 { width:920px;}.w930 { width:930px;}.w940 { width:940px;}.w950 { width:950px;}.w960 { width:960px;}.w970 { width:970px;}.w980 { width:980px;}.w990 { width:990px;}
.w1000{width:1000px;}

.clr-desktop { clear:both; height:0; line-height:1px; font-size:0; display:block; float:none; overflow:hidden;}

/* Fluid */
.w1{width:10%;}.w2{width:20%;}.w25{width:25%;}.w3{width:30%;}.w33{width:33%;}.w34{width:34%;}.w4{width:40%;}.w5{width:50%;}.w6{width:60%;}.w7{width:70%;}.w75{width:75%;}.w8{width:80%;}.w9{width:90%;}.w10{width:100%;}

/* Responders */
body.respond .g960 { width:auto; max-width:960px; }
body.respond .g970 { width:auto; max-width:970px; }
body.respond .g980 { width:auto; max-width:980px; }
body.respond .g990 { width:auto; max-width:990px; }
body.respond .g1000 { width:auto; max-width:1000px; }

@media screen and (max-width: 1360px) { /* breakpoint 1 */
	html.big-screen .w-screen { max-width: 1200px; padding: 0 10px; }
}

@media screen and (max-width: 767px){ /*  breakpoint 2 */
	body.respond .w-screen { max-width: 720px; padding: 0 20px;  }
	body.respond .wt-10 { float:none; width:100%;}
}
@media screen and (max-width: 480px){ /* breakpoint 3 */
	body.respond .w-screen { max-width: 400px; padding: 0 30px;  }
	body.respond .hide-phone { display: none;}
	body.respond .main-area,
	body.respond .s1 { float:none; width:100%;}
	body.respond .s3 { float:none; width:100%;}
}
/*
@media screen and (max-width: 480px) {
	table { background: #fff; width:auto;}
	table thead th {display: inline-block; }
	table tbody th {display: block; }
	table tbody td {display: inline-block !important; border-top:0; border-bottom:0; }
}*/
/* http://www.thinkmobilefirst.net/table/2.html */

@media screen and (min-width: 768px) and (max-width: 1024px) { /* breakpoint 1 + 2 */
	
}


/* No Media Queries Support (Javascript Enabled) */
/*
html.big-screen .w-screen { max-width: 1200px; padding: 0 10px; }
html.tablet-screen .w-screen{ max-width: 720px; padding: 0 20px;}
html.phone-screen .w-screen{ max-width: 720px; padding: 0 20px;  }
html.phone-screen .hide-phone { display: none;}
html.phone-screen .main-area,
html.phone-screen .s1 { float:none; width:100%;}
html.phone-screen .s3 { float:none; width:100%;}
*/
/* later
.w-screen { transition: max-width 0.3s;
-moz-transition: max-width 0.3s;
-webkit-transition: max-width 0.3s; 
-o-transition: max-width 0.3s; 
}
*/