/*
// "Keegot Template" for Joomla! 2.5.x - Version: 3.0
// Designed & Developed by Keegot.
// Copyright (c) 2010 - 2012 Keegot. All rights reserved.
// Released under the GNU/GPL license: http://www.gnu.org/copyleft/gpl.html
// More info at http://www.keegot.com
*/



/* TABS */
/* ------------------------------------------------------------------ */

/* Reset */
.tabs-panel {}
.tabs-panel a,
.tabs-panel a:link,
.tabs-panel a:visited {}
.tabs-panel .tab img { /* width:100%; height: auto; display:block; padding: 0; */ }

/* Layout */
.inactive-tab { display: none;}
.active-tab { display: block;}

.tabs-panel .panel-nav { text-align: center}
.tabs-panel .panel-blts { text-align: center; display: inline-block; display: none;}
.tabs-panel .panel-blts li { display: inline;}
.tabs-panel .panel-blts a { display: block; float:left; margin: 2px 4px;}

.panel-navigation { display: block; list-style: none; padding: 0; margin: 0; overflow: hidden}
.panel-navigation li { display: inline; padding: 0; margin: 0}
.panel-navigation li a { display: block; float: left;}

/* Help */
.tabs-panel img {-ms-interpolation-mode: bicubic;}
.tabs-panel .tab { overflow: hidden; position: relative;}

.tabs-panel .nav { list-style: none; padding: 0; margin: 0; }
.tabs-panel .nav li { margin: 0; padding: 0;}
.tabs-panel .nav li a:link,
.tabs-panel .nav li a:visited {}

.panel-blts { display: block; overflow: hidden; margin: 0; padding: 0}
.panel-blts li { display: inline; padding: 0; margin:0}

/* END OF STYLESHEET */
/* ==================================================== */