/*
// "Keegot Template" for Paoshop - Version: 1.0
// Developed by Keegot.
// Copyright (c) 2010 - 2012 Keegot. All rights reserved.
// Released under the GNU/GPL license: http://www.gnu.org/copyleft/gpl.html
// More info at http://www.keegot.com
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,400italic,700&subset=greek-ext,latin);

/* BASIC HTML */
/* ------------------------------------------------------------------ */

/* (Reset) */
div,body.site { margin:0; padding:0; }

/* (Body) */
body { font:normal 15px/20px 'Open Sans', Arial, sans-serif; text-align:left;}

/* (Paragraphs) */
p { margin:0; padding:0 0 12px 0; }
p.info { margin:0 0 12px; padding:12px; background: #fff; border:1px solid #f1f1f1; border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

/* (headings) */ 
h1,h2,h3,h4,h5,h6 { margin:4px 0 6px; padding:0; }
h1 { font:bold 34px/36px 'Open Sans', Arial, sans-serif; }
h2 { font-size: 30px; line-height:32px; font-family: 'Open Sans', Arial, sans-serif; font-weight:700; letter-spacing: -1px; color:#00a651 }
h3 { font-family:'Open Sans', Arial, sans-serif; color:#505050; font-weight: bold; font-size: 14px; line-height: 18px; }
h4 { font:normal 16px/22px 'Open Sans', Arial, sans-serif; color:#00a651;}
h5 { font:normal 15px/20px 'Open Sans', Arial, sans-serif; }
h6 { font:normal 14px/18px 'Open Sans', Arial, sans-serif; }

h2.row-title { font-size: 22px; line-height: 24px; padding: 4px 0 8px;color:#00a651; border-bottom: 1px solid #c9c9c9; }
h2.form-title { font-size: 20px; line-height: 24px; padding: 4px 0 8px; color:#505050; }
h2.form-title a:link,
h2.form-title a:visited {color:#505050; }
h3 a:link,
h3 a:visited {color:#505050; }
h3 a:hover {color:#505050; text-decoration: none; color:#00a651; }
h4.definition { font-family: 'Open Sans Condensed', Arial, sans-serif; font-weight: 700;  margin: 0 0 8px; padding: 0}

/* (listings) */
ul { margin:8px 8px 7px 12px; padding:0 4px 0 8px; }
ul li { margin:1px 2px 0 4px; padding:0; }
ol { margin:8px 8px 7px 12px; padding:0 4px 0 8px; }
ol li { margin:1px 2px 0 4px; padding:0; }
dl { margin:8px 8px 7px 12px; padding:0 4px 0 8px; }
dl dt { margin:4px; padding:0; }
dl dd { margin:1px 2px 0 4px; padding:0; }

/* (tables)*/
table { width:auto; border-collapse:collapse; margin:10px 0; }
thead {}
tbody {}
tr td {  background:#fff;}
tr.row2 td { background:#F9F9F9;}
th, td { text-align:left; border-width:1px; border-style:solid;}
th { padding:6px 8px 4px; font-weight: bold; border-color:#efefef; background: #f9f9f9; }
thead th {  background:#f0f0f0; border-color:#e4e4e4 #d9d9d9 #b4b4b4; }
td { padding:6px 8px 4px; border-color:#efefef; }
th a:link, th a:visited { }

/* (images) */
img,a img { border:0; }
figure {margin: 0;}

/* (links)  */
a:link,a:visited { text-decoration:none; color:#00a651; }
a:active,a:focus { outline:0; }
a:hover { text-decoration:underline; }

a.helper:link,
a.helper:visited { text-decoration:none; color:#888;text-decoration: underline; }
a.helper:hover { color: #000;}

/* (forms) */
form { }
fieldset { border:0; padding:6px 0 5px; margin-left:0  }
legend { }
select,option { }
input { }
textarea { padding:2px 5px; margin:0 20px 12px 0; }
label { padding: 1px 6px 0 4px; font-size: 12px; color: #777; }
.block-labels label { display: block; }
.inline-labels label { display: inline; }
.inputbox { padding: 5px 8px 5px; margin-bottom: 4px; /* background: #f3f3f3; */ border-left:1px solid #c7c7c7; border-top:1px solid #999; border-right:1px solid #cdcdcd; font-size: 14px; color: #444; }
.small-inputbox { max-width: 90%; width:auto;}
.inputbox:focus { }
.button { cursor:pointer; }
input.invalid,
textarea.invalid { }
label.invalid {  }
.required { margin: 0 5px; color: red; font-size: 90%;}

/* Form Views */
.form-view .main-area-zone { background: #f1f1f1;position:relative;}
.form-view .content { /* margin-left: 0 */}
.form-view .main-area { /* min-height: 500px; */}
.form-view h3.heading span { background: #f1f1f1}
.form-view .inputbox { background: #fff;}
.form-view .main label { font-size: 13px; color:#555;}
.form-view .main .input-help { font-size: 12px; color:#555; line-height: 15px; display: block;}
.start-hidden { display: none;}

/* Mini Form */
.mini-form label {  }

/* (Text Elements) */
b,strong { font-weight: bold;}
.big { font-weight: bold; font-size: 110% }
.bigger { font-weight: bold; font-size: 140% }

/* (other) */
pre,code { font-family:monospace; padding:0 22px; line-height:22px; margin-bottom:22px; white-space: normal; border-top: 1px solid #f2d3f3; background:#fff url(../images/codeline.jpg) repeat 0 0; }
blockquote { font:italic 18px/22px "Lucida Sans","Lucida Sans Italic","Lucida Grande","Lucida Sans Unicode",Verdana,Arial,sans-serif; margin:10px 0; padding:20px; }
acronym { cursor:help;border-bottom:1px dotted #000;}

/* (Lines) */
hr { border:none; height:0; line-height:0; margin:8px 0; padding:0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

dfn {font-style: italic;}

/* (Help) */
.clr { clear:both; height:0; line-height:1px; font-size:0; display:block; float:none; overflow:hidden; }
div .f-right{ float:right;}
div .f-left { float:left;}
.text-right { text-align: right}
.hidden { display:none;}
.v-table { display: table; width:100%;}
.v-cell { display: table-cell;}
.skipper { position: absolute; left:-10000px;}
.skipper:focus { position: relative; left:auto;}
.m-20-0 { margin: 20px 0}

:focus {}
/* TEMPLATE (THEME) */
/* ------------------------------------------------------------------ */

body.site { background: #e1e1e1; color: #505050; font-strech: narrower; padding-top: 36px;}

/* Colors */
.green-light { color: #008d4d;}
.green-dark { color:#008d4d;}
.gray { color:#888;}

.gradient-top { background:url(../img/theme/gradient-top.jpg) no-repeat 50% 0 }
.gradient-bottom { background:url(../img/theme/gradient-bottom.jpg) no-repeat 50% 100% }
.shadow-bottom { background:url(../img/theme/drop-shadow-bottom.png) no-repeat 50% 100%; padding-bottom: 20px; }
.inner-shadow-bottom { background:url(../img/theme/inner-shadow-bottom.png) no-repeat 50% 100%; }
.inner-shadow-top { background:url(../img/theme/drop-shadow-bottom.png) no-repeat 50% 0;  }
.light-gray { background: #f5f5f5;}
.separate-left { border-left: 1px solid #cfcfcf; padding-left: 20px;}
.border-btm {border-bottom:1px solid #c9c9c9;}

/* Image variations */
img.img-promo.a-right { margin:0 0 0 40px;padding:0 0 10px 0;}
img.img-promo.a-left { margin:0 40px -20px 0;}
img.a-right {float:right; margin: 0 0 0 10px}
img.a-left {float:left; margin: 0 10px 0 0; }

/* Button link */
.button-link { display: block; float:left; height: 34px; padding: 0 6px 0 0; line-height: 28px; background:url(../img/theme/green.png) repeat-x 0 0; position: relative;  -moz-border-radius: 3px;-webkit-border-radius: 3px; border-radius: 3px; }
.button-link span.button-side { display: block; height: 34px; background: url(../img/theme/btn.png) no-repeat 0 0; background: none; padding:0 10px 0 16px; }

.button-link.button-gray { background:url(../img/theme/white.png) repeat-x 0 0; line-height: 32px; }
.button-link.button-gray span {background: none}
.button-link.button-gray.active,
.button-link.button-gray:hover { background:url(../img/theme/gray.png) repeat-x 0 0;}

a.button-link:link,
a.button-link:visited { color: #fff; font-family: 'Open Sans Condensed', Arial, sans-serif; font-weight: 700;  font-size: 12px; }

a.button-link:hover { text-decoration: none; background-position: 100% -34px;}
a.button-link:hover span.button-side { background-position: 0 -34px;}

/* Button */
/*
.button-green { border:0; cursor: pointer; display: block; color: #fff; font-family: 'Open Sans Condensed', Arial, sans-serif; font-weight: 700;  font-size: 12px; float:left; height: 34px; padding: 0 6px 0 0; line-height: 30px; background:url(../img/theme/btn-side.png) no-repeat 100% 0; position: relative; }
.button-green span.button-side { display: block; height: 34px; background: url(../img/theme/btn.png) no-repeat 0 0; padding:0 6px 0 12px;  }
.button-green:hover { text-decoration: none; background-position: 100% -34px;}
.button-green:hover span.button-side { background-position: 0 -34px;}

.button-gray { border:0; cursor: pointer; display: block; color: #fff; font-family: 'Open Sans Condensed', Arial, sans-serif; font-weight: 700;  font-size: 12px; float:left; height: 34px; padding: 0 6px 0 0; line-height: 30px; background:url(../img/theme/btn-gray-side.png) no-repeat 100% 0; position: relative; }
.button-gray span.button-gray-side { display: block; height: 34px; background: url(../img/theme/btn-gray.png) no-repeat 0 0; padding:0 6px 0 12px;  }
.button-gray:hover { text-decoration: none; background-position: 100% -34px;}
.button-gray:hover span.button-gray-side { background-position: 0 -34px;}

.button-white { border:0; cursor: pointer; display: block; color: #666; font-family: 'Open Sans Condensed', Arial, sans-serif; font-weight: 700;  font-size: 12px; float:left; height: 34px; padding: 0 6px 0 0; line-height: 30px; background:url(../img/theme/btn-white-side.png) no-repeat 100% 0; position: relative; }
.button-white span.button-white-side { display: block; height: 34px; background: url(../img/theme/btn-white.png) no-repeat 0 0; padding:0 6px 0 12px;  }
.button-white:hover { text-decoration: none; background-position: 100% -34px;}
.button-white:hover span.button-white-side { background-position: 0 -34px;}
*/

.button { -moz-border-radius: 3px;-webkit-border-radius: 3px; border-radius: 3px; border:0; cursor: pointer; display: block;  font-family: 'Open Sans Condensed', Arial, sans-serif; font-weight: 700; font-size: 12px; float:left; padding: 5px 8px; position: relative; margin: 1px 4px; }
.button:hover { background-position: 0 -34px; }

.button-green { background:url(../img/theme/green.png) repeat-x 0 0;  color: #fff;   }
.button-gray { background:url(../img/theme/gray.png) repeat-x 0 0; color: #fff;  }
.button-white { background:url(../img/theme/white.png) repeat-x 0 0;  color: #666; }



h3.heading { display: block; background: url(../img/theme/pattern-green.png) repeat-x 0 0; text-align: center; font-style: 14px; line-height: 14px; padding: 0; margin:12px 0;}
h3.heading span { display: inline-block; padding: 0 5px; background: #fff; text-align: center; font-weight: bold; font-family: 'Open Sans Condensed', Arial, sans-serif; color:#008d4d}
.gradient-top h3.heading span { background: #ebebeb; }



/* Zones */
.top-zone { background: #008d4d; height: 90px }
.tools-zone { background:#010101 url('../img/theme/pattern.png') repeat 0 0; /* border-top:1px solid #ccc;  border-bottom:1px solid #ccc; */ position: fixed; top:0; right: 0; left:0; z-index: 20; -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.5); -moz-box-shadow:0 1px 2px rgba(0,0,0,0.5);  box-shadow:0 1px 2px rgba(0,0,0,0.5)}
.main-area-zone { background: #fff; position:relative}
.bottom-zone { background:#010101 url('../img/theme/pattern.png') repeat 0 0; border-top:1px solid #ccc; border-bottom:1px solid #f1f1f1; }
.footer-zone { background:#e1e1e1 url('../img/theme/footer-bg.jpg') repeat-x 0 0; overflow: hidden }

/* Custom Grid Elements */
.tools { margin: 0 20px 0 30px; }
.main-area { }
.sidebar { width:190px; float:left; margin: 10px 0 10px 30px}
.content { margin-left: 222px; }
.main { width:100%; float:left;}
.footer { padding: 20px 0 30px 60px;}

/* Respond */
.main img { max-width: 100%; height: auto;}

/* (Logo) */
.logo-block { background: #008d4d; padding: 10px; -moz-border-top-left-radius: 10px;-webkit-border-top-left-radius: 10px; border-top-left-radius: 10px; -moz-border-top-right-radius: 10px;-webkit-border-top-right-radius: 10px; border-top-right-radius: 10px;}
a.sidebar-logo { background: url('../img/logo-paoshop.png') no-repeat 50% 0; display: block; width:100%; height: 152px; overflow: hidden; text-indent: -500px;}
a.sidebar-logo:hover { text-decoration: none;}

a.official-store-170:link,
a.official-store-170:visited { display: block; width:100%; height: 18px; background: url(../img/official-store-170.png) no-repeat 0 0; overflow: hidden; text-indent: -500px; margin-bottom: 10px }
a.official-store-170:hover { text-decoration: none;}

a.official-store-badge:link,
a.official-store-badge:visited {  display: block; width:100%; height: 96px; overflow: hidden; text-indent: -500px; margin-bottom: 4px; background: url(../img/official-badge2.png) no-repeat 50% 50%;}
a.official-store-badge:hover { text-decoration: none;}

/* SEO - Title */
h1#seoPageTitle { font-size: 0; line-height: 0; margin: 0; padding: 0; display: block; height: 0; overflow: hidden;}

/* Sidebar */
.sidebar h4 { font-size: 14px; line-height: 24px; padding: 0; margin: 0 0 8px; color: #fff; font-family: 'Open Sans', Arial, sans-serif; font-weight: 700;}

/* Sidebar categories menu */
.categories-block { paddin-bottom: 30px;  background: #008d4d; }
.categories-block dl { display: block; padding: 0; margin: 0; }
.categories-block dl dt { display: block; padding: 3px 4px 2px 10px; margin: 0; background:url(../img/theme/pattern.png); color: #e4e4e4; font-size: 13px; line-height: 22px; font-weight: 400; font-family: 'Open Sans', Arial, sans-serif;}
.categories-block dl dd { display: block; padding: 0; margin: 0; border-top:1px solid #33af71; border-bottom:1px solid #006a32;}
.categories-block a:link,
.categories-block a:visited { color:#fff; font-size: 14px; line-height: 22px; display: block; padding: 3px 4px 2px 10px; }
.categories-block a:hover { background: #00833f; text-decoration: none;}
.categories-block .parent a:link,
.categories-block .parent a:visited { background-image:url(../img/theme/arrow-white.png); background-repeat: no-repeat; background-position: 94% 50%;  }

.categories-block .active a:link,
.categories-block .active a:visited { background-image: none;}
.categories-block .active a:hover { background: #008d4d}

.categories-block dl dl {display: none;}
.categories-block dl dd.active dl { display: block; background: #444 url(../img/theme/active-sub-menu.jpg) no-repeat 0 0; padding: 12px 0 20px; margin: 0;}
.categories-block dl dl dd { display: block; padding:0; margin: 0; border:0;}
 
.categories-block dl .active dl a:link,
.categories-block dl .active dl a:visited { padding-left: 16px; color: #f1f1f1; }
.categories-block dl .active dl a:hover {  color: #fff; background:#333; }
.categories-block .parent dl a:link,
.categories-block .parent dl a:visited { background-image: none;}

/* Social */
.social { background: url(../img/theme/social-bg.png) no-repeat 50% 100%; padding: 1px 0 10px; text-align: center;height:50px;}
.social .social-icons { padding-bottom: 20px;}
.social span.icon-link { display: inline-block; width:26px; height: 26px; overflow: hidden; text-indent: -400px; background-repeat: no-repeat;}
.social span.icon-link a:link,
.social span.icon-link a:visited,
.social span.icon-link a:hover { display: block; width:26px; height: 26px; text-indent: -200px; overflow: hidden; text-decoration: none;}
.social span.facebook { background-image:url(../img/icons/facebook.png) }
.social span.twitter { background-image:url(../img/icons/twitter.png) }
.social span.mail { background-image:url(../img/icons/mail.png) }
.social span.rss { background-image:url(../img/icons/rss.png) }

/* Drop Down Menu (Hide/display mechanism) dont change */
.dropMenu li ul { position: absolute;  left: -999em;}
.dropMenu li:hover ul ul, 
.dropMenu li:hover ul ul ul,
.dropMenu li:hover ul ul ul ul, 
.dropMenu li:hover ul ul ul ul ul,
.dropMenu li.sfhover ul ul, 
.dropMenu li.sfhover ul ul ul, 
.dropMenu li.sfhover ul ul ul ul, 
.dropMenu li.sfhover ul ul ul ul ul { left: -999em;}
.dropMenu li:hover ul, 
.dropMenu li li:hover ul, 
.dropMenu li li li:hover ul, 
.dropMenu li li li li:hover ul,
.dropMenu li li li li li:hover ul,
.dropMenu li.sfhover ul, 
.dropMenu li li.sfhover ul, 
.dropMenu li li li.sfhover ul,
.dropMenu li li li li.sfhover ul,
.dropMenu li li li li li.sfhover ul { left: auto; }

/* Drop Down Menu (level 01) */
.dropMenu ul {clear:both; z-index:500;padding: 0; margin: 0; list-style: none; }
.dropMenu li { margin: 0; padding: 0; float: left; display:inline;}
.dropMenu a { display: block; font-size: 14px; font-weight: bold; margin: 0 8px 0 0; padding: 4px 8px; }
.dropMenu li.sfhover.parent a {  padding: 4px 8px; text-decoration: none;}


/* Drop Down Menu (level 02) */
.dropMenu li ul { /* width:216px; */ background: #fff; padding: 12px; border:1px solid #d8d8d8;}
.dropMenu li ul li { float: none; display:block; padding: 2px 0; margin: 2px 0;}
.dropMenu li.parent ul li a,
.dropMenu li.sfhover.parent ul li a { padding: 0; margin: 0; border: 0; }
.dropMenu li.parent ul li a:hover { text-decoration: underline }
.dropMenu li.sfhover li a { text-decoration:none; }

/* Drop Down Menu (level 03) */
.dropMenu li ul ul { margin:-20px 0 0 216px; }

/* Legacy flat */
#menu #mainlevel-nav li a {padding: auto 6px;}

/* (menu) (table) */
#menu table { }
#menu td { }
#menu td a { padding:2px 7px; }
#menu td a:hover { }
#menu a#active_menu-nav { }

/* (menu) (list) (vertical) */
.sidebar ul.menu { padding: 0; margin: 0; list-style: none;}
.sidebar ul.menu li { padding:0; margin: 8px 0 6px;}
.sidebar ul.menu li a { /* display: block; padding:8px 0 6px; */ font-weight: bold; line-height: 1.2 }
.sidebar ul.menu li a:hover { text-decoration: underline;}
.sidebar ul.menu ul { padding: 5px 0; margin: 0 0 5px; list-style: none;}
.sidebar ul.menu ul li { border: 0;}
.sidebar ul.menu ul ul { border: 0;}

/* (menu) (list) (vertical) (legacy) */
.sidebar ul#mainlevel { padding: 0; margin: 0; list-style: none;}
.sidebar ul#mainlevel li { padding:0; margin: 0; }
.sidebar ul#mainlevel li a { display: block; padding:8px 0 6px; font-weight: bold; line-height: 1.2 }
.sidebar ul#mainlevel li a:hover { text-decoration: none;}
.sidebar ul#mainlevel ul { padding: 5px 0; margin: 0 0 5px; list-style: none;}
.sidebar ul#mainlevel ul li { border: 0; font-size: 90%; }
.sidebar ul#mainlevel ul ul{ border: 0;}


.tools .v-cell { display: block; float:left;}
.tools .top-language { width:160px; max-width: 160px;}
.tools .top-cart { width:160px; text-align: center;}
.tools .top-login { width:400px;}

.top-language a img { border: 0; padding: 0;margin: 0; display: block;}
.top-language a:link,
.top-language a:visited { text-decoration: none; margin: 0 4px; display: inline-block; line-height: 16px; padding-bottom: 2px;}
.top-language .active { border-bottom: 1px solid #fff; padding-bottom: 1px;}

.tools { padding: 5px 0; font-size: 12px; color:#e6e6e6}
.tools a:link,
.tools a:visited { color:#e6e6e6;}
.tools a:hover { color: #fff; text-decoration: none}
.tools form,
.tools fieldset { padding: 0; margin: 0; }

/* Tools on top of the page */
.tools { padding: 5px 0; font-size: 12px; color:#e6e6e6}
.tools a:link,
.tools a:visited { color:#e6e6e6;}
.tools a:hover { color: #fff; text-decoration: none}
.tools form,
.tools fieldset { padding: 0; margin: 0; }

.tools button.pseudo-btn { background: none; color:#fff; font-family: 'Open Sans', Arial, sans-serif; font-size: 12px; color: #e6e6e6; padding: 0 26px 0 0; border: 0;}
.tools button.pseudo-btn span.arrow { background: url(../img/theme/arrow-white-down.png) no-repeat 50% 50%;}

.tools ul.pseudo-select { background: #fff; border: 1px solid #ddd; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
.tools ul.pseudo-select li a:link,
.tools ul.pseudo-select li a:visited { color: #000;}
.tools ul.pseudo-select li a:hover { background: #f1f1f1; text-decoration: none;}

.top-search input { width:90%; /* min-width: 200px; */ width:140px;}
.top-language { min-width: 100px; text-align: center;}
.top-cart { min-width: 80px;}
.top-cart .mini-cart-total { display: inline-block; padding-left: 30px; background:url(../img/icons/mini-cart.png) no-repeat 0 50%;  font-size: 16px; line-height: 20px; font-weight: normal; }
.top-login { min-width: 80px; text-align: center;}
.top-user-area {}
.top-user-area a:link,
.top-user-area a:visited { margin:0 4px; }
.user-point { padding-left: 20px; background:url(../img/icons/user.png) no-repeat 0 50% }

/* (Promo area) */
.promo { margin-bottom: 15px;}
.promo h2 { margin-bottom: 20px;}

/* Generic Product Styling */
span.price { font-weight: bold; color:#008d4d}

/* Offers */
.offer {}

/* Latest Products */
.latest-product { text-align: center; }
.latest-product h3 { font-size: 13px; line-height: 16px;}


/* (Footer) */
.footer { color: #555; font-size: 13px}
.footer ul { display: block; padding:0; margin: 0; list-style: none;}
.footer ul li { display: block; padding: 3px 0 2px; margin: 0}

.footer a:link,
.footer a:visited { color: #555;}
.footer a:hover { color: #008d4d}

.payment-icons span { display: block; overflow: hidden; float:left; text-indent: -500px; width:36px; height: 22px; margin: 3px;}
.payment-icons .eurobank { background:url(../img/icons/eurobank.png); float: none; width: 140px; height: 33px; margin-left: -12px; margin-bottom: 8px}
.payment-icons .visa { background:url(../img/icons/visa.png) }
.payment-icons .mastercard { background:url(../img/icons/mastercard.png) }
.payment-icons .euroline { background: url(../img/icons/euroline.png)}
.payment-icons .diners { background:url(../img/icons/diners.png) }
.payment-icons .paypal { background:url(../img/icons/paypal.png);  width: 95px; height: 33px; margin:8px 0 }

.supporters a:link,
.supporters a:visited { font-weight: bold; color:#008d4d}

/* Copyrights + Credits */
.copyrights { }
.copyrights a:link,
.copyrights a:visited { }
.copyrights a:hover { }

.credits { text-align: right;}
.credits a:link,
.credits a:visited { }
.credits a:hover { }



/* ================================================================ */
/* JOOMLA MODULES
/* ================================================================ */

/* Module General Styling */
.module {}
.module h3.module-title { margin-top: 0;}
.module .module-content { }

/* Sidebar Module General Styling */
.sidebar .module {}
.sidebar .module h3.module-title {}
.sidebar .module .module-content { }

/* (breadCrumbs) */
span.breadcrumbsText { }
span.pathway { }
span.pathway img { }
a.pathway { }
a.pathway:hover { }

/* (search)(module) */
form div.search { float:right; border:1px solid; border-color:silver #D9D9D9 #D9D9D9; background: #fff; line-height: 30px; overflow: hidden; border-radius:3px; -moz-border-radius: 3px;-webkit-border-radius: 3px; -webkit-box-shadow: inset 0 1px 2px #eee; box-shadow: inset 0 1px 2px #eee; box-sizing: border-box; /* min-width: 200px; */}
form div.search:after {content: '.'; display: block; height: 0; visibility: hidden; clear:right;}
form div.search:hover { border-color:#ccc; }
form div.search label { display: none;}
form div.search .inputbox { border: 4px solid #fff; zoom: 1; display: inline-block; height: 100%; outline: none; padding: 2px 4px 3px; width:100%; margin: 0;}



/* Select Buttons */
.pseudo-select { text-align: left;}
.btn-group { position: relative; display: inline-block; white-space: nowrap; vertical-align: middle; }
button.pseudo-btn { display:block; text-align: left; border:0; position: relative; height: auto; line-height: 18px; padding: 2px 26px 2px 6px; cursor: pointer;  min-width: 56px; }
button.pseudo-btn:hover{ }
button.pseudo-btn span.arrow {position:absolute; top:0; right:5px; width:20px; height: 20px; cursor: pointer; }
button.pseudo-btn span.arrow { background: url(../img/theme/arrow-black-down.png) no-repeat 50% 50%;}
ul.pseudo-select.closed { display: none; }
ul.pseudo-select.open { display: block; }
ul.pseudo-select { top:24px; z-index: 280; position: absolute; left:2px; padding: 5px 0; margin: 0; min-width: 56px; list-style: none;}
ul.pseudo-select li {display: block; padding: 0; margin: 0;}
ul.pseudo-select li a:link, ul.pseudo-select li a:visited { display: block; padding: 3px 10px; line-height: 15px;}

/* Pseudo Select Default Styling*/
button.pseudo-btn { font-family: 'Open Sans', Arial, sans-serif; font-size: 12px; background:#fff url(../img/theme/select.png) repeat-x 0 100%; color: #000; border: 1px solid #d2d2d2;}
ul.pseudo-select { background: #fff; border: 1px solid #ddd; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
ul.pseudo-select li a:link,
ul.pseudo-select li a:visited { color: #000;}
ul.pseudo-select li a:hover { background: #f1f1f1; text-decoration: none;}


/* ================================================================ */
/* MAIN CONTENT AREA */
/* ================================================================ */
.main-area { min-height: 800px;position:relative;background:#fff;}

/* Products Page */
.list-actions { border: 1px solid #d9d9d9; background: #f9f9f9;}
.list-limit { text-align: right;}

h2.category-title { font-size: 16px; line-height: 24px;}

.top-sub-menu { display: block; list-style: none; padding: 10px 0; margin: 0}
.top-sub-menu li { display: inline-block; margin: 0 8px 0 0;}

.product-list { min-height: 400px;}

.list-item { margin-bottom: 30px;}
.list-item .product-thumb { border:1px solid #c9c9c9; overflow: hidden; height: 240px; position: relative;}
.list-item .product-thumb img { display: block; margin: 0 auto; padding: 10px 0px;}
.list-item h3.product-title { padding: 4px 0; margin:4px 0 3px}
.list-item .product-small-desc { font-size: 12px; line-height: 16px; margin-bottom: 8px;}
.list-item .product-price {  background: #008d4d; color: #fff; display: block; padding: 2px 5px; position: absolute; bottom: 12px; right:0px; text-align: center; }
.list-item .product-old-price { padding: 2px 5px; text-align: center; bottom: 36px; right:0; position: absolute; color:#008d4d; display: block; font-size: 80%; text-decoration: line-through;}
.list-item .badge-new { position: absolute; top:0; left:0; display: block; width:52px; height: 52px; background:url(../img/theme/badge-new.png) no-repeat 0 0; overflow: hidden; text-indent: -200px; }

.list-item .badge-discount {position: absolute; top:0; right:0; display: block; width:68px; height: 68px;  overflow: hidden; text-indent: -200px;}



.list-item .discount-20 { background: url(../img/theme/badge-discount.png) no-repeat 0 0;  }

.list-item .discount-20 .price_box {
	z-index: 50;
	-webkit-transform: rotate(325deg);
	-moz-transform: rotate(325deg);
	-o-transform: rotate(325deg);
	-ms-transform: rotate(325deg);
	writing-mode: lr-tb;
	margin-top: 25px;
	margin-left: 10px;
	width: 25px;
}

.list-item .discount-20 .price_box .price{
	font-weight:bold; line-height:15px; padding:2px 4px; margin:0 2px;
	font-size: 4px;
	color: white;
	z-index: 100;
	font-size: 17px;
	margin-left: 196px;
}


/* HOME PAGE DISCOUNT */
.latest-products .badge-discount {position: absolute; width:68px; height: 68px;  overflow: hidden;  }



.latest-products .discount-20 { 
	background: url(../img/theme/badge-discount.png) no-repeat 0 0;  
	margin-top: 10px;
	margin-left: 13px;
}

.latest-products .discount-20 .price_box {
	z-index: 50;
	-webkit-transform: rotate(325deg);
	-moz-transform: rotate(325deg);
	-o-transform: rotate(325deg);
	-ms-transform: rotate(325deg);
	writing-mode: lr-tb;
	margin-top: 28px;
	margin-left: 8px;
	width: 25px;
}

.latest-products .discount-20 .price_box .price{
	font-weight:bold; line-height:16px; 
	font-size: 4px;
	color: white;
	z-index: 100;
	font-size: 17px;
	
}

.latest-product img { border: 1px solid #c9c9c9;}


.offers .badge-discount {position: absolute; width:68px; height: 68px;  overflow: hidden;right:0; }



.offers .discount-20 { 
	background: url(../img/theme/badge-discount.png) no-repeat 0 0;  
	margin-top: 0px;
	
}

.offers .discount-20 .price_box {
	z-index: 50;
	-webkit-transform: rotate(325deg);
	-moz-transform: rotate(325deg);
	-o-transform: rotate(325deg);
	-ms-transform: rotate(325deg);
	writing-mode: lr-tb;
	margin-top: 27px;	
	margin-left: 10px;
	width: 25px;
}

.offers .discount-20 .price_box .price{
	font-weight:bold; line-height:16px;  
	font-size: 4px;
	color: white;
	z-index: 100;
	font-size: 17px;
	
}

.offers .product-item{position:relative;}

/* /HOME PAGE DISCOUNT */


.list-item .product-actions { /* background:#fff url(../img/theme/select.png) repeat-x 0 100%; */ overflow: hidden; margin-bottom: 30px; }
.list-item .product-actions button { margin-left: 0;  /* background: none ; border: 0; cursor: pointer; color:#888; font-size: 12px; */}
.list-item .product-actions button:hover { /* color:#008d4d; */ }
.list-item .product-actions .add-to-cart { float:right; }
.list-item .product-actions .add-to-wishlist { float:right; }

/* Product snippet */
.product { position: relative; }
.product-price-area { padding: 10px 0; position: relative;}
.product-price-start { font-size: 13px; line-height: 22px;  color:#999}
.product-price-start span.strike {text-decoration: line-through;}
.product-price-current { font-size: 13px; line-height:22px;}
.product-price-current .number { font-weight: bold; font-size: 15px;}
.product-price-profit { font-size: 14px; line-height: 24px; color:#008d4d; }
.product-notice { font-size: 12px;}

/* (page navigation) */
div.limitBox { }
dl.pageNavigationContainer { display:block; padding:10px 0; margin:20px 0; }
dl.pageNavigationContainer dd,
p.counter { display:inline; }
dd.pageCounter span { font-weight:bold; line-height:15px; padding:2px 4px; margin:0 2px;  }
dd.pagesLinks { }

ul.pagination { list-style: none; margin: 0; padding: 0; }
ul.pagination li { display: inline; padding: 0; margin: 0;}
ul.pagination li span,
ul.pagination li a:link,
ul.pagination li a:visited { color:#777; font-size: 12px; line-height: 20px; padding: 0 4px;}
ul.pagination li a:hover { color:#008d4d;}
ul.pagination li.active span,
ul.pagination li.active a:link,
ul.pagination li.active a:visited { background: #008d4d; color:#fff;}

/* Product Page */
.breadcrumbs { font-size: 12px; color: #888; font-weight: normal;}
.breadcrumbs a:link,
.breadcrumbs a:visited { color: #888; font-weight: normal;}
.breadcrumbs a:hover {color:#008d4d;}
.breadcrumbs span.separator { margin: 0 3px;}

.unit .product-thumb { border:1px solid #c9c9c9; overflow: hidden;  position: relative;}
.unit .product-thumb a { display: block; overflow: hidden}
.unit .product-thumb img { display: none; margin: 0 auto; width:100%; height: auto}
.unit .product-thumb a.active img { display: block;}
.unit h1.product-title { font-weight: bold; font-size: 24px; line-height: 26px; padding: 4px 0; margin:4px 0 3px; color: #008d4d}
.unit .product-sku { font-size: 12px; color:#888; line-height: 14px; padding: 5px 0 10px;}
.unit .product-price-start { font-size: 16px; line-height: 28px;}
.unit .product-price-start span.strike {text-decoration: line-through;}
.unit .product-price-current { font-size: 20px; line-height: 30px;}
.unit .product-price-current .number { font-weight: bold;}
.unit .product-price-profit { font-size: 14px; line-height: 28px;}
.unit .product-notice { font-size: 12px;}

.unit .product-action { padding: 10px 0; overflow: hidden;}
.unit .product-action button { float:right; }

.unit .product-thumbs ul { display: block; padding: 20px 0; margin: 0; list-style: none;}
.unit .product-thumbs ul li { display:block; width:33%; padding: 0; margin: 0; float:left; }
.unit .product-thumbs ul li a { display: block; overflow: hidden; padding: 10px 0; border:1px solid #fff;}
.unit .product-thumbs ul li a:hover { border:1px solid #c9c9c9;}
.unit .product-thumbs ul li img { width:80%; overflow: hidden; padding: 1%; display: block; margin: 0 auto;}
.unit .product-desc { }

/* Product Discounts */
.unit .discount .product-price-start,
.unit .discount .product-price-current,
.unit .discount .product-price-profit,
.unit .discount .product-vat { padding-left: 60px;}
.unit .badge-discount {position: absolute; top:-3px; left:-12px; display: block; width:68px; height: 68px;  overflow: hidden; text-indent: -200px;}
.unit .discount-20 { background: url(../img/theme/badge-discount.png) no-repeat 0 0; }


.unit .discount-20 .price_box {
	z-index: 50;
	-webkit-transform: rotate(325deg);
	-moz-transform: rotate(325deg);
	-o-transform: rotate(325deg);
	-ms-transform: rotate(325deg);
	writing-mode: lr-tb;
	margin-top: 25px;
	margin-left: 10px;
	width: 25px;
}

.unit .discount-20 .price_box .price{
	font-weight:bold; line-height:15px; padding:2px 4px; margin:0 2px;
	font-size: 4px;
	color: white;
	z-index: 100;
	font-size: 17px;
	margin-left: 196px;
}


/* Tabbed Content */
.sections-list { overflow: hidden; }
.sections .panel-navigation { margin-bottom: -2px; position: relative; z-index: 5}
.sections .panel-navigation li a:link,
.sections .panel-navigation li a:visited{ float:left; padding: 8px 15px; color: inherit; }
.sections .panel-navigation li.active-nav a:link,
.sections .panel-navigation li.active-nav a:visited { background: #f9f9f9; border:1px solid #c9c9c9; border-bottom: 0;}
.sections-list .active { background: #f9f9f9; border:1px solid #c9c9c9; border-bottom: 0; }
.section { padding: 15px; background: #f9f9f9; border:1px solid #c9c9c9; }

/* Cart */
.quick-summary { text-align: center;}
.bold-text { font-size: 20px; line-height: 22px; font-family: 'Open Sans Condensed', Arial, sans-serif; font-weight: 700;  margin: 0 0 8px; padding: 0;}

.cart {/*  background: #eee  */}
.cart .top-section { padding: 25px 0; background: #eee; border: 1px solid #cecece; border-bottom: 0;  }
.cart .top-section .bold-text { margin: 0 5px;}
.cart .main-section { border: 1px solid #cecece; padding: 10px 15px; background: #fff;}
.cart .bottom-section { padding: 15px; background: #eee; border: 1px solid #cecece; border-top: 0;}

.cart-row { padding: 12px 0; margin-bottom: 8px; border-bottom: 1px solid #cecece;} .last-row { border: 0 !important;}
.cart-thumb { width:12%; float:left; padding: 8px 0}
.cart-details { width:82%; float:left; margin-left: 6%}

.cart-row .inner-top { border-bottom: 1px solid #cecece; padding: 5px 0; overflow: hidden; line-height: 24px;}
.cart-row .inner-bottom { padding: 5px 0;  overflow: hidden;} 
.cart-row .cart-name { font-weight: bold; color: #000; font-size: 15px; width:50%; float:left;}
.cart-row .cart-unit-price { font-weight: bold; color: #008d4d; font-size: 13px; width:15%;  float:left; text-align: center}
.cart-row .cart-quantity { width:15%; float:left;}
.cart-row .cart-quantity input { text-align: center; padding: 3px 2px; float:left;}
.cart-row .cart-quantity a.cart-update:link,
.cart-row .cart-quantity a.cart-update:visited { display: block; width:24px; height: 24px; overflow: hidden; float:left; background: url(../img/icons/cart-refresh.png) no-repeat 50% 50%; text-indent: -200px;}
.cart-row .cart-quantity-number { width:15%; float:left; text-align: center;}
.cart-row .cart-price-sum { width:20%; float:left; font-size: 18px; font-weight: bold; color: #008d4d; text-align: right;}
.cart-row .cart-sku { width:80%; float:left; font-size: 13px; font-weight: normal; color: #999;}
.cart-row .cart-remove { width:20%; float:left; font-size: 12px; font-weight: normal; color: #999; text-align: right;}
.cart-row .cart-remove a:link,
.cart-row .cart-remove a:visited { color:#999}

.cart-additional-details { padding: 8px 0; border-top: 1px solid #cecece; /* display: none; */}
.cart-additional-details ul { display: block; list-style: none; padding: 0; margin: 0; width:70%;}
.cart-additional-details ul li { display: inline; float: left; margin:0 8px 4px 0; font-size: 11px;  color:#999 }
.cart-additional-details ul li span.additional-detail { display: block; float:left;  padding: 1px 8px; white-space: nowrap; }
.cart-additional-details ul li span.additional-detail {-moz-border-radius: 3px;-webkit-border-radius: 3px; border-radius: 3px; background: #eeeeee; color:#666; }
.cart-additional-details ul li span.additional-detail:hover { background: #777; color:#fff; cursor: pointer;}

.cart-total { text-align: right;}
.cart-total .total-price {  font-size: 24px; color:#008d4d; font-weight: bold; margin-left: 20px;}
.cart .pay-cart { float:right;}

/* Preview Cart */
.preview-area {padding: 10px 20px; margin:0;}
.cart-preview {}
.cart-preview .main-section { border: 1px solid #cecece; padding: 10px 15px; background: #fff;}
.cart-preview .cart-details { float:none; width:100%; margin: 0}
.cart-tr { overflow: hidden; color: #444; font-size: 12px;  border-bottom: 1px solid #ddd;}
.cart-name-th { width:50%; float:left; }
.cart-unit-price-th { width:15%; float:left; text-align: center}
.cart-quantity-th { width:15%; float:left; text-align: center}
.cart-price-sum-th { width:20%; float:left; text-align: right }

.cart-preview .additional-costs { margin: 1px 0; background: #f9f9f9; border-bottom: 0; border-top: 0;}
.cart-preview .additional-costs h3 { }
.cart-extra-cost-row { margin-bottom: 4px; border-bottom: 1px solid #cecece;padding: 5px 0; }
.cart-extra-cost-row .inner-top {padding: 5px 0; overflow: hidden; line-height: 24px;}
.cart-preview .extra-cost-name { width:80%; float:left; color: #777;}
.cart-preview .extra-cost-price { width:20%; float:left; color: #777; font-weight: bold; text-align: right; }

.order-details { border: 1px solid #cecece; background: #f9f9f9; border-top: 0; border-bottom: 0; margin: 1px 0; padding: 10px 15px 14px; }


/* Wish list */
.wishlist {/*  background: #eee  */}
.wishlist .top-section { padding: 25px 0; background: #eee; border: 1px solid #cecece; border-bottom: 0;  }
.wishlist .top-section .bold-text { margin: 0 5px;}
.wishlist .main-section { border: 1px solid #cecece; padding: 10px 15px; background: #fff;}
.wishlist .bottom-section { padding: 15px; background: #eee; border: 1px solid #cecece; border-top: 0;}

.wishlist-row { padding: 12px 0; margin-bottom: 8px; border-bottom: 1px solid #cecece;} .last-row { border: 0 !important;}
.wishlist-thumb { width:12%; float:left; padding: 8px 0}
.wishlist-details { width:82%; float:left; margin-left: 6%}

.wishlist-row .inner-top { border-bottom: 1px solid #cecece; padding: 5px 0; overflow: hidden; line-height: 24px;}
.wishlist-row .inner-bottom { padding: 5px 0;  overflow: hidden;} 
.wishlist-row .wishlist-name { font-weight: bold; color: #000; font-size: 15px; width:65%; float:left;}
.wishlist-row .wishlist-unit-price { font-weight: bold; color: #008d4d; font-size: 13px; width:15%;  float:left; text-align: center}
.wishlist-row .wishlist-quantity { width:15%; float:left;}
.wishlist-row .wishlist-quantity input { text-align: center; padding: 3px 2px; float:left;}
.wishlist-row .wishlist-quantity a.cart-update:link,
.wishlist-row .wishlist-quantity a.cart-update:visited { display: block; width:24px; height: 24px; overflow: hidden; float:left; background: url(../img/icons/cart-refresh.png) no-repeat 50% 50%; text-indent: -200px;}
.wishlist-row .wishlist-quantity-number { width:15%; float:left; text-align: center;}
.wishlist-row .wishlist-price-sum { width:20%; float:left; font-size: 18px; font-weight: bold; color: #008d4d; text-align: right;}
.wishlist-row .wishlist-sku { width:80%; float:left; font-size: 13px; font-weight: normal; color: #999;}
.wishlist-row .wishlist-remove { width:20%; float:left; font-size: 12px; font-weight: normal; color: #999; text-align: right;}
.wishlist-row .wishlist-remove a:link,
.wishlist-row .wishlist-remove a:visited { color:#999}
.wishlist-row .wishlist-buy { width:20%; float:left; }

.wishlist-additional-details { padding: 8px 0; border-top: 1px solid #cecece; /* display: none; */}
.wishlist-additional-details ul { display: block; list-style: none; padding: 0; margin: 0; width:70%;}
.wishlist-additional-details ul li { display: inline; float: left; margin:0 8px 4px 0; font-size: 11px;  color:#999 }
.wishlist-additional-details ul li span.additional-detail { display: block; float:left;  padding: 1px 8px; white-space: nowrap; }
.wishlist-additional-details ul li span.additional-detail {-moz-border-radius: 3px;-webkit-border-radius: 3px; border-radius: 3px; background: #eeeeee; color:#666; }
.wishlist-additional-details ul li span.additional-detail:hover { background: #777; color:#fff; cursor: pointer;}

.wishlist-total { text-align: right;}
.wishlist-total .total-price {  font-size: 24px; color:#008d4d; font-weight: bold; margin-left: 20px;}

/* Sign In */
.sign-in { padding: 10px 30px; margin: 30px 0;}
.sign-in input.inputbox { min-width: 80%; max-width:90%;}
.sign-in a.helper:link,
.sign-in a.helper:visited { font-size: 12px;}

.register-go {padding: 10px 30px; margin: 30px 0; min-height: 300px;}
.security-provider { text-align: left; border-top:1px solid #cecece;}

/* Register */
.register { padding: 10px 20px; margin: 30px 0;}
.register input.inputbox { width:90%;}
.register textarea.inputbox { width:90%;}


/* Checkout */
.checkout fieldset { padding: 3px 0 3px}
.checkout { padding: 10px 20px; margin:0;}
.checkout input.inputbox { width:90%;}
.checkout input.medium-inputbox { width:70%;}
.checkout input.small-inputbox { max-width: 90%; width:auto !important;}
.checkout textarea.inputbox { width:90%;}

/* Checkout */
.steps {}
.steps ul { display: block; padding: 0; margin: 0; overflow: hidden; background: #fff; font-size: 13px;}
.steps li { display: block; float:left; width:20%; padding: 0; margin: 0; }
.steps li a:link,
.steps li a:visited { display: block; text-decoration: none; background:url(../img/theme/step-arrow-inactive.png) no-repeat 100% 50%; margin-left: -15px; padding-left: 15px; color: #505050 }
.steps li a span { display: block; padding: 8px 0 8px 10px; margin-right: 15px; margin-left: -15px; padding-left: 20px;  }
.steps li i { display: block; float: left; width:22px; height: 22px; margin: 0 5px 0 0; background:url(../img/theme/step-number-inactive.png) no-repeat 0 0; color: #fff; text-align: center; font-style: normal; }
.steps li.active a:link,
.steps li.active a:visited  { background:url(../img/theme/step-arrow.png) no-repeat 100% 50%; }
.steps li.active a:link span,
.steps li.active a:visited span { background: #009b4d; color:#b7cec2; }
.steps li.current a:link span,
.steps li.current a:visited span { background: #009b4d; color:#fff; }

.steps li.active i { background-image:url(../img/theme/step-number.png); color: #b7cec2 }
.steps li.current i { color:#fff}

.steps ul li.step-last a,
.steps ul li.step-last a span { background-image: none !important; margin-right: -30px;} 

.steps .step a { position: relative;}
.steps .step-01 a  { z-index: 7; }
.steps .step-02 a { z-index: 6; } 
.steps .step-03 a { z-index: 5; } 
.steps .step-04 a { z-index: 4;} 
.steps .step-05 a { z-index: 3;} 
.steps .step-06 a { z-index: 2;} 



/* END OF STYLESHEET */
/* ==================================================== */


/* END OF STYLESHEET */
/* ==================================================== */
/* END OF STYLESHEET */
/* ==================================================== */

/* Loader */
.loading { display: none; width:100%; height: 100%; padding: 0; margin: 0; position: absolute; z-index: 99; left:0; top:0; right:0; bottom:0; background-color: rgba(0, 0, 0, 0.75); background-image: url(../img/ajax-loader_small.gif);background-position: 50% 50%; background-repeat:no-repeat;}

/*Error*/
#error-section-form p.info { background:yellowgreen}
/*embedded-flash*/
a.transparent{
position:absolute;width:718px;height:90px; z-index:100;top:0;left:0;display:block;background:#fff;cursor:pointer;zoom:1;  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0);-moz-opacity: 0;-khtml-opacity: 0;opacity:0;text-indent:-9999em;
}
/* Languages */

/* END OF STYLESHEET */
/* ==================================================== */

