<?php
$params  = Globals::returnParams($this->params);
$section = $params['id'];
$limit   = $params['limit'];

$slider_obj = new group_slider_widget($section  , $limit);
$data = $slider_obj->data;
?>
<div id="container" class="box">
	<div id="carousel">
		<div id="slide01" class="slide">
	          <?php
	  		  foreach ($data as $key => $value) {
	  		  ?>
	          <div class="w225">
	            <a href="/listcontent/<?php echo $value['cnt_id']?>/<?php echo $value['friendly_url']?>" class="imagemask">
		            <img src="<?php echo $value['photo'];?>" alt="<?php echo $value['cnt_title'];?>" />
		            <?php echo $value['cnt_desc'];?>
	            </a>
	           </div>
	           <?php
	       		}
	           ?>
	</div>	
</div>
</div>