<?php
    $header_titles = $this->datatable_config[$this->datatable]['header_titles'];
    $rows  = $this->datatable_config[$this->datatable]['rows'];
    $table = $this->datatable;
    $field_id = $this->datatable_config[$this->datatable]['db']['id'];
    $actions = $this->datatable_config[$this->datatable]['actions'];
    $main_title = Globals::trl($this->datatable_config[$this->datatable]['main_title']);

    $add_btn = $this->datatable_config[$this->datatable]['addbutton'];
    $edit_btn = $this->datatable_config[$this->datatable]['edit_button'];
    $add_form_title = $this->datatable_config[$this->datatable]['add_form_title'];
    $edit_form_title = $this->datatable_config[$this->datatable]['edit_form_title'];
    $fieldset_var = $this->datatable_config[$this->datatable]['fieldset_var'];
    $multilang = $this->datatable_config[$this->datatable]['multilang'];

    if(isset($this->datatable_config[$this->datatable]['join'])){
        $join = $this->datatable_config[$this->datatable]['join'];
    }else{
        $join = false;
    }

    if(isset($this->datatable_config[$this->datatable]['join2'])){
        $join2 = $this->datatable_config[$this->datatable]['join2'];
    }else{
        $join2 = false;
    }    
?>
    <!-- Data Table -->
    <button id="add_btn" class="btn margin10"><span class="icon16 icomoon-icon-plus"></span><?echo Globals::trl($add_btn);?></button>
    <div class="row-fluid">
            <div class="span12">
                <?php echo  $this->dataTable($main_title , $header_titles , $table , $field_id , $rows , $actions , $multilang , $join , $join2 , $where); ?>
                <?php //new dBug($this->getHelper('dataTable')->jsonrows);?>
            </div><!-- End .span12 -->
    </div><!-- End .row-fluid -->

    <!-- Dialog for delete -->
    <div id="dialog-delete-confirm-item" title="<?echo Globals::trl('Alert');?>">
        <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span><? echo Globals::trl('This item will be permanently deleted and cannot be recovered. Are you sure?');?></p><br/>  
    </div>  

    <!-- Dialog for mass delete -->
    <div id="dialog-delete-confirm-items" title="<?echo Globals::trl('Alert');?>">
        <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span><? echo Globals::trl('This items will be permanently deleted and cannot be recovered. Are you sure?');?></p><br/>  
    </div>     

    <!-- Modal for Add -->
    <div id="modal" title="<?echo Globals::trl($add_btn);?>" class="dialog">
        <p><?echo Globals::trl('Complete the form above');?></p>
        <div class="box">
            <div class="title">
                <h4> 
                    <span><?echo Globals::trl($add_form_title);?></span>
                </h4>
            </div>

            <div id="form_fieldset_area"></div> 

            <button class="btn btn-info" id="edit-save" type="button"><?echo Globals::trl('Save');?></button>
                        
        </div>
    </div>

    <!-- Modal for Edit -->
    <div id="modal_edit" title="<?echo Globals::trl($edit_btn);?>" class="dialog">
        <p><?echo Globals::trl('Complete the form above');?></p>
        <div class="box">
            <div class="title">
                <h4> 
                    <span><?echo Globals::trl($edit_form_title);?></span>
                </h4>
            </div>

            <div id="form_fieldset_area_edit"></div> 

            <button class="btn btn-info" id="edit-save" type="button"><?echo Globals::trl('Save');?></button>
                        
        </div>
    </div>    

    <!-- Required for multilanguage tabs-->
    <div id="multitabs">
        <div style="margin-bottom: 20px;" class="multitabs">
            <ul class="nav nav-tabs pattern" id="myTab">
                <li class="dropdown active">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Languages <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                     </ul>
                </li>
            </ul>

            <div class="tab-content">

            </div>
        </div> 
    </div>    

<script type="text/javascript">
$(document).ready(function () {
    var datatable_name = '<?php echo $table;?>';
    var prev_location  = '<?php echo $this->prev_location;?>';
    
    multiclone.init({
        available_languages: [<?php echo Globals::avail_langs();?>]
    });

    dynaforms.init({
        available_languages: [<?php echo Globals::avail_langs();?>]
    });  

    datatableActions.init();
    
    datatableActions.multilang = '<?=$multilang?>';
    datatableActions.fieldsets = <?=$fieldset_var?>;

    $('#dialog-delete-confirm-item').hide();
    $('#dialog-delete-confirm-items').hide();

    $('body').delegate('.edit-tag', 'click', function() {   
        var rel = $(this).attr('rel');
        datatableActions.edit_item(datatable_name , prev_location , rel);
    });  

    $('body').delegate('.extraedit', 'click', function() {   
        var rel = $(this).attr('rel');
        window.location = '/admin/template_widgets/id/'+rel;
    });    
    
    $('body').delegate('#edit-save', 'click', function() {   
        datatableActions.save(datatable_name , prev_location);
    });

    $('body').delegate('#mass_delete', 'click', function() {   
        var checkboxes = $('input:checkbox').serialize();
        $( "#dialog-delete-confirm-items" ).dialog({
          resizable: false,
          height: 180,
          modal: true,
          buttons: {
            "<?echo Globals::trl('delete');?>": function() {
              $( this ).dialog( "close" );
              datatableActions.delete_items(datatable_name , prev_location , checkboxes);
              console.log(checkboxes);
            },
            "<?echo Globals::trl('cancel');?>": function() {
              $( this ).dialog( "close" );
            }
          }
        });

        
    }); 

    $('body').delegate('#add_btn', 'click', function() {   
        datatableActions.openAddModal();
    }); 
    

    $('body').delegate('.delete-tag', 'click', function() {   
        var rel = $(this).attr('rel');
        $( "#dialog-delete-confirm-item" ).dialog({
          resizable: false,
          height: 180,
          modal: true,
          buttons: {
            "<?echo Globals::trl('delete');?>": function() {
              $( this ).dialog( "close" );
              console.log('delete->'+rel);
              datatableActions.delete_item(datatable_name , prev_location , rel);
            },
            "<?echo Globals::trl('cancel');?>": function() {
              $( this ).dialog( "close" );
            }
          }
        });   
    }); 


    //--------------- Data tables ------------------//
    if($('table').hasClass('dynamicTable')){
        $('.dynamicTable').dataTable({
            "sPaginationType": "full_numbers",
            "bJQueryUI": false,
            "iDisplayLength": 50,
            "bAutoWidth": false,
            "bLengthChange": false,
            "bStateSave": true,
            "aaData": <?php echo $this->getHelper('dataTable')->jsonrows?>,
            "fnInitComplete": function(oSettings, json) {
              $('.dataTables_filter>label>input').attr('id', 'search');
            }
        });
    }

});
</script>