<div class="contentwrapper"><!--Content wrapper-->
    <div class="heading">
        <h3>Αρχεία</h3>
    </div><!-- End .heading-->

    <!-- Build page from here: Usual with <div class="row-fluid"></div> -->

    <div class="row-fluid">
        <div class="span12">

            <div class="box">

                <div class="title">

                    <h4>
                        <span class="icon16 icomoon-icon-stack "></span>
                        <span>Αρχεία</span>
                    </h4>
                    <a class="minimize" href="#" style="display: none;">Minimize</a>
                </div>
                <div class="content noPad">
                    <div id="elfinder"></div>
                </div>

            </div><!-- End .box -->

        </div>

    </div><!-- End .row-fluid -->
    <!-- Page end here -->

</div><!-- End contentwrapper -->