<!-- TinyMCE Popup class (REQUIRED) -->
<script type="text/javascript" src="<?php echo assetsdir;?>plugins/forms/tiny_mce/tiny_mce_popup.js"></script>

<script type="text/javascript">
        var FileBrowserDialogue = {
            init: function() {
                // Here goes your code for setting your custom things onLoad.
            },
            mySubmit: function (URL) {
                var absoluteURL=URL.replace(/^.*\/\/[^\/]+/, '');
                var targetelem='<?= $this->targetelem; ?>';
                if(targetelem!=''){
                    window.opener.document.getElementById(targetelem).value=absoluteURL;
                    window.close();
                }else{
                    var win = tinyMCEPopup.getWindowArg('window');

                    // pass selected file path to TinyMCE
                    win.document.getElementById(tinyMCEPopup.getWindowArg('input')).value = absoluteURL;

                    // are we an image browser?
                    if (typeof(win.ImageDialog) != 'undefined') {
                        // update image dimensions
                        if (win.ImageDialog.getImageData) {
                            win.ImageDialog.getImageData();
                        }
                        // update preview if necessary
                        if (win.ImageDialog.showPreviewImage) {
                            win.ImageDialog.showPreviewImage(absoluteURL);
                        }
                    }

                    // close popup window
                    tinyMCEPopup.close();
                }
            }
        }

  tinyMCEPopup.onInit.add(FileBrowserDialogue.init, FileBrowserDialogue);

  $().ready(function() {
    var elf = $('#elfinder').elfinder({
      // set your elFinder options here
      url: 'php/connector.php',  // connector URL
      getFileCallback: function(file) { // editor callback
        FileBrowserDialogue.mySubmit(file); // pass selected file path to TinyMCE 
      }
    }).elfinder('instance');      
  });
</script>

<div id="elfinder"></div>