<?php
$params  = Globals::returnParams($this->params);
$limit   = $params['limit'];

$my_orders_obj = new myorders_widget($_SESSION['visitor']['user_id'], $limit);
$data = $my_orders_obj->data;
?>
<div class="p10 myorders">
	<table>
		<tbody>
			<tr>
				<th><?php echo Globals::trl('Order Number')?></th><th><?php echo Globals::trl('Order Date')?></th><th><?php echo Globals::trl('Shipping')?></th>
				<th><?php echo Globals::trl('Status')?></th>
			</tr>
			
			<?php foreach ($data as $key => $value) {?>
			<tr>
				<td>
					<a href="#<?php echo $value['order_number_id']?>" class="active fancybox ord" ><?php echo $value['order_number_id']?></a>
					<div id="<?php echo $value['order_number_id']?>" style="display: none"><?php echo $value['order_html']?></div>
				</td>
				<td><?php echo Globals::nice_dates($value['order_date']);?></td>
				
				<?php 
				if(!empty($value['order_tracking'])){
					$order_tracking = $value['order_tracking'];
				}else{
					$order_tracking = "---";
				}	
				?>
				<td><?php echo $order_tracking?></td>
				
				<?php 
				if(!empty($value['ord_status'])){
					$order_status = $value['ord_status'];
				}else{
					$order_status = "---";
				}	
				?>
				<td><?php echo Globals::trl($order_status)?></td>
			</tr>
			<?php }?>

		</tbody>
	</table>
</div>

<script type="text/javascript">
$(document).ready(function() {
			$(".fancybox").fancybox();
});			
</script>