<?php 
$account = $_SESSION['visitor'];
?>
<div class="content">
	<div class="main">
		<div class="p20">

			<div class="row">
				<div class="w10">
					<h3 class="heading"><span><?php echo Globals::trl('UPDATE ACCOUNT INFO');?></span></h3>		
				</div>
			</div>

			<!-- Error Section -->
			<div class="p10" id="error-section-form" style="display:none">
				<p><?php echo Globals::trl('Found Errors')?></p>
				<p class="info"></p>		
			</div>


			<div class="row">
				<div class="w10">
					<div class="register">
						<form id="myaccount-form">
							<fieldset class="block-labels">
								<label><?php echo Globals::trl('Firstname');?></label>
								<div class="w7">
									<input class="inputbox" autofocus="autofocus" required="required" type="text" placeholder="" name="firstname" value="<?php echo $account['firstname']?>" />
								</div>
							</fieldset>
							<fieldset class="block-labels">
								<label><?php echo Globals::trl('Lastname');?></label>
								<div class="w7">
									<input class="inputbox" autofocus="autofocus" required="required" type="text" placeholder="" name="lastname" value="<?php echo $account['lastname']?>" />
								</div>
							</fieldset>
							<fieldset class="block-labels">
								<label><?php echo Globals::trl('password');?></label>
								<div class="w7">
									<input class="inputbox" autofocus="autofocus" required="required" type="password" placeholder="******" name="password" value="" />
								</div>
							</fieldset>
							<fieldset class="block-labels">
								<label><?php echo Globals::trl('Password again');?></label>
								<div class="w7">
									<input class="inputbox" autofocus="autofocus" required="required" type="password" placeholder="******" name="password2" value="" />
								</div>
							</fieldset>	
							<br/>
							<div class="border-btm"></div>
							<br/>
							<div class="w3"><button class="button button-green" id="myaccount_btn"><?php echo Globals::trl('UPDATE ACCOUNT INFO');?></button></div>

						</form>
					</div>	
				</div>
			</div>
			
		</div>
	</div>
</div>