<?php
$lang_region = $_SESSION['language']['lang_region'];
$months = Globals::getMonths($lang_region);
?>
<div class="content">
	<div class="main">
		<div class="p20">

			<div class="row">
				<div class="w10">
					<h3 class="heading"><span><?php echo Globals::trl('Registration');?></span></h3>		
				</div>
			</div>

			<!-- Error Section -->
			<div class="p10" id="error-section-form" style="display:none">
				<p><?php echo Globals::trl('Found Errors')?></p>
				<p class="info"></p>		
			</div>

			
			<div class="row">
				<div class="w10">
					<div class="register">
						<form id="registration-form">
						
							<fieldset class="block-labels">
								<label><?php echo Globals::trl('Firstname');?></label>
								<div class="w7">
									<input class="inputbox" autofocus="autofocus" required="required" type="text" placeholder="" name="firstname" value="" />
								</div>
								<div class="w3">&nbsp;</div>
							</fieldset>
							
							<fieldset class="block-labels">
								<label><?php echo Globals::trl('Lastname');?></label>
								<div class="w7">
									<input class="inputbox" type="text" required="required" placeholder="" name="lastname" value="" />
								</div>
								<div class="w3">&nbsp;</div>
							</fieldset>
							
							<fieldset class="block-labels">
								<label>Email</label>
								<div class="w7">
									<input class="inputbox" type="email" required="required" placeholder="your@email.com" name="email" value="" />
								</div>
							</fieldset>
							
							<fieldset class="block-labels">
								<label><?php echo Globals::trl('Password');?></label>
								<div class="w7">
									<input class="inputbox" type="password" required="required" placeholder="******" autocomplete="off" name="password" value="" />
								</div>
							</fieldset>
							
							<fieldset class="block-labels">
								<label><?php echo Globals::trl('Repeat Password');?></label>
								<div class="w7">
									<input class="inputbox" type="password" required="required" placeholder="******" autocomplete="off" name="password2" value="" />
								</div>
								<div class="w3">&nbsp;</div>
							</fieldset>
							
							<fieldset class="block-labels">
								<label><?php echo Globals::trl('Date of birth');?></label>
								<div class="w7">
									<select id="user-birth-day" name="day" class="" data-action="change-values">
										<option value="" selected="selected"><?php echo Globals::trl('Day');?></option>
										<option value="01">1</option>
										<option value="02">2</option>
										<option value="03">3</option>
										<option value="04">4</option>
										<option value="05">5</option>
										<option value="06">6</option>
										<option value="07">7</option>
										<option value="08">8</option>
										<option value="09">9</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
										<option value="13">13</option>
										<option value="14">14</option>
										<option value="15">15</option>
										<option value="16">16</option>
										<option value="17">17</option>
										<option value="18">18</option>
										<option value="19">19</option>
										<option value="20">20</option>
										<option value="21">21</option>
										<option value="22">22</option>
										<option value="23">23</option>
										<option value="24">24</option>
										<option value="25">25</option>
										<option value="26">26</option>
										<option value="27">27</option>
										<option value="28">28</option>
										<option value="29">29</option>
										<option value="30">30</option>
										<option value="31">31</option>
									</select>
									<select id="user-birth-month" name="month" class="" data-action="change-values">
										<option value="" selected="selected"><?php echo Globals::trl('Month');?></option>
										<?php foreach ($months as $key => $month) {?>
										<option value="<?php echo $key?>"><?php echo $month?></option>
										<?php }?>
									</select>
									<select id="user-birth-year" name="year" class="" data-action="change-values">
										<option value="" selected="selected"><?php echo Globals::trl('Year');?></option>
										<?php for ($i=1930; $i < 2008; $i++) {?>
										<option value="<?php echo $i?>"><?php echo $i?></option>
										<?php }?>
									</select>
								</div>
							</fieldset>
							
							<fieldset class="block-labels">
								<label><?php echo Globals::trl('Sex');?></label>
								<div class="w7 inline-labels">
									<label for="gender-man"><?php echo Globals::trl('Male');?></label>
									<input type="radio" name="gender" id="gender-man" value="male" checked />
									<label for="gender-woman"><?php echo Globals::trl('Female');?></label>
									<input type="radio" name="gender" id="gender-woman" value="female" />
								</div>
								<div class="w3">&nbsp;</div>
							</fieldset>
							
							<div class="border-btm"></div>
							
							<fieldset>
								<div class="w7">
									<div class="p10-0">
										<input type="checkbox" id="member" name="member" value="1" />
										<label for="member"><?php echo Globals::trl('I want to be a member of PAOSHOP.GR');?></label>
										<br />
										<input type="checkbox" id="newsletter" name="newsletter" value="1" />
										<label for="newsletter"><?php echo Globals::trl('I accept newsletters from PAOSHOP.GR');?></label>
										<br />
										<input type="checkbox" id="terms" required="required" name="terms" value="1" checked />
										<label for="terms"><?php echo Globals::trl('I have read and accept the');?><a class="fancybox" data-fancybox-type="iframe" href="https://www.paoshop.gr/content/106/oroi-xrisis"> <?php echo Globals::trl('terms and conditions');?></a></label>
									</div>
								</div>
								<div class="w3">&nbsp;</div>
							</fieldset>
							
							<div class="border-btm"></div>
							
							<fieldset>
								<button class="button button-green" id="reg_form"><?php echo Globals::trl('Registration');?></button>
							</fieldset>
							
						</form>
					</div>	
				</div>
			</div>
			
		</div>
	</div>
</div>