<div class="content">
	<div class="main">
		<div class="p20">

			<div class="row">
				<div class="w10">
					<h3 class="heading"><span><?php echo Globals::trl('RESET PASSWORD');?></span></h3>		
				</div>
			</div>

			<!-- Error Section -->
			<div class="p10" id="error-section-form" style="display:none">
				<p><?php echo Globals::trl('Found Errors')?></p>
				<p class="info"></p>		
			</div>


			<div class="row">
				<div class="w10">
					<div class="register">
						<form id="resetpassword-form">
									<p class="info"><?php echo Globals::trl('To reset your password please type your email bellow and press RESET.');?></p>
							<fieldset class="block-labels">
								
								<div class="w4">
									<input class="inputbox" autofocus="autofocus" required="required" type="email" placeholder="" name="email" value="" />
								</div>
								<div class="w3"><button class="button button-green" id="reset_form"><?php echo Globals::trl('RESET PASSWORD');?></button></div>
							</fieldset>

						</form>
					</div>	
				</div>
			</div>
			
		</div>
	</div>
</div>