<!DOCTYPE HTML>
<!--[if lt IE 7]> <html lang="el" class="no-js ie ie6"> <![endif]-->
<!--[if IE 7]> <html lang="el" class="no-js ie ie7"> <![endif]-->
<!--[if IE 8]> <html lang="el" class="no-js ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="no-js ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="el" class="no-js">
<!--<![endif]-->

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <?php echo $this->headTitle();?>
  <?php echo $this->headMeta();?>
  <?php echo $this->headScript();?>
  <?php echo $this->headStyle();?>

  <link rel="stylesheet" href="<?php echo assetsdir?>css/cssgridbox.css" type="text/css" />
  <link rel="stylesheet" href="<?php echo assetsdir?>css/template.css?ver=11" type="text/css" />  
  <link rel="stylesheet" href="<?php echo assetsdir?>css/keegot-tabs.css" type="text/css" />  
  <link rel="stylesheet" href="<?php echo assetsdir?>js/fancybox/jquery.fancybox.css" type="text/css" /> 
  <script src="<?php echo assetsdir?>js/jquery.1.8.js" type="text/javascript"></script>

<!-- Google Analytics -->
<script type="text/javascript">// <![CDATA[
var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-8270638-1']);
		_gaq.push(['_trackPageview']);

		(function () {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
// ]]></script>  
</head>

<body class="site home-page">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/el_GR/all.js#xfbml=1&appId=588648914526214";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<a href="#content" class="skipper">Skip to Content</a>

<?php echo $this->partial('partials/top.phtml' , array('section' => 'top' , 'template_view_id' => $this->template_view_id, 'notices' => $this->messages)) ?>

<div class="main-area-zone">
<?php echo $this->partial('partials/skin_section.phtml' , array('section' => 'skin_section' , 'template_view_id' => $this->template_view_id, 'notices' => $this->messages)) ?>
	<div class="g980 w-screen">
		<div class="row">
			<div class="w10 main-area">
				
				<div class="sidebar">
					<div class="logo-block">
						<a class="sidebar-logo" href="/paoshop" title="Paoshop">Pao Shop</a>
						
						<!--<a class="official-store-badge" href="/" title="Paoshop">
							<span>OFFICIAL STORE</span>
						</a>-->
					</div>
					
					<div class="categories-block">
					<!-- Include Section Sidebar -->
					<?php echo $this->partial('partials/sidebar.phtml' , array('section' => 'sidebar' , 'template_view_id' => $this->template_view_id, 'notices' => $this->messages)) ?>
					</div>
					
					<div class="social">
						<div class="p10">
<!-- 							<h4>ΑΚΟΛΟΥΘΗΣΤΕ ΜΑΣ</h4>
							<div class="social-icons">
								<span class="icon-link facebook"><a href="">facebook</a></span>
								<span class="icon-link twitter"><a href="">twitter</a></span>
								<span class="icon-link rss"><a href="">rss</a></span>
								<span class="icon-link mail"><a href="">mail</a></span>
							</div> -->
						</div>
					</div>
					<?php echo $this->partial('partials/sidebar_bottom.phtml' , array('section' => 'sidebar_bottom' , 'template_view_id' => $this->template_view_id, 'notices' => $this->messages)) ?>
				</div>

				<!-- Sections Content -->
				<?php echo $this->partial('partials/home_sections.phtml' , array('section' => 'home_sections' , 'template_view_id' => $this->template_view_id, 'notices' => $this->messages)) ?>
				
			</div>
		</div>
	</div>
</div>
<?php echo $this->partial('partials/bottom.phtml', array('section' => 'bottom' , 'template_view_id' => $this->template_view_id, 'notices' => $this->messages)) ?>

<script src="<?php echo assetsdir?>js/eshop_basic.js" type="text/javascript"></script>
<script src="<?php echo assetsdir?>js/keegot-tabs.js" type="text/javascript"></script>
<script src="<?php echo assetsdir?>js/template.js" type="text/javascript"></script>
<script src="<?php echo assetsdir?>js/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
<script type="text/javascript" src="https://go.linkwi.se/delivery/js/tl.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        eshop.init({
            login_status: "<?php echo $this->login_status?>",
            prev_location: "<?php echo $this->prev_location?>",
            notice: "<?php echo $this->messages['message']?>",
            la_id: "<?php echo $_SESSION['language']['def_lang_id']?>"
        }); 

        eshop.display_notifications();                                
    });
</script>
</body>
</html>
