        <div class="span12" id="wizzard_div">
            <div class="box gradient">

                <div class="title">

                    <h4>
                        <span>Οδηγός δημιουργίας προϊόντος</span>
                    </h4>

                </div>
                <div class="content noPad clearfix">
                   <!-- Smart Wizard -->
                    <div class="swMain" id="wizard">
                        <ul class="anchor">
                            <li>
                                <a href="#step-1" class="done" isdone="1" rel="1">
                                    <label class="stepNumber">1</label>
                                    <span class="stepDesc">
                                       Περιεχόμενο
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-2" class="selected" isdone="1" rel="2">
                                    <label class="stepNumber">2</label>
                                    <span class="stepDesc">
                                       Ιδιότητες
                                    </span>
                                </a>
                            </li>
                         </ul>
                               
                        
                    <div class="stepContainer" style="height: 232px;">
                        <div id="step-1" style="display: none;">   
                            <h3>Επεξεργασία περιεχομένου</h3>
                            <p style="width:523px;">Eπεξεργασία βασικών στοιχείων προϊόντος</p>
                            <div id="basic_product_fields"></div>
                            <div id="multilanguage_div"></div>
                        </div>
                        <div id="step-2" style="display: block;overflow:auto;">
                           <h3>Χαρακτηριστικά προϊόντος</h3>               
                            <p style="width:523px;">Βασικά χαρακτηριστικά και ιδιότητες του προϊόντος</p>
                            <div id="attributes_product_fields"></div>            
                        </div>

                    </div>
                </div><!-- End SmartWizard Content --> 
                       
                </div>

            </div><!-- End .box -->

        </div> 


        <!-- Required for multilanguage tabs-->
        <div id="multitabs">
            <div style="margin-bottom: 20px;" class="multitabs">
                <ul class="nav nav-tabs pattern" id="myTab">
                    <li class="dropdown active">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Languages <b class="caret"></b></a>
                        <ul class="dropdown-menu">

                         </ul>
                    </li>
                </ul>

                <div class="tab-content">

                </div>
            </div> 
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                accproduct.init({
                    open_firstmenu: false,
                    button_next: "επόμενο",
                    button_prev: "προηγούμενο",
                    button_complete: "ολοκλήρωση",
                    complete_wizard_msg: "Ο οδηγός καταχώρησης περιεχομένου ολοκληρώθηκε",
                    accproduct_id: 0
                });

                multiclone.init({
                    available_languages: [<?php echo Globals::avail_langs();?>]
                });

                dynaforms.init({
                    available_languages: [<?php echo Globals::avail_langs();?>]
                });
                                       
            });
        </script>