        <div class="span12" id="wizzard_div">
            <div class="box gradient">

                <div class="title">

                    <h4>
                        <span>Οδηγός δημιουργίας προϊόντος</span>
                    </h4>

                </div>
                <div class="content noPad clearfix">
                   <!-- Smart Wizard -->
                    <div class="swMain" id="wizard">
                        <ul class="anchor">
                            <li>
                                <a href="#step-1" class="done" isdone="1" rel="1">
                                    <label class="stepNumber">1</label>
                                    <span class="stepDesc">
                                       Περιεχόμενο
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-2" class="selected" isdone="1" rel="2">
                                    <label class="stepNumber">2</label>
                                    <span class="stepDesc">
                                       Ιδιότητες
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-3" class="selected" isdone="1" rel="3">
                                    <label class="stepNumber">3</label>
                                    <span class="stepDesc">
                                       Συνοδευτικά
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-4" class="selected" isdone="1" rel="4">
                                    <label class="stepNumber">4</label>
                                    <span class="stepDesc">
                                       Φωτογραφίες
                                    </span>
                                </a>
                            </li>
                         </ul>
                               
                        
                    <div class="stepContainer" style="height: 232px;">
                        <div id="step-1" style="display: none;">   
                            <h3>Επεξεργασία περιεχομένου</h3>
                            <p style="width:523px;">Eπεξεργασία βασικών στοιχείων προϊόντος</p>
                            <div id="basic_product_fields"></div>
                            <div id="multilanguage_div"></div>
                        </div>
                        <div id="step-2" style="display: block;overflow:auto;">
                           <h3>Χαρακτηριστικά προϊόντος</h3>               
                            <p style="width:523px;">Βασικά χαρακτηριστικά και ιδιότητες του προϊόντος</p>
                            <div id="attributes_product_fields"></div>
                            <div class="title" style="margin-top:30px;"><h4><span>Ιδιότητες και Stock</span></h4></div>
                            <div id="attributes">
                                <div class="form-row row-fluid">
                                    <div class="span4">
                                        <button onclick="product.addattribute();" class="btn btn-success btn-mini">προσθήκη επιλογής</button>
                                    </div>
                                </div>
                                <form class="form-horizontal dynaforms attributes_form" id="attributes_form" novalidate="novalidate">
                                    <div id="attr_row"></div>
                                </form>
                            </div>                            
                        </div>

                        <div id="step-3" style="display: block;overflow:auto;">
                           <h3>Συνοδευτικά</h3>                 
                            <div id="accompanying_product_fields"></div>
                            <!-- Συνοδευτικα προιοντα -->
                            <div class="title" style="margin-top:30px;"><h4><span>Συνοδευτικά προϊόντα</span></h4></div>
                            <div id="accompanying">
                                <div class="form-row row-fluid">
                                    <div class="span4">
                                        <button onclick="product.addaccompanying_product();" class="btn btn-success btn-mini">προσθήκη συνοδευτικού</button>
                                    </div>
                                </div>
                                <form class="form-horizontal dynaforms accompanying_form" id="accompanying_form" novalidate="novalidate">
                                    <div id="acc_row"></div>
                                </form>
                            </div>

                        </div>

                        <div id="step-4" style="display: block;overflow:auto;">
                           <h3>Φωτογραφίες</h3>                 
                            <p style="width:523px;">Φωτογραφικά άλμπουμ</p>
                            <div id="albums_product_fields"></div>
                            <div class="title" style="margin-top:30px;"><h4><span>Επιλογή Φωτογραφίων</span></h4></div>
                            <div id="photogalleries">
                                <div class="form-row row-fluid">
                                    <div class="span4">
                                        <button onclick="product.addphotorow();" class="btn btn-success btn-mini">προσθήκη φωτογραφίας</button>
                                    </div>
                                </div>
                                <form class="form-horizontal dynaforms photogalleries_form" id="photogalleries_form" novalidate="novalidate">

                                    <div id="photo_row"></div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div><!-- End SmartWizard Content --> 
                       
                </div>

            </div><!-- End .box -->

        </div> 


        <!-- Required for multilanguage tabs-->
        <div id="multitabs">
            <div style="margin-bottom: 20px;" class="multitabs">
                <ul class="nav nav-tabs pattern" id="myTab">
                    <li class="dropdown active">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Languages <b class="caret"></b></a>
                        <ul class="dropdown-menu">

                         </ul>
                    </li>
                </ul>

                <div class="tab-content">

                </div>
            </div> 
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                product.init({
                    open_firstmenu: false,
                    button_next: "επόμενο",
                    button_prev: "προηγούμενο",
                    button_complete: "ολοκλήρωση",
                    complete_wizard_msg: "Ο οδηγός καταχώρησης περιεχομένου ολοκληρώθηκε",
                    product_id: 0
                });

                multiclone.init({
                    available_languages: [<?php echo Globals::avail_langs();?>]
                });

                dynaforms.init({
                    available_languages: [<?php echo Globals::avail_langs();?>]
                });
                                       
            });
        </script>