			<!-- <div class="row">
				<div class="w10 breadcrumbs">
					<div class="p10">
					<a href="?page=homepage">Αρχική</a> <span class="separator">/</span> <a href="?page=category">Ρούχα</a> <span class="separator">/</span> Αυθεντική εμφάνιση μπάσκετ 2012/13 - Μαύρη
					</div>
				</div>
			</div> -->

			<div class="unit">
				<div class="row">
					<div class="w5 wt-10">
						<div class="p10">
							
							<!-- gallery goes here -->
							<?php 
							if(!empty($this->gallery)){
								echo $this->partial('partial_galleries/'.$this->gallery['gallery_data'][0]['gallery_template'], $this->gallery);
							}
							?>
							
						</div>
					</div>
					
					<div class="w5 wt-10">
						<div class="p10">
							<h1 class="product-title">
								<?php echo $this->product[0]['name'];?>
							</h1>
							<div class="product-sku border-btm">
								<?php echo Globals::trl('product code');?>: <b><?php echo $this->product[0]['product_code'];?></b>
							</div>
							
							<div class="product-price-area discount border-btm">
								<?php
								$price = Globals::getPrice($this->product[0]['start_price'] , $this->product[0]['end_price']);
								?>

								<?php if(!empty($price['diff'])){?>
									<div class="product-price-start"><?php echo Globals::trl('first price');?>: <span class="strike"><?php echo $price['price'].$price['curr']?> </span></div>
									<div class="product-price-current"><?php echo Globals::trl('pao shop price');?>: <span class="number"><?php echo $price['offer_price'].$price['curr']?></span></div>
									<div class="product-price-profit"><?php echo Globals::trl('you save');?>: <span class="number"><?php echo $price['diff'].$price['curr']?></span></div>
									<div class="product-vat product-notice"><?php echo Globals::trl('including taxes');?></div>
									
									<?php if($price['price'] > 0 && !empty($price['offer_price'])){ 
										$sales_percent = (($price['price'] - $price['offer_price']) / $price['price']) * 100;
									?>
									<span class="badge-discount discount-20">
										<div class="price_box"><div class="price">-<?php echo round($sales_percent)?></div></div>
									</span>
									<?php }?>

								<?php }else{?>
								
									<div class="product-price-current"><?php echo Globals::trl('price');?>: <span class="number"><?php echo $price['offer_price'].$price['curr']?></span></div>
								<?php }?>
							</div>
							
							<!-- important id attributes -->
							<div class="product-filters border-btm">
								
								<form name="attributes" id="attributes">
								<?php 
								if(!empty($this->attributes)){
									foreach ($this->attributes as $key => $group) {?>
										<fieldset class="block-labels">
											<label for="product-size"><?php echo $group[0]['group_name']?></label>
											<select id="attrs" name="attrs[]" class="pseudo" data-action="change-values">
												<?php foreach ($group as $key => $option) {?>
													<option value="<?php echo $option['attr_id']?>"><?php echo $option['attr_value']?></option>
												<?php }?>
											</select>								
										</fieldset>
								<?php 
									}
								}
								?>
								</form>

								<!-- Accompanying products -->
								<form name="acc_products" id="acc_products">
								<?php 
								if(!empty($this->acc_products[0]['products'])){
									foreach ($this->acc_products as $key => $acc_product) {
										?>
										<fieldset class="block-labels">
											<label for="product-size"><?php echo Globals::trl($acc_product['title'])?></label>
											<select id="prd_ids" name="prd_ids[]" class="pseudo" data-action="change-values">
												<option value="0">-</option>
												<?php foreach ($acc_product['products'] as $key => $option) {?>
													<option value="<?php echo $option['product_id']?>">
														<?php echo $option['name']?> 
														<?php if(!empty($option['end_price'])){
															 echo "+".Globals::getthePrice($option['end_price']);
														}?>
													</option>
												<?php }?>
											</select>								
										</fieldset>
								<?php 
									}
								}
								?>
								</form>

								<!-- important id quantity -->
								<fieldset class="block-labels">
									<label for="product-qty"><?php echo Globals::trl('Quantity');?></label>
									<select id="product-qty" name="product-qty" class="pseudo" data-action="change-values">
										<option value="1" selected="selected">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="9">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
									</select>
									
								</fieldset>
								
								<!-- <fieldset>
									<label>Συσκευασία δώρου: 4,00 €</label><input type="checkbox" name="gift" value="" />
								</fieldset> -->
								<input type="hidden" name="product_id" value="<?php echo $this->product_id;?>" id="product_id"/>
									
							</div>
							
							<div id="stock_notice" style="border:1px solid #dfdfdf; padding:4px; margin-top:3px; color:red; display:none;"></div>
							<!--<fb:like width="The pixel width of the plugin" height="The pixel height of the plugin" colorscheme="light" layout="button_count" action="like" show_faces="true" send="false"></fb:like> -->
							<div class="product-action">
								<button class="button button-green add-to-cart f-right"><span class="button-side"><?php echo Globals::trl('BUY IT');?></span></button>
								<button class="button button-white add-to-wishlist f-right" value="<?php echo $this->product_id;?>"><span class="button-white-side">WISHLIST</span></button>
							</div>
							
							<!-- <div class="product-notice">
								<div class="text-right"><a href="#"><?php echo Globals::trl('shipping cost');?></a> - <a href="#"><?php echo Globals::trl('Returns');?></a></div>
							</div> -->

							
						</div>
					</div>
					
				</div>
				
				<div class="row">
					<div class="w10">
						<div class="p10">
						
							<!-- javascript will change dom to display content in tabs -->
							<div class="sections tabs-class">
							
								<div class="tabs-content">
									<div class="tab section product-desc">
										<h4 class="tab-title section-title"><?php echo Globals::trl('description');?></h4>
										<?php echo $this->product[0]['prd_content']?>
									</div>
								</div>
								
							</div>
							<!-- end of tabs -->
							
						</div>
					</div>
				</div>
				
						
			</div>