<?php
$order = $this->vars[0];
?>
<?php echo Globals::trl_reg($order['la_region'],'Dear')." ".$order['firstname']." ".$order['lastname']?>,
<br />  <br />  <?php echo Globals::trl_reg($order['la_region'],'We would like to inform you that your order')?>&nbsp;
<?php echo $order['items'][0]['order_number_id']?> <?php echo Globals::trl_reg($order['la_region'],'was cancelled according to your request or due to dispatch problem. For further info, please contact us')?>.&nbsp;&nbsp; 
<br />  <br />  <?php echo Globals::trl_reg($order['la_region'],'Thank you for shopping with us')?>,
<br />  <br />  <br />  PAO SHOP