<?php
$contact = $this->vars;
?>
CONTACT FORM
<br/><br/>
Firstname:&nbsp;<?php echo $contact['firstname']?>
<br/>
Lastname:&nbsp;<?php echo $contact['lastname']?>
<br/>
email:&nbsp;<?php echo $contact['email']?>
<br/>
phone:&nbsp;<?php echo $contact['phone']?>
<br/>-----------------------------------------<br/>
comment:&nbsp;<?php echo $contact['comment']?>
<br/>