<?php
$order = $this->vars[0];
?>
<?php echo Globals::trl_reg($order['la_region'],'Dear')." ".$order['firstname']." ".$order['lastname']?>,
<br />  <br />  <?php echo Globals::trl_reg($order['la_region'],'We are sorry to inform you that your order')?> <?php echo $order['items'][0]['order_number_id']?> <?php echo Globals::trl_reg($order['la_region'],'will be delayed')?>. 
<?php echo Globals::trl_reg($order['la_region'],'To learn more about this, please contact us at')?> + 30 210 61 49 937.&nbsp;&nbsp; 
<br />  <br />  <?php echo Globals::trl_reg($order['la_region'],'Thank you for your understanding')?>,&nbsp;&nbsp; 
<br />  <br />  PAO SHOP