<?php echo Globals::trl('Dear')." ".$this->customerName?>,
<br />  <br />  
<?php echo $this->orderComments?>
<br />  <br />   <?php echo Globals::trl('For more information, please contact us at')?> + <?php echo $this->phonenumber?>.
<br />  <br />  <?php echo Globals::trl('Thank you for your understanding')?>,
<br />  <br />  PAO SHOP