<?php
$order = $this->vars[0];
?>

<?php echo Globals::trl_reg($order['la_region'] , 'Dear')?> ,
<br />  <br />  <?php echo Globals::trl_reg($order['la_region'] , 'Thank you for shopping with us!This is an automated message, to confirm that we’ve got your order')?>:
<br />  <br /><?php echo $order['firstname']?> <?php echo $order['lastname']?>
<br />  <br />  <?php echo Globals::trl_reg($order['la_region'] , 'Order Id')?>:&nbsp;<?php echo $order['order_number_id']?>
<br />  <?php echo Globals::trl_reg($order['la_region'] , 'Payment Method')?>:&nbsp;<?php echo $order['pay_name']?>
<br />  <?php echo Globals::trl_reg($order['la_region'] , 'Shipping Address')?>:&nbsp;<?php echo $order['address']?> / <?php echo $order['address_more']?> / <?php echo $order['city_name']?> / <?php echo $order['country_code']?>
<br />  <br />  <?php echo Globals::trl_reg($order['la_region'] , 'Your order contains')?>:&nbsp;


<br />  <br />  
<table style="width: 90%;" border="1" cellpadding="5" cellspacing="0">
<tbody>
<tr>
<td><?php echo Globals::trl_reg($order['la_region'] , 'Product Code')?></td>
<td><?php echo Globals::trl_reg($order['la_region'] , 'Product Name')?></td>
<td><?php echo Globals::trl_reg($order['la_region'] , 'Price')?></td>
<td><?php echo Globals::trl_reg($order['la_region'] , 'Quantity')?></td>
<td><?php echo Globals::trl_reg($order['la_region'] , 'Total Price')?></td>

</tr>
<?php foreach ($order['items'] as $key => $item) {?>
<tr>
	<td><?php echo $item['product_code']?></td>
	<?php if($item['accompaying'] == 0){?>
	<td><?php echo $item['name']?>&nbsp;
		<?php if(!empty($item['attr_value'])){?>
			(<?php echo $item['attr_value']?>)
		<?php }?>
	</td>
	<?php }else{?>
	<td><?php echo $item['prd_description']?></td>
	<?php }?>
	<td><?php echo Globals::getthePrice($item['price'])?></td>
	<td><?php echo $item['quantity']?></td>
	<td><?php echo Globals::getthePrice($item['quantity'] * $item['price'])?></td>
</tr>
<?php }?>
</tbody>
</table>


<br />  <br />  <?php echo Globals::trl_reg($order['la_region'] , 'Cost of Goods (VAT included)')?>:&nbsp;<?php echo Globals::getthePrice($order['order_price'])?>
<br /> <?php echo Globals::trl_reg($order['la_region'] , 'Shipping Cost')?>:&nbsp;<?php echo Globals::getthePrice($order['order_shipping'])?>
<?php 
	if(!empty($order['order_cod'])){
?>
<br /><?php echo Globals::trl_reg($order['la_region'] , 'Handling Cost')?>:&nbsp;<?php echo Globals::getthePrice($order['order_cod'])?>
<?php }?>
<br />  <?php echo Globals::trl_reg($order['la_region'] , 'Wrapping Cost')?>:&nbsp;<?php echo Globals::getthePrice($order['wrap_packaging_cost'])?>
<br />  <?php echo Globals::trl_reg($order['la_region'] , 'Discount')?>:&nbsp;<?php echo Globals::getthePrice($order['order_discount'])?>
<br />  <br />  <?php echo Globals::trl_reg($order['la_region'] , 'Total cost (VAT included)')?>:&nbsp;<?php echo Globals::getthePrice($order['email_cost'])?>
<br />  <br />  <?php echo Globals::trl_reg($order['la_region'] , 'Thank you for shopping with us!')?>
<br />  <br />  PAO SHOP