<?php
$pass = $this->vars;
?>
<?php echo Globals::trl_reg($pass['la_region'],'Dear Customer')?>,
<?php echo Globals::trl_reg($pass['la_region'],'Your new password is')?> <strong><?php echo $pass['password']?></strong>
<br />  <br />  <?php echo Globals::trl_reg($pass['la_region'],'After you log in to')?> <a href="http://www.paoshop.gr">www.paoshop.gr</a> <?php echo Globals::trl_reg($pass['la_region'],'using your new password, you can go to')?> 
<a href="http://www.paoshop.gr/myaccount">http://www.paoshop.gr/myaccount</a>
<br />  <br />  PAO SHOP

