<?php
$order = $this->vars[0];
?>
<?php echo Globals::trl_reg($order['la_region'],'Dear')." ".$order['firstname']." ".$order['lastname']?>,
<br />  <br />  <?php echo Globals::trl_reg($order['la_region'],'We would like to inform you that your order')." ".Globals::trl_reg($order['la_region'],'was dispatched to the courier service and soon will be delivered to you') ?>
<br />  <?php echo Globals::trl_reg($order['la_region'],'Your order contains');?>:
<br/><br/>
<table style="width: 90%;" border="1" cellpadding="5" cellspacing="0">
<tbody>
<tr>
<td><?php echo Globals::trl_reg($order['la_region'] , 'Product Code')?></td>
<td><?php echo Globals::trl_reg($order['la_region'] , 'Product Name')?></td>
<td><?php echo Globals::trl_reg($order['la_region'] , 'Price')?></td>
<td><?php echo Globals::trl_reg($order['la_region'] , 'Quantity')?></td>
<td><?php echo Globals::trl_reg($order['la_region'] , 'Total Price')?></td>

</tr>
<?php foreach ($order['items'] as $key => $item) {?>
<tr>
	<td><?php echo $item['product_code']?></td>
	<?php if($item['accompaying'] == 0){?>
	<td><?php echo $item['name']?>&nbsp;
		<?php if(!empty($item['attr_value'])){?>
			(<?php echo $item['attr_value']?>)
		<?php }?>
	</td>
	<?php }else{?>
	<td><?php echo $item['prd_description']?></td>
	<?php }?>
	<td><?php echo Globals::getthePrice($item['price'])?></td>
	<td><?php echo $item['quantity']?></td>
	<td><?php echo Globals::getthePrice($item['quantity'] * $item['price'])?></td>
</tr>
<?php }?>
</tbody>
</table>

<br />
<br />  <br />  <?php echo Globals::trl_reg($order['la_region'],'Order ID')?>:<?php echo $order['items'][0]['order_number_id']?>
<br />  <br />  <?php echo Globals::trl_reg($order['la_region'],'Thank you for shopping with us')?>!&nbsp;&nbsp;
<br />  <br />  PAO SHOP