<?php
$order = $this->vars[0];
?>

<strong>ID παραγγελίας:</strong> <?php echo $order['order_id']?><br />  
<strong>Κωδικός παραγγελίας:</strong> <?php echo $order['order_number_id']?><br />  
<strong>Ημ. παραγγελίας:</strong> <?php echo $order['order_date']?>
<br />  <br />  Μια καινούρια παραγγελία δημιουργήθηκε για τον πελάτη <?php echo $order['firstname']?>&nbsp;<?php echo $order['lastname']?>.
<br />  <strong>Στοιχεία παράδοσης:</strong> 
<br />  <?php echo $order['firstname']?>&nbsp;<?php echo $order['lastname']?>
<br />  <?php echo $order['address']?>
<br />  <?php echo $order['address_more']?>
<br />  <?php echo $order['city_name']?>
<br />  <?php echo $order['area_name']?>
<br />  <?php echo $order['country_code']?>
<br />  <?php echo $order['postal']?>
<br />  <?php echo $order['phone']?>

<br />  <br />  <strong>Στοιχεία τιμολόγησης:</strong>
<?php if($order['invoice_type'] == 1){?>
<br />  <?php echo $order['invoice_company_name']?>
<br />  <?php echo $order['invoice_profession']?>
<br />  <?php echo $order['invoice_address']?>
<br />  <?php echo $order['vat']?>
<br />  <?php echo $order['doy']?>
<?php }else{?>
<br /> Απόδειξη Λιανικής
<?php }?>
<br />  <br />  <strong>Στην παραγγελία περιλαμβάνονται τα παρακάτω είδη:</strong>
<br />  <br />  
<table style="width: 90%;" border="1" cellpadding="5" cellspacing="0">
<tbody>
<tr>
<td>Κωδικός Προϊόντος</td>
<td>Προϊόν</td>
<td>Τιμή</td>
<td>Ποσότητα</td>
<td>Σύνολο</td>

</tr>
<?php foreach ($order['items'] as $key => $item) {?>
<tr>
	<td><?php echo $item['product_code']?></td>
	<?php if($item['accompaying'] == 0){?>
	<td><?php echo $item['name']?>&nbsp;
		<?php if(!empty($item['attr_value'])){?>
			(<?php echo $item['attr_value']?>)
		<?php }?>
	</td>
	<?php }else{?>
	<td><?php echo $item['prd_description']?></td>
	<?php }?>
	<td><?php echo Globals::getthePrice($item['price'])?></td>
	<td><?php echo $item['quantity']?></td>
	<td><?php echo Globals::getthePrice($item['quantity'] * $item['price'])?></td>
</tr>
<?php }?>
</tbody>
</table>
<br />  <br />  <strong>Aξία εμπορευμάτων με ΦΠΑ:</strong> <?php echo Globals::getthePrice($order['order_price'])?>
<br />  <strong>Έξοδα αποστολής:</strong> <?php echo Globals::getthePrice($order['order_shipping'])?>
<br />  <strong>Έξοδα αντικαταβολής:</strong> <?php echo Globals::getthePrice($order['order_cod'])?>
<br />  <strong>Έξοδα συσκευασίας:</strong> <?php echo Globals::getthePrice($order['wrap_packaging_cost'])?>
<br />  <strong>Έκπτωση:</strong> <?php echo Globals::getthePrice($order['order_discount'])?>
<br />  <br />  <strong>Σύνολο παραγγελίας με ΦΠΑ:</strong> <?php echo Globals::getthePrice($order['email_cost'])?>
<br />  <br />  <strong>Τρόπος πληρωμής:</strong>
<br />  <?php echo $order['pay_name']?> <br />  
<strong>Τρόπος παράδοσης:</strong>
<br />  <?php echo $order['shipping_pack_name']?>
<br />  <br />  
<strong>Για την παραγγελία ο χρήστης έχει κάνει τα παρακάτω σχόλια:</strong>
<br />  <br />  <?php echo $order['comment']?>
<br />