        <div class="span12" id="order_div">
            <div class="box gradient">

                <div class="title">

                    <h4>
                        <span>Παραγγελία</span>
                    </h4>

                </div>
                <div class="content noPad clearfix">
                <!-- Content Goes Here  -->   
                <div class="page-header">
                                
                    <div class="page-header">
                        <h4>&nbsp;&nbsp;Αρ. Παραγγελίας:<?echo $this->product_id?><span id="order_num"></span> / <span id="order_date"></span></h4>
                        <div id="order_status_fields" class="span12"></div>
                    </div>   
                          
                    <div style="margin-bottom: 20px;">
                        <div class="tabbable tabs-below">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1" data-toggle="tab">Προϊόντα</a></li>
                                <li class=""><a href="#tab2" data-toggle="tab">Στοιχεια Τιμολογίου</a></li>
                                <li class=""><a href="#tab3" data-toggle="tab">Στοιχεία Παραγγελίας</a></li>
                                <li class=""><a href="#tab4" data-toggle="tab">Οικονομικά - Μεταφορικά</a></li>
                                <li class=""><a href="#tab5" data-toggle="tab">Σχόλιο Πελάτη</a></li>
                                <li class=""><a href="#tab6" data-toggle="tab">Προεπισκόπηση</a></li>
                            </ul>
                            <div class="tab-content" id="alltabs">
                                <div class="tab-pane active" id="tab1">
                                    <div class="span10">
                                        <div class="box">
                                            <div class="title">
                                                <h4>
                                                    <span class="icon16 icomoon-icon-equalizer-2"></span>
                                                    <span>Προϊόντα</span>
                                                </h4>
                                                <a href="#" class="minimize">Minimize</a>
                                            </div>
                                            <div class="content noPad">
                                                <table class="table">
                                                  <thead>
                                                    <tr>
                                                      <th>Κωδικός</th>
                                                      <th>Προϊόν</th>
                                                      <th>Τιμή</th>
                                                      <th>Τεμ.</th>
                                                      <th>Σύνολο</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                  <?php foreach ($this->items as $key => $item) {?>  
                                                    <tr class="info">
                                                        <td><?php echo $item['product_code']?></td>
                                                        <?php if($item['accompaying'] == 0){?>
                                                        <td><?php echo $item['name']?>&nbsp;
                                                            <?php if(!empty($item['attr_value'])){?>
                                                                (<?php echo $item['attr_value']?>)
                                                            <?php }?>
                                                        </td>
                                                        <?php }else{?>
                                                        <td><?php echo $item['prd_description']?></td>
                                                        <?php }?>
                                                        <td><?php echo Globals::getthePrice($item['price'])?></td>
                                                        <td><?php echo $item['quantity']?></td>
                                                        <td><?php echo Globals::getthePrice($item['quantity'] * $item['price'])?></td>
                                                    </tr>
                                                  <?php }?>
                                                  </tbody>
                                                </table>
                                                <br/>
                                                <h4>Προϊόντα: <span id="i–product_price"></span>&euro;</h4>
                                                <h4>Μεταφορικά: <span id="i–order_shipping"></span>&euro;</h4>
                                                <h4>Συσκευασία: <span id="i–wrap_packaging_cost"></span>&euro;</h4>
                                                
                                                <h4>Έκπτωση: <span id="i–order_discount"></span>&euro;</h4>
                                                <h4>Γενικό Σύνολο: <span id="i–total_price"></span>&euro;</h4>
                                            </div>

                                        </div><!-- End .box -->

                                    </div><!-- End .span6 -->
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <div id="invoice_data_fields"></div>
                                   
                                </div>
                                <div class="tab-pane" id="tab3">
                                    <div id="basic_order_fields"></div>   
                                </div>
                                <div class="tab-pane" id="tab4">
                                    <div id="shipping_fields"></div>   
                                </div>
                                <div class="tab-pane" id="tab5">
                                    <div id="customer_comment" style="border: 1px solid #777; background: #dfdfdf; height:200px;padding:4px;"></div>   
                                </div>
                                <div class="tab-pane" id="tab6">
                                    <div id="order_html"></div>
                                </div>
                                <br/>
                                <button class="btn btn-success" id="ord-submit"> ΑΛΛΑΓΗ ΣΤΟΙΧΕΙΩΝ </button>
                                <button class="btn btn-warning" href="javascript: void();" onclick="javascript: history.back();"> ΕΠΙΣΤΡΟΦΗ </button>
                    
                            </div>

                            

                        </div>
                    </div>
                    
         


                </div>

            </div><!-- End .box -->

        </div> 




        <script type="text/javascript">
            $(document).ready(function () {
                orders.init({
                    order_id: "<?echo $this->order_id?>"
                });

                multiclone.init({
                    available_languages: [<?php echo Globals::avail_langs();?>]
                });

                dynaforms.init({
                    available_languages: [<?php echo Globals::avail_langs();?>]
                });
                                       
            });
        </script>