<?php
    $header_titles = $this->datatable_config[$this->datatable]['header_titles'];
    $rows  = $this->datatable_config[$this->datatable]['rows'];
    $table = $this->datatable;
    $field_id = $this->datatable_config[$this->datatable]['db']['id'];
    $actions = $this->datatable_config[$this->datatable]['actions'];
    $main_title = Globals::trl($this->datatable_config[$this->datatable]['main_title']);

    $add_btn = $this->datatable_config[$this->datatable]['addbutton'];
    $edit_btn = $this->datatable_config[$this->datatable]['edit_button'];
    $add_form_title = $this->datatable_config[$this->datatable]['add_form_title'];
    $edit_form_title = $this->datatable_config[$this->datatable]['edit_form_title'];
    $fieldset_var = $this->datatable_config[$this->datatable]['fieldset_var'];
    $multilang = $this->datatable_config[$this->datatable]['multilang'];

    if(isset($this->datatable_config[$this->datatable]['join'])){
        $join = $this->datatable_config[$this->datatable]['join'];
    }else{
        $join = false;
    }
    
    if(isset($this->datatable_config[$this->datatable]['join2'])){
        $join2 = $this->datatable_config[$this->datatable]['join2'];
    }else{
        $join2 = false;
    }
?>
    <!-- Data Table -->
    <div class="row-fluid">
            <div class="span12">
                <?php echo $this->dataTable($main_title , $header_titles , $table , $field_id , $rows , $actions , $multilang , $join , $join2); ?>
            </div><!-- End .span12 -->
    </div><!-- End .row-fluid -->

  

<script type="text/javascript">
$(document).ready(function () {
    var datatable_name = '<?php echo $table;?>';
    var prev_location  = '<?php echo $this->prev_location;?>';
    
    multiclone.init({
        available_languages: [<?php echo Globals::avail_langs();?>]
    });

    dynaforms.init({
        available_languages: [<?php echo Globals::avail_langs();?>]
    });  

    datatableActions.init();
    
    $('body').delegate('.print-order', 'click', function() {   
        var rel = $(this).attr('rel');
        popupWindow = window.open(
        '/admin/printorder/'+rel+'','popUpWindow','height=700,width=800,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
    });  

    $('body').delegate('.edit-order', 'click', function() {   
        var rel = $(this).attr('rel');
        window.location = "/admin/editorder/id/"+rel;
    });  
    
    //--------------- Data tables ------------------//
    if($('table').hasClass('dynamicTable')){
        $('.dynamicTable').dataTable({
            "sPaginationType": "full_numbers",
            "bJQueryUI": false,
            "iDisplayLength": 50,
            "bAutoWidth": false,
            "bLengthChange": false,
            "aaData": <?php echo $this->getHelper('dataTable')->jsonrows?>,
            "bStateSave": true,
            "fnInitComplete": function(oSettings, json) {
              $('.dataTables_filter>label>input').attr('id', 'search');
            }
        });
    }
});
</script>