	<?php
		$price = Globals::getPrice($this->start_price , $this->end_price);
	?>

	<div class="w33">
		<div class="p10">
			<div class="list-item">
				<div class="product-thumb">
					<a href="/product/<?php echo $this->product_id?>/<?php echo $this->friendly_url?>"><img src="<?php echo $this->main_photo?>" alt="product-hat" /></a>
					<span class="product-price"><?php echo $price['offer_price'].$price['curr']?></span>
					
					<?php if($price['price'] > 0 && !empty($price['offer_price'])){ 
						$sales_percent = (($price['price'] - $price['offer_price']) / $price['price']) * 100;
					?>
					<span class="badge-discount discount-20">
						<div class="price_box"><div class="price">-<?php echo round($sales_percent)?></div></div>
					</span>
					<?php }?>

				</div>
				<h3 class="product-title">
					<a href="/product/<?php echo $this->product_id?>/<?php echo $this->friendly_url?>"><?php echo $this->name?></a>
				</h3>
				<div class="product-small-desc">
					<?php echo Globals::trim_text($this->prd_description , 220);?>
				</div>
				
				<div class="product-actions">
						<button class="button button-white add-to-wishlist" value="<?php echo $this->product_id?>"><span class="button-white-side">WISHLIST</span></button>
						<button class="button button-green add-to-cart-rel" rel="/product/<?php echo $this->product_id?>/<?php echo $this->friendly_url?>"><span class="button-side"><?php echo Globals::trl('BUY IT');?></span></button>
				</div>
			</div>
		</div>
	</div>

