<?php
$params  = Globals::returnParams($this->params);
$limit   = $params['limit'];

//get page id
$request = Zend_Controller_Front::getInstance()->getRequest();
$pageId = $request->getParam('pageId');

$related_obj = new related_products_widget($pageId, $limit);
$data = $related_obj->data;
?>
<!-- related products start -->
<div class="row">
        <div class="related-products">

                <h2 class="row-title p10">Δείτε επίσης</h2>
     		<?php
                foreach ($data as $key => $prd) {
     			$price = Globals::getPrice($prd['start_price'] , $prd['end_price']);
     		?>                
                <div class="w25">
                        <div class="p10">
                                <a href="/product/<?php echo $prd['product_id']?>/<?php echo $prd['friendly_url']?>"><img src="<?php echo $prd['main_photo']?>" class="" alt="<?php echo $prd['name']?>" /></a>
                                <h3><a href="/product/<?php echo $prd['product_id']?>/<?php echo $prd['friendly_url']?>"><?php echo $prd['name']?></a></h3>
                                <span class="price"><?php echo $price['offer_price']." ".$price['curr']?></span>
                        </div>
                </div>
                <?php
                }
                ?>
        </div>
</div>
<!-- related products end -->