<?
//new dBug($this);
?>
<div id="center-wrapper">
		<div id="widgets_temp">
		<h3>Widgets</h3>
				<div id="container">
				<div class="column left first">

					<ul class="sortable-list" id="0">
						<?php
						foreach ($this->inactiveWidgets as $key => $inactiveWidget) {
						?>
							<li class="sortable-item" id="<?php echo $inactiveWidget['widget_id']?>"><?php echo $inactiveWidget['widget_name']?></li>
						<?php
						}
						?>
					</ul>

				</div>
				</div>

				<?php
				foreach ($this->template_sections as $key => $section) {
				?>
				<div class="column left top" style="max-width:200px; background-color: <?php echo $section['section_color']?>">
					<h4 style="padding:4px;"><?php echo $section['section_name']?></h4>
					<ul class="sortable-list" id="<?php echo $section['template_section_id']?>">
						<?php
						foreach ($this->activeWidgets as $key => $activeWidget) {
							if($section['template_section_id'] == $activeWidget['template_section_id']){
						?>
							<li class="sortable-item" id="<?php echo $activeWidget['widget_id']?>"><?php echo $activeWidget['widget_name']?></li>
						<?php
							}
						}
						?>	
					</ul>
				</div>
				<?php
				}
				?>

				<div class="clearer">&nbsp;</div>


			</div>
</div>			
<script type="text/javascript">

$(document).ready(function(){

    widgets.init({
        template_id: <?php echo $this->template_id;?>
    });


	$('#widgets_temp .sortable-list').sortable({
		connectWith: '#widgets_temp .sortable-list',
		update: function(){
			var id = $(this).attr('id');
			var temp_array = [$(this).attr('id'),$(this).sortable('toArray')];
			widgets.data.push(temp_array);
			
			widgets.saveTemplateChanges(id , function(res) {
				temp_array = [];
			}); 
			
		}
	});
});

</script>
