<div class="bottom-zone">
	<!--<div class="g980 w-screen">
		<div class="row">
			Γίνε μέλος! Για να μαθαίνεις πρώτος τα νέα του PAOSHOP!
			<br />
			<br />
		</div>
	</div>-->
</div>
<div class="footer-zone">
	<div class="g980 w-screen">
		<div class="footer">
			<div class="row">
				
				<div class="w2">
					<div class="p10">
						<div class="supporters">
							<img src="<?php echo assetsdir?>img/paobc.png" alt="paobc" /><br />
							<?php echo Globals::trl('Visit the official website of our team')?>! <br />
							<a href="http://www.paobc.gr">www.paobc.gr</a>
						</div>
					</div>
				</div>
				
				<?php
					echo $this->WidgetLoader($this->section , $this->template_view_id, $this->notices);
				?>	
				
				<div class="w2">
					<div class="payment-icons">
						<span class="card eurobank">Eurobank</span>
						<span class="card visa">Visa</span>
						<span class="card mastercard">Mastercard</span>
						<span class="card euroline">Euroline</span>
						<span class="card diners">Diners</span>
						<span class="card paypal">Paypal</span>
					</div>
				</div>
				
				
			</div>
		</div>
		<a href="http://www.digitalplan.gov.gr/" target="_blank"><img src="<?php echo assetsdir?>img/digiretail.png" border="0" style="float:right; margin-top:-34px;"></a>
	</div>

</div>
<div class="loading"></div>