
<div class="tools-zone">
	<div class="g980 w-screen">
		<div class="row">
			<div class="tools">
				<div class="v-table">
					<div class="top-language v-cell">
						<div class="p2">
<!-- 							<form action="index.php" method="get" class="submit-on-change">
							<fieldset>
								<select id="language" name="language" class="pseudo">
									<option value="1" selected="selected">Ελληνικά</option>
									<option value="2">English</option>
									<option value="3">Spanish</option>
									<option value="4">Russian</option>
									<option value="5">Chinese</option>
								</select>
							</fieldset>
							</form> -->
								<a href="javascript: void;" id="1" class="la"><img src="<?php echo assetsdir?>img/flags/gr.png" alt="gr" /></a>
								<a href="javascript: void;" id="2" class="la"><img src="<?php echo assetsdir?>img/flags/gb.png" alt="gb"  /></a>
								<a href="javascript: void;" id="3" class="la"><img src="<?php echo assetsdir?>img/flags/es.png" alt="es"  /></a>
								<a href="javascript: void;" id="4" class="la"><img src="<?php echo assetsdir?>img/flags/ru.png" alt="ru"  /></a>
								<a href="javascript: void;" id="5" class="la"><img src="<?php echo assetsdir?>img/flags/cn.png" alt="cn"  /></a>

						</div>
					</div>
					
					<div class="top-search v-cell">
						<div class="p2">
							<form action="index.php" method="get">
								<input type="search" id="search" placeholder="<?php echo Globals::trl('Search');?>" results="5" size="50" />
							</form>
						</div>
					</div>
					
					
					
					<div class="top-cart v-cell">
						<div class="p2">
							<a href="/cart"><span class="mini-cart-total">
							<?php 
							if(isset($_SESSION['cart']['totalcost'])){
								$total = $_SESSION['cart']['totalcost'];
							}else{
								$total = 0;
							}
							echo Globals::getthePrice($total);
							?>
							</span></a>
						</div>
					</div>
					<?php $state = ($_GET['login'])?$_GET['login']:0;  ?>
					
					<?php if($_SESSION['visitor']['login_status'] == "online") { ?>	
					<div class="top-user-area v-cell">
						<div class="p2 text-right">
							 <span class="user-point"><a href="/myaccount"><?php echo $_SESSION['visitor']['username']?></a></span> / <a href="/wishlist"><?php echo Globals::trl('MY WISHLIST');?></a> / <a href="/logout"><?php echo Globals::trl('Logout');?></a>
						</div>
					</div>
					
					
					
					<?php }else{ ?>
					<div class="top-login v-cell">
						<div class="p2 text-right">
							<span class="user-point"><a href="/cart-step-1"><?php echo Globals::trl('Connect');?></span> / <a href="/register"><?php echo Globals::trl('Registration');?></a>
						</div>
					</div>
					
					
					<?php }?>
					
				</div>
				
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function () { 
   
    var laid = "<?php echo $_SESSION['language']['def_lang_id']?>";
    $(".la#"+laid).addClass("active");

    $(".la").click(function() {
        var value = $(this).attr('id');
         eshop.change_language(value, function(res) { 
           if(res == true){
             document.location.reload(true);
           }
         }); 
    });

}); 
</script>
