							<div id="merchant_<?php echo $this->pay_method_id?>">
							<fieldset>
								<h4 class="definition"><?php echo $this->pay_name?></h4>
								<div class="w7">
									<input type="radio" name="payment" id="payment" value="<?php echo $this->pay_method_id?>" class="merchant_<?php echo $this->pay_method_id?>"/>
									
									<label for="eltaondelivery"><?php echo $this->pay_notification?></label>
								</div>
								<div class="w3">
									<span class="input-help"><?php echo $this->pay_description?></span>
								</div>
							</fieldset>
							 
							
											
							<div class="border-btm m-20-0"></div>
							</div>