<?php
$params  = Globals::returnParams($this->params);
$section = $params['id'];
$limit   = $params['limit'];
$title   = $params['title'];
$bottom_link   = $this->html;

$products_obj = new two_products_sections_widget($section  , $limit);
$data = $products_obj->data;
?>
<div class="row">
	<div class="w10">
		<div class="offers">
			<h3 class="heading"><span><?php echo Globals::trl($title);?></span></h3>
			
			<!-- start loop -->
			<?php
     		foreach ($data as $key => $prd) {
     			$price = Globals::getPrice($prd['start_price'] , $prd['end_price']);
     		?>
			<div class="w5 offer">
				<div class="p10">
					
					<div class="product">
									


						<div class="w5 product-item">
						

							<a  href="/product/<?php echo $prd['product_id']?>/<?php echo $prd['friendly_url']?>">
								<?php if($price['price'] > 0 && !empty($price['offer_price'])){ 
							$sales_percent = (($price['price'] - $price['offer_price']) / $price['price']) * 100;
						?>
						<span class="badge-discount discount-20">
							<div class="price_box"><div class="price">-<?php echo round($sales_percent)?></div></div>
						</span>
						<?php }?>
								<img src="<?php echo $prd['main_photo']?>" class="a-left">
							</a>
						</div>
						<div class="w5">
						<h3><a href="/product/<?php echo $prd['product_id']?>/<?php echo $prd['friendly_url']?>"><?php echo $prd['name']?></a></h3>
						
						<div class="product-price-area">
							<div class="product-price-start"><?php echo Globals::trl('first price');?>: <span class="strike"><?php echo $price['price'].$price['curr']?></span></div>
							<div class="product-price-current"><?php echo Globals::trl('pao shop price');?>: <span class="number"><?php echo $price['offer_price'].$price['curr']?></span></div>
							<div class="product-price-profit"><?php echo Globals::trl('you save');?>: <span class="number"><?php echo $price['diff'].$price['curr']?></span></div>
						</div>
						</div>
						
						<a class="button-link" href="/product/<?php echo $prd['product_id']?>/<?php echo $prd['friendly_url']?>"><span class="button-side"><?php echo Globals::trl('BUY IT');?></span></a>
						<div class="clr"></div>
					</div>
				</div>
			</div>
			<?php }?>
			<!-- end loop -->
		</div>
	</div>
	
</div>